{% extends "code2learn_app/base.html" %} {% load static %} {% block css %}
<link
  href="{% static 'code2learn_app/css/version7/registerPage/register.css' %}"
  rel="stylesheet"
/>
{% endblock css %} {% block js_up %}
<script src="{% static 'code2learn_app/js/version7/navbar/script.js' %}"></script>
{% endblock js_up %} {% block title %} Reset Password {% endblock title %} 
{% block content %}

<section id="registration-form">
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="card" style="border: none">
          <img
            id="registerimg"
            src="{% static 'code2learn_app/images/version7/registerPage/forgot_pwd.png' %}"
            class="card-img-top"
            alt="Register"
            width="100%"
            height="auto"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12 form pt-3 pb-3">
        <h1 class="heading1">Reset Password</h1>
        {% if error %}
        <div
          class="alert alert-danger alert-dismissible fade show text-center"
          role="alert"
        >
          {{error}}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <form action="" method="POST" style="margin-top: 50px;">
          {% csrf_token %}
          <div class="form-group">
            <div
            class="otpFeedBackArea"
            style="display: none"
          ></div>
            <label for="email">Enter your registered email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              id="email"
              required
            />
          </div>
          <div
            class="emailFeedBackArea invalid-feedback"
            style="display: none"
          ></div>
          <button type="button" class="btn btn-primary btn-lg btn-block" id="sendOtpBtn" onClick="sendOTP()" disabled>Get OTP</button>
          

          <div class="form-group" style="display: none" id="afterOTP">
            <label for="otp">Enter OTP</label>
            <input
              type="number"
              class="form-control"
              name="otp"
              placeholder="OTP"
              id="otp"
              required
            />
          
          <div
            class="OTPFeedBackArea invalid-feedback"
            style="display: none"
          ></div>
          <button type="button" class="btn btn-primary btn-lg btn-block mt-3" id="verifyOtpBtn" onClick="verifyOTP()">Verify OTP</button>
          </div>

          <div class="form-group" style="display: none" id="newPassword">
            <label for="newPassword">Enter your new password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="New Password"
              id="password"
              required
            />
          
          <div
            class="passwordFeedBackArea invalid-feedback"
            style="display: none"
          ></div>
          <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="changePasswordBtn">Reset Password</button>
          </div>
        </form>
        <br />
        <label for="" style="margin-top:10px; float: right;">
          <a href="{% url 'login' %}"> Already Registered?</a>
        </label>
       <label for="" style="margin-top: 10px; float: left;">
         <a href="{% url 'register' %}">New User?</a>
       </label>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block js_down %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'code2learn_app/js/version7/registerPage/reset_pwd.js' %}"></script>
<script>
  $("#submitBtn").click(function () {
    // Storing Field Values In Variables

    var email = document.getElementById("email").value;
    var password = document.getElementById("password").value;

    // Regular Expression For Email
    var emailReg = /.+@[^@]+\.[^@]{2,}$/;
    // Conditions
    if (email != "" && password != "") {
      if (!email.match(emailReg)) {
        // alert("Invalid Email Address...!!!");
        Swal.fire("Error", "Invalid Email Address!", "error");
        return false;
      }
    } else {
      // alert("All fields are required.....!");
      Swal.fire("Error", "All fields are required!", "error");
      return false;
    }
  });
</script>


{% endblock js_down%}
