{% extends "code2learn_app/base.html" %}
{% load custom_template_tags %}
{% load static %}

{% block title %} Blogs {% endblock title %}

 {% block content %}
<section id="blog">
  <div class="container">

    {% if posts|length > 0 %}
   

    <div class="row justify-content-center mb-5">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form action="{% url 'search' %}" method="GET">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search blogs" name="search-query">
                                        
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-dark" style="margin-left: 20px;"  type="submit"><span class="fa fa-search"></span></button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                    
    {% for post in posts %}
      <div class="blog_post">
      <div class="blog_img">
        <img
          src="{{post.thumbnail.url}}"
          alt="blogpost_image"
          width="450"
          height="256"
          style="border-radius: 10%;"
        />
      </div>
      <div class="blog_info">
        <div>
          <ul class="blog_links">
            <li>Posted {{post.timestamp|timesince|upto:','}} ago | By {{post.author}}</li>
          </ul>
          <p><a href="{% url 'blog_single' post.slug %}" target="_self" style="color: black;"
            >{{post.title}}</a></p>
        </div>

        <div class="link-icon">
          <a href="{% url 'blog_single' post.slug %}" target="_self"
            ><i class="fa fa-angle-right btn"></i
          ></a>
        </div>
      </div>
    </div>
    {% if not forloop.last %}
      <hr style="border: 1px solid rgba(0, 0, 0, 0.5); margin: 50px 0" />
    {% endif %}
    {% endfor %}
    
    <div class="row mt-5 justify-content-center">
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item">
        <a class="page-link" href="" style="pointer-events: none; color: black;" aria-label="Previous" aria-disabled="true">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}
    <li class="page-item"><a class="page-link">{{posts.number}}</a></li>
    {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item">
        <a class="page-link" style="pointer-events: none; color: black;" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
    
  </ul>
</nav>
    </div>

    {% else %}

    <h1 class="text-center"> No Blogs </h1>
       
    {% endif %}

  </div>
</section>
{% endblock content %}
