{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Choachizz</title>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Choachizz offers local tutors, online teachers, and teachers to help with tutoring, coaching, assignments, academic projects"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/img/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.0/jquery.easing.min.js"></script>

    <!-- Font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />

    <link href='{% static "assets/css/navbar.css" %}' rel="stylesheet" />
    <link href='{% static "assets/css/InstitutePage.css" %}' rel="stylesheet" />
    <link href='{% static "assets/css/footer.css" %}' rel="stylesheet" />

    <script src='{% static "assets/js/script.js" %}'></script>
  </head>
  <body>
    <section>
      <!-- header -->
      <header
        style="
          background-image: url('{% static 'assets/img/Rectangle%2055.png' %}');
        "
      >
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top"
        >
          <!-- Image Logo -->
          <a class="navbar-brand logo-image" href="{% url 'home' %}"
            ><img src='{% static "assets/img/1.png" %}' alt="alternative"
          /></a>

          <!-- Mobile Menu Toggle Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- end of mobile menu toggle button -->

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
              <!-- Dropdown Menu -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle page-scroll"
                  href="#Find Tutors"
                  id="navbarDropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Find Tutors</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="terms-conditions.html"
                    ><span class="item-text">TERMS CONDITIONS</span></a
                  >
                  <div class="dropdown-items-divide-hr"></div>
                  <a class="dropdown-item" href="privacy-policy.html"
                    ><span class="item-text">PRIVACY POLICY</span></a
                  >
                </div>
              </li>
              <!-- end of dropdown menu -->

              <!-- Dropdown Menu -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle page-scroll"
                  href="#Find Tutors Jobs"
                  id="navbarDropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Find Tutors Jobs</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="terms-conditions.html"
                    ><span class="item-text">TERMS CONDITIONS</span></a
                  >
                  <div class="dropdown-items-divide-hr"></div>
                  <a class="dropdown-item" href="privacy-policy.html"
                    ><span class="item-text">PRIVACY POLICY</span></a
                  >
                </div>
              </li>
              <!-- end of dropdown menu -->

              <!-- Dropdown Menu -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle page-scroll"
                  href="#Institute"
                  id="navbarDropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Institute</a
                >
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="terms-conditions.html"
                    ><span class="item-text">TERMS CONDITIONS</span></a
                  >
                  <div class="dropdown-items-divide-hr"></div>
                  <a class="dropdown-item" href="privacy-policy.html"
                    ><span class="item-text">PRIVACY POLICY</span></a
                  >
                </div>
              </li>
              <!-- end of dropdown menu -->
            </ul>
            <span style="padding-left: 15px">
              <span>
                <a
                  href="{% url 'Signup' %}"
                  class="btn signup-btn"
                  type="submit"
                  >Sign Up</a
                >
              </span>
              <span>
                <a href="{% url 'Login' %}" class="btn login-btn" type="submit"
                  >Log In</a
                >
              </span>
            </span>
          </div>
        </nav>
        <!-- end of navbar -->
        <!-- end of navbar -->

        <div id="banner">
          <div class="row">
            <div class="col-md-6 order-md-1 order-2">
              <img
                src='{% static "assets/img/Group%2085.png" %}'
                alt="Group 85"
                style="
                  position: relative;
                  bottom: 0px;
                  width: 100%;
                  height: 100%;
                  max-width: 450px;
                  max-height: 450px;
                "
              />
            </div>
            <div class="col-md-6 order-md-2 order-1">
              <h1 class="banner-heading">
                Connecting students with their
                <span class="banner-sub">dream </span>tutors.
              </h1>
              <p class="banner-subtitle">
                Get to know the top tutors in your area through Coachizz today.
              </p>

              <a href="#" class="btn getStart-btn">Get Started</a>
            </div>
          </div>
        </div>
      </header>
    </section>

    <section id="What-Can" class="my-5 py-5">
      <div class="container-fuild">
        <h1>
          <img
            src='{% static "assets/img/Group%2087.png" %}'
            alt="group87"
            class="group87"
            width="100%"
            height="100%"
          />
          What can you do with Coachizz?
        </h1>

        <div class="container text-center mt-5">
          <div class="row">
            <div class="col-md-6">
              <img
                src='{% static "assets/img/Group%2043.png" %}'
                alt="group43"
                class="images"
                width="100%"
                height="100%"
              />
              <h1 class="heading1">Find Tutors</h1>
              <a href="#" class=""
                >The best teachers, at the click of <br />
                a button.</a
              >
            </div>
            <div class="col-md-6">
              <img
                src='{% static "assets/img/Group%2031.png" %}'
                alt="group31"
                class="images"
                width="100%"
                height="100%"
              />
              <h1 class="heading1">Find Students</h1>
              <a href="#" class=""
                >Make your institute more <br />
                discoverable.</a
              >
              <br /><br />
              <a
                href="#"
                style="
                  font-family: Roboto;
                  font-weight: normal;
                  font-size: 26px;
                  color: #023b7d;
                "
                >Learn more <i class="fa fa-long-arrow-right fa-1x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="features">
      <h1 class="heading2">Features</h1>
      <img
        src='{% static "assets/img/Group%2086.png" %}'
        alt="group86"
        style="
          position: absolute;
          right: 0px;
          width: 100%;
          max-width: 60px;
          max-height: 350px;
        "
      />
      <div style="margin-top: 130px">
        <div class="row">
          <div class="col-md-4 white-bg">
            <img
              src='{% static "assets/img/Group%2049.png" %}'
              alt="group49"
              class="offer-images"
            />
          </div>
          <div class="col-md-8 blue-bg">
            <h1>Manage Employees and Students</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="text-center">
              <a href="#" class="btn link-btns text-center">Apply Now</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 blue-bg order-md-1 order-2">
            <h1>Search for Students</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="text-center">
              <a href="#" class="btn link-btns">Take a Look</a>
            </div>
          </div>
          <div class="col-md-4 white-bg order-md-2 order-1">
            <img
              src='{% static "assets/img/Group%2072.png" %}'
              alt="group49"
              class="offer-images"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 white-bg">
            <img
              src='{% static "assets/img/Group%2074.png" %}'
              alt="group49"
              class="offer-images"
            />
          </div>
          <div class="col-md-8 blue-bg">
            <h1>Conduct Tests</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="text-center">
              <a href="#" class="btn link-btns">See More</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 blue-bg order-md-1 order-2">
            <h1>Analyze Student Performance</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="text-center">
              <a href="#" class="btn link-btns">Take a Look</a>
            </div>
          </div>
          <div class="col-md-4 white-bg order-md-2 order-1">
            <img
              src='{% static "assets/img/Group%2097.png" %}'
              alt="group97"
              class="offer-images"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="row mb-3 py-5">
        <div class="col-lg-7">
          <div style="color: white; float: left" id="details">
            <span>
              <i class="fa fa-phone icons"></i>
              <ul class="list-unstyled address">
                <li>9999999999</li>
                <li>8989898989</li>
              </ul>
            </span>
            <span>
              <i class="fa fa-map-marker icons"></i>
              <ul class="list-unstyled address">
                <li>Example address,</li>
                <li>Example Road,</li>
                <li>India</li>
              </ul>
            </span>
            <span>
              <i class="fa fa-envelope icons"></i>
              <ul class="list-unstyled address">
                <li>example@gmail.com</li>
              </ul>
            </span>
            <ul class="list-inline mt-4 social-links">
              <li class="list-inline-item">
                <a
                  href="https://www.facebook.com/Code2Learn-103306408351004"
                  target="_blank"
                  title="facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank" title="twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.instagram.com/codee2learn/"
                  target="_blank"
                  title="instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
          <img
            src='{% static "assets/img/Contact%20us-amico.png" %}'
            width="100%"
            height="100%"
            alt="Contact Us"
            id="contact-image"
          />
        </div>
        <div class="col-lg-5">
          <form>
            <h2 class="heading1">Start your journey here</h2>
            <div class="form-group form-row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="First Name"
                  name="name"
                  required
                />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  name="name"
                  required
                />
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address"
                name="email"
                required
              />
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="cnum"
                placeholder="Contact Number"
                name="cnum"
                required
              />
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="3"
                id="comment"
                name="comment"
                placeholder="Enter your message"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-block">Send</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <h2 class="mb-3 logo-heading">CHOACHIZZ</h2>
          <ul class="footer-term list-unstyled mb-0">
            <li class="mb-2">© 2010 — 2020</li>
            <li class="mb-2">Privacy — Terms</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="row">
            <div class="col-6">
              <h6 class="footer-headings mb-3">For Students</h6>
              <ul class="footer-links list-unstyled mb-0">
                <li class="mb-2"><a href="#">Product</a></li>
                <li class="mb-2"><a href="#">Product</a></li>
                <li class="mb-2"><a href="#">Product</a></li>
              </ul>
            </div>
            <div class="col-6">
              <h6 class="footer-headings mb-3">For Teachers</h6>
              <ul class="footer-links list-unstyled mb-0">
                <li class="mb-2"><a href="#">Feature</a></li>
                <li class="mb-2"><a href="#">Feature</a></li>
                <li class="mb-2"><a href="#">Feature</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="row">
            <div class="col-6">
              <h6 class="footer-headings mb-3">For Institues</h6>
              <ul class="footer-links list-unstyled mb-0">
                <li class="mb-2"><a href="#">Resource</a></li>
                <li class="mb-2"><a href="#">Resource</a></li>
                <li class="mb-2"><a href="#">Resource</a></li>
              </ul>
            </div>
            <div class="col-6">
              <h6 class="footer-headings mb-3">Feedback</h6>
              <ul class="footer-links list-unstyled mb-0">
                <li class="mb-2"><a href="#">Company</a></li>
                <li class="mb-2"><a href="#">Company</a></li>
                <li class="mb-2"><a href="#">Company</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Go to Top Link -->
      <a href="body" class="back-to-top page-scroll">
        <i class="fa fa-angle-up"></i>
      </a>

      <!-- End -->
    </section>
  </body>
</html>
