{% extends 'dashboard/Tutor-dashboard.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block main-content %}
<style>
  #card {
    background-color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: black;
  }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="mt-5">
  {% if errors %}
  <div class="alert alert-danger" role="alert">
    <div id='errorsBox'>
      <div>
        <h5
          style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
          Error !</h5>
        <ul>
          {% for x in errors %}
          <li>{{ x }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="card" style="padding-top: 0;" id="card">
    <div class="card-header">
    <h2 style="align-items: center;text-align: center;">Add Exam</h2>
  </div>
    <form class="mt-2" id="frm" method="post">{% csrf_token %}
     {% if INSTtutor %}
      <div class="col-lg-12 col-sm-12 mb-3">
        <div class="custom-checkbox custom-control">
          <input class="form-check-input" type="checkbox" checked  id="instchecked" name="check" onchange="checkinst()">
          <label class="form-check-label" for="defaultCheck1">
            Exam For Institute
          </label>
        </div>
      </div>
      <div class="mx-2 row" id="INSTBATCH">
        <div class="col">
          <label for="validationCustom01"><strong>Select Course<span class="red">*</span></strong></label>
          <select id="select_course" name="course" style="width: 100%" class="js-example-basic-single form-control" onchange="selectcourse()">
            <option class="form-control form-control-lg" selected disabled value="">Select Course</option>
            {% for course in courses %}
            <option class="form-control form-control-lg" value="{{course.id}}">{{course.courseName}} </option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label for="validationCustom01"><strong>Select Class <span class="red">*</span></strong></label>
          <select id="class_select" name="class" style="width: 100%;" class="js-example-basic-single form-control">
            <option class="form-control" selected disabled value="">Select Class</option>
          </select>
        </div>
        <div class="col">
          <label for="validationCustom01"><strong>Select Batch <span class="red">*</span></strong></label>
          <select id="batch_select" name="batch" style="width: 100%;" class="js-example-basic-single form-control">
            <option class="form-control" selected disabled value="">Select Batch</option>
            {% for cat in batch %}
            <option class="form-control" value="{{cat.batchName}}">{{cat.batchName}}</option>
            {% endfor %}
          </select>
        </div>
        {% else %}
        <div class="mx-2 row">
          <div class="col">
            <label for="validationCustom01"><strong>Select Class <span class="red">*</span></strong></label>
            <select id="class_select" name="class" style="width: 100%;" class="js-example-basic-single form-control"onchange="addoptions(this)">
              <option class="form-control" selected disabled value="">Select Class</option>
              {% for x,y in data.items %}
              <option value="{{ x }}">{{ x }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <label for="validationCustom01"><strong>Select Course<span class="red">*</span></strong></label>
            <select id="cn" name="course" style="width: 100%" class="js-example-basic-single form-control">
              <option class="form-control" selected disabled value="">Select Course</option>
            </select>
          </div>
        <div class="col">
         <label for="validationCustom01"><strong>Price<span class="red">*</span></strong></label>
          <input type="number" class="form-control" placeholder="Exam Price" name="price" required>
        </div>
        {% endif %}
      </div>
      <div class="mx-2 row mt-4">
        <div class="col">
          <label for="validationCustom01"><strong>Exam Name <span class="red">*</span></strong></label>

          <input type="text" class="form-control" placeholder="Exam name" name="examname" required>
        </div>
        <div class="col">
          <label for="validationCustom01"><strong>Exam Date <span class="red">*</span></strong></label>
          <input class="form-control" type="date" placeholder="" name="date" required /><br />
          <div class="invalid-feedback">
            Select a valid Date!
          </div>
        </div>
        <div class="col">
          <label for="validationCustom01"><strong>Exam Time <span class="red">*</span></strong></label>
          <input class="form-control" type="time" placeholder="" name="exam_time" required /><br />
          <div class="invalid-feedback">
            Select a valid Time!
          </div>
        </div>
      </div>
      <div class="mx-2 row">
        <div class="col">
          <label for="validationCustom01"><strong>Time Zone<span class="red">*</span></strong></label>
          {% include 'tutor/timezones.html' %}
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom01"><strong>Exam Duration(In Minute) <span class="red">*</span></strong></label>
          <input class="form-control" type="number" min="0" placeholder="00" name="duration" required />
          <div class="invalid-feedback">
            Enter a valid value!
          </div>
        </div>
        <div class="col-md-4 mb-3 ">
          <label for="validationCustom01"><strong>Passing Percentage <span class="red">*</span></strong></label>
          <input class="form-control" type="number" min="0" placeholder="00" name="pp" required />
          <div class="invalid-feedback">
            Enter a valid value!
          </div>
        </div>
      </div>
      <div class=" mx-2 row">
        <div class="col-md-4 mb-3 ">
          <label for="validationCustom01"><strong>No of Questions</strong></label>
          <input class="form-control" type="number" min="0" placeholder="0" name="noquestions" />
          <div class="invalid-feedback">
            Enter a valid value!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01"><strong>Exam Status <span class="red">*</span></strong></label>
          <select class="form-control" id="exampleFormControlSelect1" name="status">
            <option value="1">Activate</option>
            <option value="0">Deactivate</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01"><strong>Exam Validity <span class="red">*</span></strong></label>
          <input class="form-control" type="date" placeholder="" name="redate" required /><br />
          <div class="invalid-feedback">
            Select a valid Date!
          </div>
        </div>
      </div>
      <div class="mx-2 row">
        <div class="col-lg-12 mb-3 ">
          <label for="validationCustom01"><strong>Terms & Condition <span class="red">*</span></strong></label>
          <textarea class="form-control" rows="4" name="tc" required></textarea>
          <div class="invalid-feedback">
            Terms & Condition cannot be empty!
          </div>
        </div>
      </div>
      <div class="mx-2 row">
        <div class="col-lg-12 mb-3 ">
          <div class="custom-checkbox custom-control">
            <input class="form-check-input" type="checkbox" id="defaultCheck1" name="calculator" />
            <label class="form-check-label" for="defaultCheck1">
              Make Calculator Available
            </label>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 mb-3">
          <div class="custom-checkbox custom-control">
            <input class="form-check-input" type="checkbox" onchange="checkbox()" id="negativecheck" name="nm" />
            <label class="form-check-label" for="defaultCheck1">
              Negative Marks
            </label>
            <div id="negative"></div>
          </div>
          <div class="invalid-feedback">
            Choose a value
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 mb-3">
          <div class="custom-checkbox custom-control">
            <input class="form-check-input" type="checkbox" onchange="" id="uploadimages" name="imguplod" />
            <label class="form-check-label" for="defaultCheck1">
              Upload images
            </label>
          </div>
        </div>
      </div>
      <div class="text-center">
      <button type="submit" class="btn btn-primary"> Save </button>
    </div>
    </form>
  </div>

  <script>
    function checkbox() {
      var value = $("#negativecheck").is(":checked");
      negative = document.getElementById("negative");
      var output;
      if (value) {
        output = `<input
      type="number"
      class="mt-2 form-control"
      placeholder="Enter Negative Marks"
      name="negative_marks"
      value="0"
      required
    />
    <div class="invalid-feedback">
      Enter a valid No.
    </div>`;
      } else {
        output = "";
      }
      negative.innerHTML = output;
    }
    
    function checkinst(){
      var value = $("#instchecked").is(":checked");
       INSTBATCH = document.getElementById("INSTBATCH");
       var output ;
       if (value){
           output = `<div class="col">
            <label for="validationCustom01"><strong>Select Course<span class="red">*</span></strong></label>
          <select id="select_course" name="course" style="width: 100%" class="js-example-basic-single form-control" onchange="selectcourse()">
            <option class="form-control form-control-lg" selected disabled value="">Select Course</option>
            {% for course in courses %}
            <option class="form-control form-control-lg" value="{{course.id}}">{{course.courseName}} </option>
            {% endfor %}
          </select>
          </div>
          <div class="col">
            <label for="validationCustom01"><strong>Select Class <span class="red">*</span></strong></label>
            <select id="class_select" name="class" style="width: 100%;" class="js-example-basic-single form-control">
            <option class="form-control" selected disabled value="">Select Class</option>
            </select>
        </div>
        <div class="col">
          <label for="validationCustom01"><strong>Select Batch <span class="red">*</span></strong></label>
          <select id="batch_select" name="batch" style="width: 100%;" class="js-example-basic-single form-control">
            <option class="form-control" selected disabled value="">Select Batch</option>
            {% for cat in batch %}
            <option class="form-control" value="{{cat.batchName}}">{{cat.batchName}}</option>
            {% endfor %}
            </select>
            </div>`
          }
          else{
            output = `<div class="col">
              <label for="validationCustom01"><strong>Select Class <span class="red">*</span></strong></label>
              <select id="class_select" name="class" style="width: 100%;" class="js-example-basic-single form-control"onchange="addoptions(this)">
                <option class="form-control" selected disabled value="">Select Class</option>
                {% for x,y in data.items %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
                </select>
                </div>
                <div class="col">
                  <label for="validationCustom01"><strong>Select Course<span class="red">*</span></strong></label>
            <select id="cn" name="course" style="width: 100%" class="js-example-basic-single form-control">
              <option class="form-control" selected disabled value="">Select Course</option>
            </select>
            </div>
            <div class="col">
          <label for="validationCustom01"><strong>Price<span class="red">*</span></strong></label>
          <input type="number" class="form-control" placeholder="Exam Price" name="price" required>
          </div>`
        }
        INSTBATCH.innerHTML=output
    }

    function selectcourse() {
      var selected = $('#select_course').val();
      $.ajax({
        url: "{% url 'classes' %}",
        data: {
          course_id: selected,
        },
        success: function (data) {
          categories = data.sub_categories;
          $("#class_select").empty().trigger("change");
          for (i = 0; i < categories.length; i++) {
            var newOption = new Option(
              categories[i].text,
              categories[i].value,
              false,
              false
            );
            $("#class_select").append(newOption).trigger("change");
          }
        },
      });
    }
    
    function addoptions(el) {
      var data = JSON.parse("{{ data|escapejs }}".replaceAll("'", "\""));
        var items = data[el.value];
        html1 = "";
        for (i = 0; i < items.length; i++) {
            html1 += "<option value=\"" + items[i] + "\">" + items[i] + "</option> ";
        }
        $("#cn").html(html1);
    };
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
      $('.js-example-basic-single').select2();
    });

    $(window).on('pageshow', ()=>{ var frm = $('#frm');
    frm[0].reset();
  });
  </script>
</div>
{% endblock main-content %}