{% extends 'dashboard/base.html' %}
{% load static %}

{% block main-content %}
<main>
    <div class="mt-5">
    {% if messages %}
    {% for k in messages%}
    <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
        <b>{{ k }} !</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
        <div class="card mb-4">
            <div class="card-header">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-8">
                        <h2 style="color: rgb(0, 0, 0);">List of Exams</h2>
                    </div>

                    <div class="col-md-4">
                        <input id="searchbox" type="text" class="form-control" name='srh' placeholder="Search Exam or Course" required>
                    </div>

                    <!-- Grid column -->
                </div>
            </div>
                <div class="card-body">
                <!-- Grid row -->
                <form action="" method="post">{% csrf_token %}
                    <!--Table-->
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <!--Table head-->
                            <tr>
                                <th>Exam Name</th>
                                <th>Course</th>
                                <th>Batch Timing</th>
                                <th>Exam Date</th>
                                <th>Exam Duration</th>
                                <th>Total No. of Questions</th>
                                <th>Pass Percentage</th>
                                <th>Exam status</th>
                                <th class="text-center" colspan="2">Action</th>
                            </tr>
                        <!--Table head-->
                        <!--Table body-->
                            {% for i in exams %}
                            <tr class="main-row">
                                <td><p style="color: black;font-size: 14px;">{{i.Name}}</p></td>
                                <td><p style="color: black;font-size: 14px;">{{i.course.courseName}}</p></td>
                                <td>{{i.Batch}}</td>
                                <td>{{i.exam_date}}</td>
                                <td>{{i.exam_duration}}</td>
                                <td>{{i.question_count}}</td>
                                <td>{{i.pass_percentage}}</td>
                                {% if i.status %}
                                <td class="text-center"><a href="{% url 'toggle' i.id %}" class="btn btn-danger p-1">Deactivate</a></td>
                                {% else %}
                                <td class="text-center"><a href="{% url 'toggle' i.id %}" class="btn btn-primary p-1">Activate</a></td>
                                {% endif %}
                                <td class="text-center">
                                    <a class="btn btn-warning" href="{% url 'editquestions' i.id %}"><i class="flaticon-pencil-line" style="font-size:medium;"></i></a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger" href="{% url 'DeleteExam' i.id %}"><i class="flaticon-delete-fill" style="font-size:medium;"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        <!--Table body-->
                    </table>
                </div>
                    <!--Table-->
                </form>
                <br>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        trlist = $(".main-row");
        $("body").on('input',"#searchbox",function(){
            trlist.hide();
            search = this.value.toLowerCase();
            len = search.length;
            for(i=0;i<trlist.length;i++){
                if(trlist[i].children[0].textContent==""){
                    cont = cont;
                }
                else{
                    cont = trlist[i].children[0].textContent.toLowerCase();
                }
                if(cont.search(search)!=-1){
                    $(trlist[i]).show();
                }
                if(trlist[i].children[1].textContent==""){
                    cont2 = cont2;
                }
                else{
                    cont2 = trlist[i].children[1].textContent.toLowerCase();
                }
                if(cont2.search(search)!=-1){
                    $(trlist[i]).show();
                }
            }

        });

    </script>
    {% endblock main-content %}
