<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <title>instructions</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      body {
        margin: 0px;
        overflow-x: hidden;
      }

      #sub__name {
        text-align: left;
        font-weight: bolder;
        margin-top: 1em;
      }

      #heading {
        font-weight: bold;
        font-size: 20px;
      }

      ol {
        margin-left: 30px;
      }

      ol li {
        margin-bottom: 10px;
      }

      #inst__sec {
        overflow-x: hidden;
        overflow-y: scroll;
      }

      #opt__sec {
        margin-left: 20px;
      }

      #lang_warn {
        font-size: 13px;
        color: red;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="row mt-5">
        <div class="col-lg-9 mt-2">
          <span class="ml-2" id="sub__name">
            Data Structure and programming
          </span>
        </div>

        <div id="right__header" class="col-lg-3 ml-auto">
          <button
            class="btn btn-outline-secondary btn-sm mr-3"
            id="fullscreen__btn"
            onclick="full()"
          >
            Enter Fullscreen
          </button>
          <span>View In:</span>
          <select
            name="lang"
            id="lang"
            class="btn btn-outline-secondary btn-sm ml-1"
          >
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
          </select>
        </div>
      </div>
    </header>
    <hr />

    <main>
      <section id="inst__sec">
        <h6 id="heading" class="mt-3 text-center">
          Data Structure & Programming
        </h6>
        <div class="text-muted text-center text-sm mt-4 pb-3">
          Instruction for Test:
        </div>

        <p class="container text-muted text-sm">{{instructions}}</p>
      </section>
    </main>
    <footer>
      <section id="opt__sec">
        <div class="mb-3 mt-5 pt-3">
          Choose Language
          <select
            name="lang"
            id="lang"
            class="btn btn-outline-secondary btn-sm ml-1"
          >
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
          </select>
          <span class="ml-1" id="lang_warn"
            >*Please note that all the questions will appear in this language,
            you can change it for perticular question later</span
          >
        </div>
        <div>
          <a
            href="{% url 'instruction' pk=exam.id %}"
            class="btn btn-outline-secondary btn-sm mb-4 mr-4"
            >Previous</a
          >
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="check_condition"
            />
            <label class="form-check-label" for="check_condition"
              >The system provided me is properly working. I have read all
              Instructions given above.</label
            >
          </div>
        </div>
        <a href="{% url 'start_exam' exam.id %}"
          ><button class="btn btn-success" id="startbtn" disabled>
            Start Quiz
          </button></a
        >
      </section>
    </footer>

    <script>
      $("#begin").off("click");

      function full() {
        document.documentElement.requestFullscreen();
      }
      $("#check_condition").click(function () {
        if ($(this).prop("checked") == true) {
          $("#startbtn").removeAttr("disabled", false);
          console.log("pass");
        } else {
          $("#startbtn").prop("disabled", true);
          console.log("not");
        }
      });
    </script>
  </body>
</html>
