<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }

      main,
      header {
        margin-left: 5px;
        margin-right: 15px;
      }

      #sub__name {
        text-align: left;
        font-weight: bolder;
        margin-top: 1em;
      }
      #first__title {
        font-weight: 700;
        font-size: 17px;
      }

      #inst_heading {
        text-decoration: underline;
        font-weight: bold;
      }

      li {
        font-size: 15px;
      }

      ol li {
        margin-left: 40px;
        margin-bottom: 5px;
      }

      ul li {
        margin-left: 2px;
        margin-bottom: 0;
      }

      #continue {
        font-family: "Courier New", Courier, monospace;
        margin-bottom: 0em;
        text-align: center;
        vertical-align: middle;
      }
    </style>
    <title></title>
  </head>
  <body>
    <header>
      <div class="row mt-5">
        <div class="col-lg-9 mt-2">
          <span class="ml-2" id="sub__name">
            Data Structure and programming
          </span>
        </div>

        <div id="right__header" class="col-lg-3 ml-auto">
          <button
            class="btn btn-outline-secondary btn-sm mr-3"
            id="fullscreen__btn"
            onclick="full()"
          >
            Enter Fullscreen
          </button>
          <span>View In:</span>
          <select
            name="lang"
            id="lang"
            class="btn btn-outline-secondary btn-sm ml-1"
          >
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
          </select>
        </div>
      </div>
    </header>
    <hr />

    <main class="ml-2">
      <p class="" id="first__title">
        Please read the following instructions carfully
      </p>
      <section>
        <h6 id="inst_heading" class="mt-3">General instructions:</h6>
        <ol class="text-dark">
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur voluptate similique autem cum beatae
            exercitationem fugiat excepturi. Tempora impedit nam totam, hic
            necessitatibus nostrum perspiciatis placeat suscipit?
          </li>
          <li>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt
              porro sapiente sit:
            </p>
            <ul class="ml-4">
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
              quasi labore tenetur voluptate similique autem cum
            </p>
          </li>
          <h6 id="inst_heading" class="mt-3">Navigating to question:</h6>

          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt
            porro sapiente sit:
            <ul class="ml-4" style="list-style-type: lower-alpha">
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
            </ul>
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur :
          </li>

          <h6 id="inst_heading" class="mt-3">Answering question:</h6>

          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit:
            <ul class="ml-4" style="list-style-type: lower-alpha">
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>Lorem ipsum dolor sit amet consectetur</li>
              <li>
                Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit
                amet consectetur
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit
                amet consectetur Lorem ipsum dolor sit amet consectetur
              </li>
            </ul>
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur
          </li>

          <h6 id="inst_heading" class="mt-3">Nevigating through secotions:</h6>

          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
            quasi labore tenetur
          </li>
        </ol>
      </section>
    </main>

    <footer>
      <a
        href="{% url 'instruction' pk=exam.id %}?main"
        id="continue"
        class="btn btn-success btn-block btn-sm"
        >CONTINUE</a
      >
    </footer>
    <script>
      function full() {
        document.documentElement.requestFullscreen();
      }
    </script>
  </body>
</html>
