{% extends 'dashboard/base.html' %}
{% load static %}
{% block main-content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<div class="mt-5">
  {% if messages %}
    {% for k in messages%}
    <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
        <b>{{ k }} !</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-xl-12 col-md-12 col-12">
              <div class="card statbox widget box box-shadow">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-xl-12 col-md-12 col-12">
                              <h2 style="color:black;">List of Exams</h2>
                          </div>
                          
                      </div>
                  </div>
                  <div class="widget-content widget-content-area">
                      <div class="table-responsive">
                      {% if exams %}
                       <form action="" method="post">{% csrf_token %}
                          <table id="htmlgrid" class="testgrid table table-striped table-bordered table-hover mb-4">
                              <tr>
                                  <th>#</th>
                                  <th>Exam Name</th>
                                  <th>Course</th>
                                  <th>Batch</th>
                                  <th>Exam Date</th>
                                  <th>Exam Duration</th>
                                  <th>Total No. of Questions</th>
                                  <th>Pass Percentage</th>
                                  <th class="text-center">Add Question</th>
                              </tr>
                              {% for i in exams %}
                              <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{i.Name}}</td>
                                  <td>{{i.course.courseName}}</td>
                                  <td>{{i.Batch}}</td>
                                  <td>{{i.exam_date}}</td>
                                  <td>{{i.exam_duration}}</td>
                                  <td>{{i.question_count}}</td>
                                  <td>{{i.pass_percentage}}</td>
                                  <td class="text-center">
                                  <a href="{% url 'questions' i.id %}" class="btn btn-info p-1">Add Question</a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </table>
                          </form>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
{% endblock main-content %}