{% extends template %}
{% load static %}
{% block main-content %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<div class="mt-5">
  {% if messages %}
  {% for k in messages%}
  <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
    <b>{{ k }} !</b>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  <main>
    <div class="card">
      <div class="mx-2 row">
        <div class="col" style="overflow: scroll;height: 1240px;">
          <div class="row">
            <div class="col">
              <h4 class="text-center mt-2">{{exam.Name}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-left mt-2 text-dark">Time : {{exam.exam_duration}}</p>
            </div>
            <div class="col">
              <p class="text-right mt-2 text-dark">MM : 100</p>
            </div>
          </div>
          {% if SectionA %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark">Section A</p>
            </div>
          </div>
          {% for i in SectionA%}
          <div class="row pl-2">
            Q{{i.question_no}}.
            <div class="col p-0 m-0 pl-2">
              {{i.question|safe}}
            </div>
            <p class="text-right text-dark ml-0 pr-1">{{i.marks}}</p>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
            <div class="col">
              {{ forloop.counter }}. {{option.option|safe}}
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% if SectionB %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark">Section B</p>
            </div>
          </div>
          {% for i in SectionB %}
          <div class="row pl-2">
            Q{{i.question_no}}.
            <div class="col p-0 m-0 pl-2">
              {{i.question|safe}}
            </div>
            <p class="text-right text-dark ml-0 pr-1">{{i.marks}}</p>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
            <div class="col">
              {{ forloop.counter }}. {{option.option|safe}}
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if SectionC %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark">Section C</p>
            </div>
          </div>
          {% for i in SectionC %}
          <div class="row pl-2">
            Q{{i.question_no}}.
            <div class="col p-0 m-0 pl-2">
              {{i.question|safe}}
            </div>
            <p class="text-right text-dark ml-0 pr-1">{{i.marks}}</p>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
            <div class="col">
              {{ forloop.counter }}. {{option.option|safe}}
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% if SectionD %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark">Section D</p>
            </div>
          </div>
          {% for i in SectionD %}
          <div class="row pl-2">
            Q{{i.question_no}}.
            <div class="col p-0 m-0 pl-2">
              {{i.question|safe}}
            </div>
            <p class="text-right text-dark ml-0 pr-1">{{i.marks}}</p>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
            <div class="col">
              {{ forloop.counter }}. {{option.option|safe}}
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
        <div class="col mt-4">
          <form method="post">{% csrf_token %}
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Section</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="section">
                    <option value="A">Section A</option>
                    <option value="B">Section B</option>
                    <option value="C">Section C</option>
                    <option value="D">Section D</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Question Type</label>
                  <select class="form-control" onchange="addop()" id="question_type_select" name="question_type">
                    <option value="sq">Short Type Questions</option>
                    <option value="lq">Long Type Questions</option>
                    <option value="mc">Multiple Choice Questions</option>
                    <option value="tf">True or False</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <div class="custom-checkbox custom-control">
                  <input class="form-check-input" type="checkbox" onchange="checkbox()" id="negativecheck" name="nm" />
                  <label class="form-check-label" for="defaultCheck1">
                    Negative Marks
                  </label>
                </div>
                <div class="invalid-feedback">
                  Choose a value
                </div>
              </div>
            </div>
            <div id="negative"></div>
            <div class="row">
              <div class="col" id="solutionbox">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Enter Marks</label>
                  <input type="number" class="form-control" placeholder="Enter Marks" name="marks" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <a onclick="HindiTextareaHide()" class="btn btn-outline-success ebtn" id="englishbtn">English
                    Editor</a>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <a onclick="HindiTextarea()" class="btn btn-outline-success ebtn" id="hindibtn">Hindi Editor</a>
                </div>
              </div>
            </div>
            <div class="row" id="buttons">
              <div class="col">
                <div class="form-group" id="textarea1">
                  <label for="exampleFormControlTextarea1" style="font-size: 20px;"> Question (Hindi)</label>
                  <script language="javascript">
                    CreateCustomHindiTextArea("hinditext", "", false);
                    $('#hinditext').addClass('form-control');
                  </script>
                </div>
              </div>
            </div>
            <div class="row mt-2" id="englisharea">
              <div class="col">
                <div class="form-group" id="textarea1">
                  <label for="exampleFormControlTextarea1" style="font-size: 20px;">Question</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="question" required>
    </textarea>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group" id="textarea2">
                  <label for="exampleFormControlTextarea1" style="font-size: 20px;">Solution</label>
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="7" name="solution" required>
    </textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="text-center">
                  <button type="submit" class="mb-3 w-100 btn btn-outline-dark">Add Qustion</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <div class="col">
          <a href="{% url 'questionalltutor' %}" class="mb-3 btn btn-info">Save</a>
        </div>
      </div>
    </div>
</div>
<script>
  function addtext() {
    var tags = '<div class="row mb-3" id="multipleinput">'
    tags += '<div class="col-9 pr-4 mr-3">'
    tags += '<input type="text" class="form-control" placeholder="Enter Value" name="options" required>'
    tags += '</div>'
    tags += '</div>'
    $('#solutionbox').append(tags);
  }
  tinymce.init({
    selector: "#exampleFormControlTextarea1",
    height: 200,
    theme: "modern",
    setup: function (editor) {
      editor.on("init", function (e) {
        editor.setContent("<p>Type Question</p>");
      });
    },
    plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor colorpicker textpattern imagetools codesample toc FMathEditor",
    ],
    toolbar1: "undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons | codesample | FMathEditor",
  });
  tinymce.init({
    selector: "#hinditext",
    height: 200,
    theme: "modern",
    setup: function (editor) {
      editor.on("init", function (e) {
        editor.setContent("<p></p>");
      });
    },
    plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor colorpicker textpattern imagetools codesample toc FMathEditor",
    ],
    toolbar1: "undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons | codesample | FMathEditor",
  });
  tinymce.init({
    selector: "#exampleFormControlTextarea2",
    height: 200,
    theme: "modern",
    setup: function (editor) {
      editor.on("init", function (e) {
        editor.setContent("<p>Type Solution</p>");
      });
    },
    plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor colorpicker textpattern imagetools codesample toc FMathEditor",
    ],
    toolbar1: "undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons | codesample | FMathEditor",
  });

  function checkbox() {
    var value = $("#negativecheck").is(":checked");
    negative = document.getElementById("negative");
    var output;
    if (value) {
      output = `<input
      type="number"
      class="mt-2 form-control"
      placeholder="Enter Negative Marks"
      name="negative_marks"
      value="0"
      required
    />
    <div class="invalid-feedback">
      Enter a valid No.
    </div>`;
    } else {
      output = "";
    }
    negative.innerHTML = output;
  }
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function () {
    $('.js-example-basic-single').select2();
  });

  $("#select_course").change(function () {
    var selected = $(this).val();
    $.ajax({
      url: "{% url 'classes' %}",
      data: {
        course_id: selected,
      },
      success: function (data) {
        categories = data.sub_categories;
        $("#class_select").empty().trigger("change");
        for (i = 0; i < categories.length; i++) {
          var newOption = new Option(
            categories[i].text,
            categories[i].value,
            false,
            false
          );
          $("#class_select").append(newOption).trigger("change");
        }
      },
    });
  });

  function addop() {
    var type = $('#question_type_select').val();
    console.log(type);
    if (type == 'mc') {
      var optioninput = '<div class="row mb-2" id="multipleinput">'
      optioninput += '<div class="col">'
      optioninput += '<input type="text" class="form-control" placeholder="Enter Value" name="options">'
      optioninput += '</div>'
      optioninput += '<div class="col-auto">'
      optioninput += '<a onclick="addtext()" class="btn btn-primary mb-2" style="color:white;">Add Option</a>'
      optioninput += '</div>'
      optioninput += '</div>'
      $('#solutionbox').append(optioninput);
    } else {
      $('#multipleinput').remove();
      $('#multipleinput').remove();
      $('#multipleinput').remove();
      $('#multipleinput').remove();
    }
    if (type == 'tf') {
      var optioninput = '<div class="row mb-2" id="multipleinput">'
      optioninput += '<div class="col">'
      optioninput += '<input type="text" class="form-control" placeholder="First Value" name="options">'
      optioninput += '</div>'
      optioninput += '</div>'
      var anotherinput = '<div class="row mb-2" id="multipleinput">'
      anotherinput += '<div class="col">'
      anotherinput += '<input type="text" class="form-control" placeholder="Second Value" name="options">'
      anotherinput += '</div>'
      anotherinput += '</div>'
      $('#solutionbox').append(optioninput);
      $('#solutionbox').append(anotherinput);
    }
  }
  $(document).ready(function () {
    $('#buttons').hide();
  });

  function HindiTextarea() {
    $('#buttons').show();
    $('#englisharea').hide();
  }

  function HindiTextareaHide() {
    $('#buttons').hide();
    $('#englisharea').show();
  }
</script>

</div>
</main>
{% endblock main-content %}