{% extends 'dashboard/student-dashboard.html' %}
{% load static %}
{% block main-content %}
<main class="mt-5 row">
    <div class="col-xl-12 col-md-12 col-12">
            <div class="card statbox widget box box-shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <h2 style="color:black;">List Of Exams</h2>
                        </div>
                        <div class="col-md-4 col-12">
                        <input id="searchbox" type="text" class="form-control p-2" name='srh' placeholder="Search Exams" required>
                    </div>
                    </div>
                </div>
                {% if exams %}
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table id="htmlgrid" class="testgrid table table-striped table-bordered table-hover mb-4">
                            <tr>
                                <th>#</th>
                                <th>Exam Name</th>
                                <th>Course</th>
                                <th>Exam Date</th>
                                <th>Duration</th>
                                <th>Total Questions</th>
                                <th class="text-center">Status</th>  
                            </tr>
                            {% for exam in exams reversed %}
                            <tr class="main-row">
                                <td>{{forloop.counter}}</td>
                                <td>{{exam.Name}}</td>
                                <td>{{exam.course.courseName}}</td>
                                <td>{{exam.exam_date}}</td>
                                <td>{{exam.exam_duration}}</td>
                                <td>{{exam.question_count}}</td>
                                {% if exam.active %}
                                <td class="text-center"><a class="btn btn-success">Submitted</a></td>
                                {% else %}
                                <td class="text-center"><a href="{% url 'instruction' exam.id %}" class="btn btn-info">Start Exam</a></td>
                                {% endif %}                              
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% else %}
                <div class="card-header" style="background: none;">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-12">
                            <h2>No Exams to show</h2>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>  
</main>
    <script type="text/javascript">
        trlist = $(".main-row");
        $("body").on('input',"#searchbox",function(){
            trlist.hide();
            search = this.value.toLowerCase();
            len = search.length;
            for(i=0;i<trlist.length;i++){
                if(trlist[i].children[0].textContent==""){
                    cont = cont;
                }
                else{
                    cont = trlist[i].children[0].textContent.toLowerCase();
                }
                if(cont.search(search)!=-1){
                    $(trlist[i]).show();
                }
                if(trlist[i].children[1].textContent==""){
                    cont2 = cont2;
                }
                else{
                    cont2 = trlist[i].children[1].textContent.toLowerCase();
                }
                if(cont2.search(search)!=-1){
                    $(trlist[i]).show();
                }
            }
        });

    </script>
    {% endblock main-content %}
