{% extends 'tutor/dashboardTutor.html' %}
{% load static %}
{% block css %}
@import url('https://fonts.googleapis.com/css?family=Numans');
.container{
    align-content: center;
}
.card{
    margin-top: auto;
    margin-bottom: auto;
    width: 900px;
    background-color: white;
}
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
.card-header h3{
    color: white;
}
.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}
.remember{
    color: white;
}
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-right: 15px;
}
.remember1 input
{
    width: 20px;
    height: 25px;
    margin-right: 10px;
}
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
.login_btn:hover{
    background-color: #2a2b3d;
    color:white;
}
.links{
    color: white;
}
.links a{
    margin-left: 4px;
}
.bigcheckbox{
    width: 20px;
    height: 20px;
}
.color-pattern-3 {
    text-align: center;
}
/* General button style (reset) */
.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 350px;
    padding: 25px 50px;
    display: inline-block;
    margin: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* Button 3 */
.button-3 {
    background: #fcad26;
    color: #fff;
}
.button-3:hover {
    background: #f29e0d;
}
.button-3:active {
    background: #f58500;
    top: 2px;
}
.button-3>.fa {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 140%;
    width: 60px;
}
.button-3>.fa:before {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* Button 3a */
.button-3a {
    padding: 25px 60px 25px 120px;
}
.button-3a>.fa {
    background: rgba(0, 0, 0, 0.05);
}
/* Button 3b */
.button-3b {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}
.button-3b>.fa {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
}
/* Button 3c */
.button-3c {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #da9622;
}
.button-3c>.fa:before {
    position: static;
}
.button-3c:active {
    box-shadow: 0 3px #dc7801;
}
.button-3c>.fa {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #fff;
    color: #f29e0d;
    border-radius: 10px 10px 0 0;
}
.button-3c:active:before {
    color: #f58500;
}
/* Button 3d */
.button-3d {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}
.button-3d>.fa {
    background: #fff;
    color: #fcad26;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}
.button-3d:after {
    width: 20px;
    height: 10px;
    background: #fff;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-3d:active:before {
    color: #f58500;
}
.button-3d:active {
    top: 0;
}
.button-3d:active:after {
    left: 60px;
}
/* Button 3e */
.button-3e {
    padding: 25px 10px 25px 60px;
    overflow: hidden;
}
.button-3e>.fa {
    left: auto;
    right: 10px;
    z-index: 2;
}
.button-3e:after {
    width: 30%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}
.button-3e:hover:after {
    width: 35%;
}
.control-label {
    color: rgb(66, 8, 8);
    font-size: 20px;
}
[type="checkbox"]
{
    vertical-align:middle;
}
[type="radio"]
{
    vertical-align:middle;
}
.multiselect-container > li > a > label{
    height:auto;
}
.multiselect-container{
    height:10rem;
    overflow-y:scroll;
    width:max-content;
}

   
{% endblock %}
{% block body %}
<div>
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        <ul class="messages">
            {% for k in messages %}
            <li style="color: darkred;">{{ k }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        <h2 style="color: rgb(66, 8, 8);">Add Course Tutorials</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype= multipart/form-data>
                    {% csrf_token %}
                    <br>
                    <div class="row ml-1 mb-4 pb-2">
                        <div class="col-3">
                            <label class="control-label">Add File</label>
                        </div>
                        <div class="col">
                              <div class="custom-file ml-5" style="width: 92%;">
                                <input type="file" class="custom-file-input" id="validatedCustomFile" name="note">
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                        </div>
                    </div>
                   <div class="input-group form-group">
                    <label class="control-label col-sm-4">Note Title<span class="text-danger">*</span></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="firstName " name='title' placeholder="Note Title" required="" value="{{note.title}}">
                </div>
                    <br>
                     <div class="input-group form-group">
                    <label class="control-label col-sm-4">Note Description<span class="text-danger">*</span></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <textarea type="text" class="form-control" id="firstName " name='description' placeholder="Note Description" rows="1" required="">{{note.description}}</textarea>
                </div>
                    <br>                  
                    <br>
                    <div class="row ml-1">
                        <div class="col-3">
                           <div class="input-group form-group">
                                <label class="control-label">Select Course</label>        
                            </div>  
                        </div>
                        <div class="col ml-5">
                               <div>
                                <select class="form-control w-50" name="course">
                                    <option value="">Select a Course</option>
                                    {% for course in courses %}
                                    <option value="{{course.courseName}}">{{course.courseName}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                        </div>                      
                    </div>
                    <br>
                    <div class="form-group text-right">
                        <input type="submit" value="Save Note" class="btn login_btn form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
 $('#validatedCustomFile').change(function() {
      var file = $('#validatedCustomFile').val();
      var exts = ['pdf'];
      // first check if file field has any value
      if ( file ) {
        // split file name at dot
        var get_ext = file.split('.');
        // reverse name to check extension
        get_ext = get_ext.reverse();
        // check file type is valid as given in 'exts' array
        if ( $.inArray ( get_ext[0].toLowerCase(), exts ) > -1 ){
            var filename = file.replace(/^.*\\/, "");
            $(".custom-file-label").html(filename);
        } else {
        $(".custom-file-label").html("Choose File");
          $('.invalid-feedback').show();
          $('#validatedCustomFile').val("");
          $('#validatedCustomFile').val().focus();
        }
      }
    });
</script>
{% endblock %}
