{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Numans');

  .container {
    height: 100%;
    align-content: center;
  }

  .card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
  }

  .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
  }

  .social_icon span:hover {
    color: white;
    cursor: pointer;
  }

  .card-header h3 {
    color: white;
  }

  .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
  }

  .input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
  }

  input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

  }

  .remember {
    color: white;
  }

  .remember input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }

  .login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
  }

  .login_btn:hover {
    background-color: #2a2b3d;
    color: white;
  }

  .links {
    color: white;
  }

  .links a {
    margin-left: 4px;
  }

  .bigcheckbox {
    width: 20px;
    height: 20px;
  }

  .color-pattern-3 {
    text-align: center;
  }

  /* General button style (reset) */
  .button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 350px;
    padding: 25px 50px;
    display: inline-block;
    margin: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* Button 3 */
  .button-3 {
    background: #fcad26;
    color: #fff;
  }

  .button-3:hover {
    background: #f29e0d;
  }

  .button-3:active {
    background: #f58500;
    top: 2px;
  }

  .button-3>.fa {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 140%;
    width: 60px;
  }

  .button-3>.fa:before {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  /* Button 3a */
  .button-3a {
    padding: 25px 60px 25px 120px;
  }

  .button-3a>.fa {
    background: rgba(0, 0, 0, 0.05);
  }

  /* Button 3b */
  .button-3b {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
  }

  .button-3b>.fa {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
  }

  /* Button 3c */
  .button-3c {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #da9622;
  }

  .button-3c>.fa:before {
    position: static;
  }

  .button-3c:active {
    box-shadow: 0 3px #dc7801;
  }

  .button-3c>.fa {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #fff;
    color: #f29e0d;
    border-radius: 10px 10px 0 0;
  }

  .button-3c:active:before {
    color: #f58500;
  }

  /* Button 3d */
  .button-3d {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
  }

  .button-3d>.fa {
    background: #fff;
    color: #fcad26;
    z-index: 2;
    border-radius: 10px 0 0 10px;
  }

  .button-3d:after {
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .button-3d:active:before {
    color: #f58500;
  }

  .button-3d:active {
    top: 0;
  }

  .button-3d:active:after {
    left: 60px;
  }

  /* Button 3e */
  .button-3e {
    padding: 25px 120px 25px 60px;
    overflow: hidden;
  }

  .button-3e>.fa {
    left: auto;
    right: 10px;
    z-index: 2;
  }

  .button-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .button-3e:hover:after {
    width: 35%;
  }

  .control-label {
    color: white;
    font-size: 20px;
  }

  [type="checkbox"] {
    vertical-align: middle;
  }

  [type="radio"] {
    vertical-align: middle;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  .school {
    margin-left: 0;
    color: black;
  }

  .school-input {
    padding-left: 0;
    padding-right: 0;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-weight: 300;
  }

  #pac-input {
    text-overflow: ellipsis;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    z-index: 1100 !important;
  }
</style>
{% endblock %}
{% block main-content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBJybI10-Xa43-F5GSad1i0Y9W3yqlW6Q&libraries=places&v=3"
  defer></script>

<div class="mt-5">
  {% if messages %}
  {% for k in messages%}
  <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
    <b>{{ k }} !</b>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm">
          <h2 style="color: rgb(0, 0, 0);">Add Student</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form id="submitForm" action="" method="post">{% csrf_token %}
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Username<span
                class="text-danger">*</span></label>
            <input type="text" class="form-control" id="username" name='username' value="{{student.user.username}}"
              disabled required>
          </div>
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">First name<span
                class="text-danger">*</span></label>
            <input type="text" class="form-control" id="firstName" name='firstName' placeholder="First Name" disabled
              required>
          </div>
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Last name</label>
            <input type="text" class="form-control" id="lastName" name='lastName' placeholder="Last Name"
              value="{{student.user.last_name}}" disabled required>
          </div>
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Email Id<span
                class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" name='email' value="{{student.user.email}}" disabled
              required>
          </div>
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Phone Number<span
                class="text-danger">*</span></label>
            <input type="tel" pattern="[0-9]{10}" class="form-control" id="phone" name='phone' value="{{student.phone}}"
              disabled required>
          </div>
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Address<span
                class="text-danger">*</span></label>
            <input id="pac-input" type="text" class="controls form-control" name='loc' value="{{student.address}}"
              disabled required>
            <input type="hidden" id="cityLat" name="cityLat" />
            <input type="hidden" id="cityLng" name="cityLng" />
          </div>
          <div class="col-md-6 col-lg-4 col-12 input-group form-group">
            <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">School Name</label>
            <input type="text" class="form-control" id="schoolName" name='school' value="{{student.schoolName}}"
              disabled>
          </div>
        </div>
        <hr>

        <!-- detail start -->
        <div id='mainForm' class="outside">
          <div class="entry row">
            <div class="col-md-6 col-lg-4 col-12 input-group form-group">
              <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="cn">Class<span
                  class="text-danger">*</span></label>
              <select name="cn" class="cn custom-select form-control" required="required" onchange="selectclass(this)">
                <option disabled selected value="">Select an option</option>
                {% for x in data %}
                <option value="{{ x.0 }}">{{ x.0 }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-6 col-lg-4 col-12 input-group form-group">
              <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="ctn">Course<span
                  class="text-danger">*</span></label>
              <select name="ctn" class="ctn custom-select form-control" required="required"
                onchange="selectcourse(this)">
                <option disabled selected value="">Select an option</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-4 col-12 input-group form-group">
              <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="ttn">Teaching Type<span
                  class="text-danger">*</span></label>
              <select name="ttn" class="ttn custom-select form-control" required="required" onchange="selectTeach(this)">
                <option disabled selected value="">Select an option</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-4 col-12 input-group form-group">
              <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="noi">Installments</label>
              <select class="noi form-control" name="noi">
                <option selected disabled value="">Installments</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-4 col-12 input-group form-group">
              <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="batchN">Batch Name</label>
              <select class="batchN form-control" name="batchN">
                <option selected disabled value="">Batch Name</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-4 col-12 input-group form-group">
              <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="feedis">Fee Discount</label>
              <input type="number" class="form-control" name="feedis" placeholder="In Percentage(%)">
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12  col-12 d-flex justify-content-end">
          <button class="btn btn-info btn-md" type="button" onclick="duplicate(this)">Add
            New Course</button>
        </div>
        <hr>

        <div class="col-lg-12 col-md-12 col-12 mt-4 text-center">
          <button id='submitBtn' name="submit" type="submit" class="btn btn-info">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  //first part
  var school_list = {{ school_list| safe}};
  $(document).on("DOMContentLoaded", function () {
    function initialize() {
      var input = document.getElementById('pac-input');
      var autocomplete = new google.maps.places.Autocomplete(input);
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('cityLat').value = place.geometry.location.lat();
        document.getElementById('cityLng').value = place.geometry.location.lng();
      });
    }
    initialize();
  });

  function autocomplete(inp, arr) {
    var currentFocus;
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false; }
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function (e) {
            inp.value = this.getElementsByTagName("input")[0].value;
            closeAllLists();
          });
          a.appendChild(b);
        }
      }
    });
    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { //up
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
    });
    function addActive(x) {
      if (!x) return false;
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }

  window.addEventListener('DOMContentLoaded', function () {
    autocomplete(document.getElementById("schoolName"), school_list);
  });


  function selectclass(el) {
    var selected = el.value;
    $.ajax({
      url: "{% url 'findCourse' %}",
      data: {
        forclass: selected,
      },
      success: function (data) {
        courses = data.courses;
        $(el).closest(".entry").find(".ctn").empty().trigger("change");

        var newOption = new Option(
                    "Select an option",
                    "",
                    false,
                    false
                );
        $(el).closest(".entry").find(".ctn").append(newOption).trigger("change");
                
        for (i = 0; i < courses.length; i++) {
          var newOption = new Option(
            courses[i][1],
            courses[i][1],
            false,
            false
          );
          $(el).closest(".entry").find(".ctn").append(newOption).trigger("change");
        }
      },
    });
  }

  function selectcourse(el) {
    var selected_course = el.value;
    var selected_class = $(el).closest(".entry").find(".cn").val();
    $.ajax({
      url: "{% url 'findTeaching' %}",
      data: {
        forclass: selected_class,
        course: selected_course
      },
      success: function (data) {
        teaching = data.teaching;

        $(el).closest(".entry").find(".ttn").empty().trigger("change");
        var newOption = new Option(
                    "Select an option",
                    "",
                    false,
                    false
                );
        $(el).closest(".entry").find(".ttn").append(newOption).trigger("change");

        for (i = 0; i < teaching.length; i++) {
          var newOption = new Option(
            teaching[i],
            teaching[i],
            false,
            false
          );
          $(el).closest(".entry").find(".ttn").append(newOption).trigger("change");
        }
      },
    });

    $.ajax({
      url: "{% url 'findBatch' %}",
      data: {
        forclass: selected_class,
        course: selected_course
      },
      success: function (data) {
        batches = data.batches;

        $(el).closest(".entry").find(".batchN").empty().trigger("change");

        var newOption = new Option(
                    "Batch Name",
                    "",
                    false,
                    false
                );
        $(el).closest(".entry").find(".batchN").append(newOption).trigger("change");

        for (i = 0; i < batches.length; i++) {
          var newOption = new Option(
            batches[i][0],
            batches[i][0],
            false,
            false
          );
          $(el).closest(".entry").find(".batchN").append(newOption).trigger("change");
        }
      },
    });
  }

  function selectTeach(el) {
    var selected_teach = el.value;
    var selected_class = $(el).closest(".entry").find(".cn").val();
    var selected_course = $(el).closest(".entry").find(".ctn").val();

    $.ajax({
      url: "{% url 'findFees' %}",
      data: {
        forclass: selected_class,
        course: selected_course,
        teach: selected_teach
      },
      success: function (data) {
        fees = parseInt(data.fees[0]);
        
        $(el).closest(".entry").find(".noi").empty().trigger("change");

        var newOption = new Option(
                    "Installments",
                    "",
                    false,
                    false
                );
        $(el).closest(".entry").find(".noi").append(newOption).trigger("change");

        for (i = 1; i <= fees; i++) {
          var newOption = new Option(
            i,
            i,
            false,
            false
          );
          $(el).closest(".entry").find(".noi").append(newOption).trigger("change");
        }
      },
    });
  }

  function duplicate() {
    $('.outside').append(`<div class="entry row">
      <div class="input-group" style="width: 92%">
        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
          <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="cn">Class<span
            class="text-danger">*</span></label>
          <select name="cn" class="cn custom-select form-control" required="required" onchange="selectclass(this)">
            <option disabled selected value="">Select an option</option>
            {% for x in data %}
                  <option value="{{ x.0 }}">{{ x.0 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
          <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="ctn">Course<span
            class="text-danger">*</span></label>
          <select name="ctn" class="ctn custom-select form-control" required="required"
            onchange="selectcourse(this)">
            <option disabled selected value="">Select an option</option>
          </select>
        </div>
        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
          <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="ttn">Teaching Type<span
            class="text-danger">*</span></label>
          <select name="ttn" class="ttn custom-select form-control" required="required" onchange="selectTeach(this)">
            <option disabled selected value="">Select an option</option>
          </select>
        </div>
        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
          <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="noi">Installments</label>
          <select class="noi form-control" name="noi">
            <option selected disabled value="">Installments</option>
          </select>
        </div>
        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
          <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="batchN">Batch Name</label>
          <select class="batchN form-control" name="batchN">
            <option selected disabled value="">Batch Name</option>
          </select>
        </div>
        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
          <label class="control-label col-sm-5 col-5 mt-2" style="color:black;" for="feedis">Fee Discount</label>
          <input type="number" class="form-control" name="feedis" placeholder="In Percentage(%)">
                    </div>
        </div>
        <div class="mx-auto">
          <button type="button" class="btn btn-success" onclick="removeDuplicate(this)">
            Remove
                </button>
        </div>
      </div>`)
  }

  function removeDuplicate(el) {
        $(el).closest(".entry").empty().trigger("change");
    }

    $(document).on('ready', () => {
        if (performance.navigation.type == 2) {
            location.reload();
        }
    });

</script>

{% endblock %}