{% extends 'dashboard/student-dashboard.html' %}
{% load static %}
{% block main-content %}
<div class="row mt-5">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5
                    style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
                    Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h2 style="color: black;">Add Assignment</h2>
                    </div>

                </div>
            </div>
            <div class="card-body mt-4">
                <form id='submitForm' method='post' action='' enctype='multipart/form-data'>{% csrf_token %}
                    <div class="row">

                        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
                            <label class="control-label col-sm-4 col-5 mt-2"
                                style="color: black;">Class</label>
                            <select id="ctn" name="ctn" class="custom-select form-control w-100 col-md-8 col-sm-9 col-7"
                                required="required" onchange="addoptions(this)">
                                <option disabled selected>Class</option>
                                {% for x,y in data.items %}
                                <option value="{{ x }}">{{ x }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-4 col-12 input-group form-group">
                            <label class="control-label col-sm-4 col-5 mt-2"
                                style="color: black;">Course</label>
                            <select id="cn" name="cn" class="custom-select form-control w-100 col-md-8 col-sm-9 col-7"
                                required="required">
                                <option disabled selected>Course</option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-12 col-md-6 input-group form-group">
                            <label class="control-label col-sm-4 col-5 mt-2" style="color: black;">Budget</label>
                            <input type="number" step="0.01" style="-moz-appearance: textfield;" min="0"
                                class="form-control w-100 col-sm-8 col-7" id="budget" name="budget" placeholder="Budget"
                                required>
                        </div>
                        <div class="col-lg-4 col-12 col-md-6 input-group form-group">
                            <label class="control-label col-sm-4 col-5 mt-2" style="color:black;">Deadline</label>
                            <input type="date" class="form-control w-100 col-sm-8 col-7" name="deadline" required>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 input-group form-group">
                            <label class="control-label col-sm-4 col-5 mt-2" style="color: black;">Choose File</label>
                            <div class="w-100 col-sm-8 col-7">
                            <input type="file" class="custom-file-input" id="file" name="file" required>
                            <label class="custom-file-label" >Choose file...</label>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-12 input-group form-group">
                            <textarea class="form-control my-2 w-100" name='description'
                                placeholder="Description"></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 col-12 text-center">
                            <button id='submitBtn' name="submit" type="submit" class="btn btn-info">Post</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-12 mt-5">
        <div class="card statbox widget box box-shadow">
            <div class="card-header">
                <div class="row">
                        <div class="col-sm-10">
                            <h2 style="color: black;">Assignments</h2>
                        </div>
    
                    </div>
            </div>
            {% if student.PostAssignment.all %}
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table id="htmlgrid" class="testgrid table table-striped table-bordered table-hover mb-4">
                        <tr>
                            <th>#</th>
                            <th>Course</th>
                            <th>Class</th>
                            <th>Created</th>
                            <th>Budget</th>
                            <th>Deadline</th>
                            <th class="text-center">Assigned</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">View</th>
                            <th class="text-center">Extend</th>
                        </tr>
                        {% for assing in student.PostAssignment.all reversed %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{assing.courseName}}</td>
                            <td>{{assing.forclass}}</td>
                            <td>{{assing.timestamp|date:"F d,Y"}}</td>
                            <td>{{assing.budget}}</td>
                            <td>{{assing.deadline|date:"F d,Y"}}</td>
                            {% if i.assigned == True %}
                            <td class="text-center"><i class="flaticon-user-check"></i></td>
                            {% else %}
                            <td class="text-center"><i class="btn btn-info flaticon-time-1"></i></td>
                            {% endif %}
                            <td class="text-center"><a href="{% url 'Delete_Assignment' assing.sno %}"><span
                                        class="btn btn-danger flaticon-delete-4"></span></a></td>
                            <td class="text-center"><button type="button" data-toggle="modal" data-target="#tutorModal{{assing.sno}}"
                                    class="btn btn-info">View</button></td>
                            <td class="text-center"><a href=""><span
                                        class="btn btn-success">Extend</span></a></td>
                        </tr>

                        <!-- view box -->
                        <div class="modal fade" id="tutorModal{{assing.sno}}" tabindex="-1" role="dialog"
                            aria-labelledby="{{assing.sno}}" aria-hidden="true" style="top:30%; color: black;">
                            <div class="modal-dialog modal-lg align-item-center" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="col-sm-12 text-center" id="{{assing.sno}}">
                                            {{assing.courseName}} Assignment</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-12 mt-2">
                                                    <b>Course:</b>
                                                    <span class="ml-1">{{assing.courseName}}
                                                    </span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-12 mt-2">
                                                    <b>Class:</b>
                                                    <span class="ml-1">{{assing.forclass}}</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-12 mt-2">
                                                    <b>Requirement:</b>
                                                    <span class="ml-1">{{assing.requirement}}</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-12 mt-2">
                                                    <b>Timestamp:</b>
                                                    <span class="ml-1">{{assing.timestamp}}</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-12 mt-2">
                                                    <b>Budget:</b>
                                                    <span class="ml-1">
                                                        {{assing.budget}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <!-- view box -->
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>


</div>
</div>
<script>
    function clear_all() {
        var x = document.getElementsByClassName("form-control");
        for (var i = 0; i < x.length; i++) {
            x[i].value = '';
        }
    };

    function addoptions(el) {
        var data = JSON.parse("{{ data|escapejs }}".replaceAll("'", "\""));
        var items = data[el.value];
        html1 = "";
        for (i = 0; i < items.length; i++) {
            html1 += "<option value=\"" + items[i] + "\">" + items[i] + "</option> ";
        }
        $("#cn").html(html1);
    };
</script>
{% endblock main-content %}