{% extends "code2learn_app/base.html" %}
{% load static %}
{% block title %}
  Explore Courses
{% endblock title %}

{% block css %}
  <link
  href="{% static 'code2learn_app/css/version7/coursePage/search.css' %}"
  rel="stylesheet"
/>
 <link
  href="{% static 'code2learn_app/css/version7/registerPage/register.css' %}"
  rel="stylesheet"
/>

<link
  href="{% static 'code2learn_app/css/version7/blogPage/blog.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'code2learn_app/css/version7/footer/footer.css' %}"
  rel="stylesheet"
/>	
{% endblock css %}
    
{% block js_up %}
{% endblock js_up %}

{% block content %}
  


<div class="container">
<div class="row" style="margin-top: 120px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form action="{% url 'search_courses' %}" method="GET">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light" name="query">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search" style="color:black;"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="col-md-4"></div>
  </div>
    

    {% if search_results|length > 0 %}
    
    <hgroup class="mb-20">
		<h1>Search Results</h1>
		<h2 class="lead"><strong class="text-danger">{{search_results|length}}</strong> results were found for <strong class="text-danger">{{search_query}}</strong></h2>								
	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12 pb-4 pt-4">
        {% for result in search_results %}
       
		<article class="search-result row">
			<div class="col-xs-12 col-sm-12 col-md-5 pb-4">
				<a href="#" title="{{result.course_name}}" class="thumbnail"><img src="{{result.image.url}}" alt="{{result.course_name}}" height="250" width="250" /></a>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-6 excerpet">
				<h3><a href="#" title="">{{result.course_name}}</a></h3>
				<p>{{result.sub_heading}}</p>				
				<p>Language : {{result.course_language}}</p>					
				<p>Price : {{result.actual_price}}</p>					
				<p>Starts From : {{result.course_start_date}}</p>					
			</div>
            <br>
			<span class="clearfix border"></span>
		</article> 

        {% endfor %}
	</section>

    {% else %}
        <div class="section-title text-center pt-5">
          <h2>Your search- <em><strong>{{search_query}}</strong></em> did not match any course ...</h2>
            <br>
          <h3>Make sure that all words are spelled correctly or Try different keywords.</h3>
        </div>
    {% endif %}
</div>
{% endblock content %}
 

{% block js_down %}

{% endblock js_down %}
  
	  