{% extends "code2learn_app/base.html" %}
{% load static %}
{% block title %}
  Explore Courses
{% endblock title %}

{% block css %}
  <!-- <link
  href="{% static 'code2learn_app/css/version7/registerPage/register.css' %}"
  rel="stylesheet"
/> -->
  <link href="{% static 'code2learn_app/css/version7/coursePage/course.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
	
{% endblock css %}
    
{% block js_up %}
  <!-- <script src="{% static 'code2learn_app/js/version7/coursePage/course.js' %}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{% endblock js_up %}

{% block content %}
  

<section id="explore-topic">
  
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form action="{% url 'search_courses' %}" method="GET">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light" name="query">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search" style="color:black;"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="col-md-4"></div>
  </div>
  
<h2 class="heading1">Explore Topics</h2>
	<div class="row slider">
  {% for course in dist_courses %}

	<div class="col-md-12">
	<div class="card">
  <div class="card img-fluid">
    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
    <div class="card-img-overlay text-left">
      {% if course.tag_name.tag_name == "New" %}
      <span  class="badge" style="background: #7D90D4;">{{course.tag_name|upper}}</span>
      {% else %}
      <span  class="badge" style="background: #D4827D;">{{course.tag_name|upper}}</span>
      {% endif %}
    </div>
  </div>
    <div class="card-body text-left">
      <div class="d-inline mb-1">
          <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
      </div>
      <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
      <p class="Poppins card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
      <p class="Poppins card-text mb-1">Online Class Start From:-</p>
      {% if course.sub_category.sub_category_name == "Weekday" %}
        <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
      {% elif course.sub_category.sub_category_name == "Weekend" %}
        <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
      {% endif %}
      <div class="d-flex justify-content-between">
		  <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

       <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
       </div>
    </div>
  </div>
	</div>  
    
  {% endfor %}
</div>	
	
	
</div>  
</section>	
<section id="explore-courses">
<div class="container">
    <h2 class="heading1">Explore & Find Your Perfect Program</h2>
  <div class="tabs-navigation py-2">
    <ul class="nav nav-pills">
        {% for category in categories %}

        {% if forloop.first %}
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">{{category}}</a>
          </li>
        {% else %}  
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab{{forloop.counter}}">{{category}}</a>
          </li>
        {% endif %}
      
      {% endfor %}
    </ul>

    <div class="tab-content mt-3">
       {% for category in categories %}
          {% if forloop.first %}
            <div class="container tab-pane fade show active" id="tab{{forloop.counter}}" role="tabpanel">
          <!-- for tab1-view ---> 
              <div class="row tabs-slider">
                {% for course in courses %}
                  {% if course.category == category %}
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card img-fluid">
                          <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                          <div class="card-img-overlay text-left">
                            {% if course.tag_name.tag_name == "New" %}
                            <span  class="badge" style="background: #7D90D4;">{{course.tag_name|upper}}</span>
                            {% else %}
                            <span  class="badge" style="background: #D4827D;">{{course.tag_name|upper}}</span>
                            {% endif %}
                          </div>
                        </div>
                        <div class="card-body text-left">
                          <div class="d-inline mb-1">
                              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                          </div>
                          <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                          <p class="Poppins card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                          <p class="Poppins card-text mb-1">Online Class Start From:-</p>
                          {% if course.sub_category.sub_category_name == "Weekday" %}
                            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                          {% elif course.sub_category.sub_category_name == "Weekend" %}
                            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                          {% endif %}
                          <div class="d-flex justify-content-between">
                          <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                          <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                          </div>
                        </div>
                      </div>
	                  </div>
                  {% endif %}
                  {% empty %}
                  <div class="container" style="display: flex;justify-content: center;">
                    <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="container tab-pane fade" id="tab{{forloop.counter}}" role="tabpanel">
          <!-- for tab2-view --->  
              <div class="row tabs-slider">
                {% for course in courses %}
                  {% if course.category == category %}
                    <div class="col-md-12">
                      <div class="card">
                      <div class="card img-fluid">
                        <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                        <div class="card-img-overlay text-left">
                          {% if course.tag_name.tag_name == "New" %}
                          <span  class="badge" style="background: #7D90D4;">{{course.tag_name|upper}}</span>
                          {% else %}
                          <span  class="badge" style="background: #D4827D;">{{course.tag_name|upper}}</span>
                          {% endif %}
                        </div>
                      </div>
                        <div class="card-body text-left">
                          <div class="d-inline mb-1">
                              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                          </div>
                          <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                          <p class="Poppins card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                          <p class="Poppins card-text mb-1">Online Class Start From:-</p>
                          {% if course.sub_category.sub_category_name == "Weekday" %}
                            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                          {% elif course.sub_category.sub_category_name == "Weekend" %}
                            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                          {% endif %}
                          <div class="d-flex justify-content-between">
                          <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                          <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                          </div>
                        </div>
                      </div>
	                  </div>
                  {% endif %}
                {% empty %}
                  <div class="container" style="display: flex;justify-content: center;">
                    <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% empty %}
            <div class="container" style="display: flex;justify-content: center;">
              <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
            </div>
          {% endfor %}
      </div>

</div>
</div>
</section>
{% endblock content %}
 

{% block js_down %}
<script>
  $('.slider').slick({
  infinite: true,
  autoplay: true,
  autoplaySpeed: 2000,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
		arrows:false
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
		arrows:false
      }
    }
  ]
});

$(document).ready(function(){

$('.tabs-slider').slick({
  infinite: true,
  autoplay: true,
  autoplaySpeed: 2000,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
		arrows:false
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
		arrows:false
      }
    }
  ]
});
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  $('.tabs-slider').slick('setPosition');
})

</script>
{% endblock js_down %}
  
	  