{% load static %}
{% load custom_template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Code2Learn offers a certified course in machine learning with python, the most appealing domain of computer science. You will get internship opportunities with startups where you get to work on live projects. Launch your career today and learn machine learning algorithm with us.">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{course.course_name}} | Code2Learn</title>

    <!-- Favicons -->
    <link href="{% static 'code2learn_app/images/version7/navbar/Favicon.png' %}" rel="icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.0/jquery.easing.min.js"></script>

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
	
    <link href="{% static 'code2learn_app/css/version7/courseDetail/coursedetail.css' %}" rel="stylesheet">
	<link href="{% static 'code2learn_app/css/version7/footer/footer.css' %}" rel="stylesheet">

	<script src="{% static 'code2learn_app/js/version7/navbar/script.js' %}"></script>
</head>
<body>
<section>
  
  <!-- header -->
  <header style="background-image: url({{course.banner.url}})">
      
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <a class="navbar-brand pr-5" href="{% url 'home' %}">
    <img src="{% static 'code2learn_app/images/version7/navbar/logo.svg' %}" width="120" height="50" alt="Code2Learn">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            Home <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}#explore-programmes">
            Training 
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}#training">
            About Us 
        </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'all_posts' %}">
          Blog 
      </a>
  </li>
    </ul>
    {% if request.session.user %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link page-scroll" href="" style="cursor: default;"> Hello {{request.session.fullname|first_name}} </a>
      </li>
    </ul>
    
      <a
      href="{% url 'logout' %}"
      class="btn btn-outline-light register-btn"
      style="margin-left: 15px;"
      type="submit"
      >Log Out</a
    >
    {% else %}
    <a
      href="{% url 'register' %}"
      class="btn btn-outline-light register-btn"
      type="submit"
      >Register</a
    >
    <a
      href="{% url 'login' %}"
      class="btn btn-outline-light register-btn"
      style="margin-left: 15px;"
      type="submit"
      >Login</a
    >
    {% endif %}
  </div>
</nav>
<div id="course-banner">
<div class="container">
 <ul class="breadcrumb">
  <li><a href="{% url 'home' %}" target="_self">Home</a></li>
  <li><a href="{% url 'explore_courses' %}" target="_self">Course</a></li>
  <li><a style="cursor: default">{{course.category}}</a></li>
</ul>
<h1 class="heading1">{{course.course_name}}</h1>
<p class="paragraph1">{{course.sub_heading}}</p>
	
<div class="row" id="course-timing-details">
  <div class="col-6 col-md-4 vr">
	<p>Estimated Time</p>
	 <h6>3 Month</h6>
	 <p>At 5 - 10 Hrs/Week</p>
	</div>
  <div class="col-6 col-md-4">
	<p>Enroll By</p>
	 <h6>{{course.course_enrollment_end_date}}</h6>
	</div>
  <div class="col-6 col-md-4">
	<p>Prerequisites</p>
	  <h6>{{course.prerequisites}}</h6>
	</div>
</div>	
<div class="d-flex mt-5" id="course-share-links">
  <div class="mr-auto p-2 ribbon">
	  <span>{{course.tag_name}}</span>
	</div>
  <div><a href="{% url 'enroll_course' course.id %}" class="btn share-btn">
	  Enroll<i class="fa fa-book ml-2"></i>
</a></div>
  <div><a href="#" class="btn share-btn">
	  Share<i class="fa fa-share-alt ml-2"></i>
</a></div>
</div>	
</div>
</div>	  	  
</header><!-- End Header -->
</section><!-- End Banner -->
<section id="course-syllabus">
<div class="container d-flex my-5">
  <div class="mr-auto p-2">
	  <h1 class="heading1">What you Will Learn</h1>
  </div>
  <div class="p-2">
	  <h1 class="heading2"><a href="{{course.syllabus.syllabus.url}}">Download Syllabus</a></h1>
	</div>
	
</div>
<div class="container d-flex justify-content-center"> 
  <div class="jumbotron">     
    {{course.content|safe}}
  </div>     
</div>	
</section>	
<section id="course-programmes">
	<div class="container">
	<h1 class="heading1">All Our Programs Include</h1>
	<div class="row mb-5">
        <div class="col-md-6">
          <div class="card flex-md-row">
			  <img class="card-img-left" src="{% static 'code2learn_app/images/version7/courseDetail/Rectangle-291.png' %}" alt="Card image cap1" width="100%" height="100%">
            <div class="card-body d-flex flex-column align-self-center">		 
              <h3 class="card-heading mb-2">
                <a href="#">Real world Projects for Industry Exports</a>
              </h3>
			  <hr>
              <p class="card-text">Learn to use Python Profess - ionally,Learing Both Python 2 and Python3!</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row">
			<img class="card-img-left" src="{% static 'code2learn_app/images/version7/courseDetail/Rectangle-293.png' %}" alt="Card image cap2" width="100%" height="100%">
            <div class="card-body d-flex flex-column align-self-center">
              <h3 class="card-heading mb-2">
                <a href="#">Technical Mentor Support</a>
              </h3>
				<hr>
              <p class="card-text">Learn to use Python Profess - ionally,Learing Both Python 2 and Python3!</p>
            </div>
          </div>
        </div>
      </div>
		<div class="row mb-5">
        <div class="col-md-6">
          <div class="card flex-md-row">
			  <img class="card-img-left" src="{% static 'code2learn_app/images/version7/courseDetail/Rectangle-292.png' %}" alt="Card image cap3" width="100%" height="100%">
            <div class="card-body d-flex flex-column align-self-center">		 
              <h3 class="card-heading mb-2">
                <a href="#">Career Service</a>
              </h3>
				<hr>
              <p class="card-text">Learn to use Python Profess - ionally,Learing Both Python 2 and Python3!</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row">
			<img class="card-img-left" src="{% static 'code2learn_app/images/version7/courseDetail/Rectangle-294.png' %}" alt="Card image cap4" width="100%" height="100%">
            <div class="card-body d-flex flex-column align-self-center">
              <h3 class="card-heading mb-2">
                <a href="#">Intership Opportunity</a>
              </h3>
				<hr>
              <p class="card-text">Learn to use Python Profess - ionally,Learing Both Python 2 and Python3!</p>
            </div>
          </div>
        </div>
      </div>
	</div>	
	<div class="container mb-5">
	<h1 class="heading2">Requirements</h1>
	<ul class="req-list">
	<li>Access to a Computer with an internet  Connection.</li>
	</ul>
	<h1 class="heading2">Description</h1>
	<ul class="req-list">
	<li>Learn one of employer’s most requested skill of 2021<br>
	Learn to use Python Profess - ionally,Learing Both Python 2 and Python3!<br>
	Learn Machine Learing like a Professional Starts from Basics And go all the way to creating your own applications and games.
	</li>
	</ul>
	</div>
	<div class="container d-flex justify-content-center" id="instructor">
	<div class="jumbotron">
    <h1 class="inst-heading">Instructor</h1> 
	<h2 class="inst-name">{{course.instructor_name.instructor_name}}</h2>
	<h6  class="inst-profession mb-3">{{course.instructor_name.instructor_edu}}</h6>
	<img src="{{course.instructor_name.instructor_image.url}}" alt="instructor image" class="inst-image" width="100%" height="100%">
    <p class="inst-detail">{{course.instructor_name.instructor_desc|slice:':396'}}
   <span id="dots">...</span><span id="more">AS always, 365 careers is fantastic. I loved the Deep Nets part mostly. However, some other popular Machine Learning techniques such as Random Forest Classification/Regression and Support Vector Machines/Regression should have been addressed. Having said that, it is still a very good course which covers almost everything. Thank you 365 team, You all are simply the best. Janaki Mohapatra, India.</span>
	</p>
		<button onclick="showMoreshowLess()" id="showmore">Show More &#9660;
  </button>

	</div>
    </div>
</section>
	
<section id="course-faq">
	<div class="container">
	<h1 class="heading1">Frequently Ask Questions</h1>
	
	    <div class="accordion" id="course-accordion-faq">
                     <div class="card">
                         <div class="card-header collapsed" id="headingOne">
                             <h6 class="mb-0">
                                 <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. The Training and education Hub?
                                 </button>
                             </h6>
                         </div>
                         <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#course-accordion-faq">
                             <div class="card-body">
                        L2L takes a pride in having a highly experienced and learned team of trainers/mentors to assist their clients/students of achieving excellence in their domain. Colonel HS Walia, Founder &CEO is a management professional with 32 years of experience in all round management functionsincluding Training, Operations and Stakeholders Engagement.
                                 
                             </div>
                         </div>
                     </div><hr class="faq_hr">
                     <div class="card">
                         <div class="card-header" id="headingTwo">
                             <h6 class="mb-0">
                                 <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. The Training and education Hub?
                                 </button>
                             </h6>
                         </div>
                         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#course-accordion-faq">
                             <div class="card-body">
                             L2L takes a pride in having a highly experienced and learned team of trainers/mentors to assist their clients/students of achieving excellence in their domain. Colonel HS Walia, Founder &CEO is a management professional with 32 years of experience in all round management functionsincluding Training, Operations and Stakeholders Engagement.   
                             </div>
                         </div>
                     </div><hr class="faq_hr">
                     <div class="card">
                         <div class="card-header" id="headingThree">
                             <h6 class="mb-0">
                                 <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. Training Program includes
                                 </button>
                             </h6>
                         </div>
                         <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#course-accordion-faq">
                             <div class="card-body">
                              L2L takes a pride in having a highly experienced and learned team of trainers/mentors to assist their clients/students of achieving excellence in their domain. Colonel HS Walia, Founder &CEO is a management professional with 32 years of experience in all round management functionsincluding Training, Operations and Stakeholders Engagement.  
                             </div>
                         </div>
                     </div><hr class="faq_hr">
                    <div class="card">
                         <div class="card-header" id="headingFour">
                             <h6 class="mb-0">
                                 <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">4. Placement Support
                                 </button>
                             </h6>
                         </div>
                         <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#course-accordion-faq">
                             <div class="card-body">
                              L2L takes a pride in having a highly experienced and learned team of trainers/mentors to assist their clients/students of achieving excellence in their domain. Colonel HS Walia, Founder &CEO is a management professional with 32 years of experience in all round management functionsincluding Training, Operations and Stakeholders Engagement.        
                             </div>
                         </div>
                     </div><hr class="faq_hr">
			      <div class="card">
                         <div class="card-header" id="headingFive">
                             <h6 class="mb-0">
                                 <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">5. Placement Support
                                 </button>
                             </h6>
                         </div>
                         <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#course-accordion-faq">
                             <div class="card-body">
                              L2L takes a pride in having a highly experienced and learned team of trainers/mentors to assist their clients/students of achieving excellence in their domain. Colonel HS Walia, Founder &CEO is a management professional with 32 years of experience in all round management functionsincluding Training, Operations and Stakeholders Engagement.        
                             </div>
                         </div>
                     </div>
               </div>
	</div>
</section>
<section id="footer">
 <!-- Footer -->
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 pr-5"><img src="{% static 'code2learn_app/images/version7/footer/logo.svg' %}" width="120" height="30" alt="Code2Learn" class="mb-3">
          <p class="footer-description">L2L International has brilliant, highly experienced machine learning, deep learning faculty members. Having more than 10 years experience in Software Industry </p>
          
        </div>
		 <div class="col-lg-4 col-md-6 mb-4">
		<div class="row">
        <div class="col-6">
          <h6 class="footer-headings mb-3">Explore</h6>
          <ul class="footer-links list-unstyled mb-0">
            <li class="mb-2"><a href="{% url 'home' %}">Home</a></li>
            <li class="mb-2"><a href="{% url 'home' %}#explore-programmes">Training</a></li>
            <li class="mb-2"><a href="{% url 'home' %}#training">About Us</a></li>
            <li class="mb-2"><a href="{% url 'home' %}#FAQ">FAQ</a></li>
          </ul>
        </div>
        <div class="col-6">
          <h6 class="footer-headings mb-3">Resources</h6>
          <ul class="footer-links list-unstyled mb-0">
            <li class="mb-2"><a href="{% url 'explore_courses' %}">Courses</a></li>
            <li class="mb-2"><a href="{% url 'career' %}">Career</a></li>
			<li class="mb-2"><a href="{% url 'view_certificate' %}">Certificate</a></li>
          </ul>
        </div>
		</div> 
		</div>
        <div class="col-lg-4 col-md-6">
          <h6 class="footer-headings mb-3">Reach Out</h6>         
            <ul class="footer-links list-unstyled mb-0">
                <li><a href="#"><p><i class="fa fa-phone"></i> +91 9319306424</p> </a></li>
				<li><a href="mailto:contact@code2learn.co"><p><i class="fa fa-envelope"></i> contact@code2learn.co</p> </a></li>

            </ul>
			<ul class="list-inline mt-4 footer-social-links">
             <li class="list-inline-item">
			 <a href="https://www.facebook.com/Code2Learn-103306408351004" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/codee2learn/" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
	 
   <!-- Go to Top Link -->
   
    <a href="#" class="back-to-top">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
	 
    <!-- Copyrights -->
    <div class="py-2" id="Copyrights">
      <div class="container">
        <div class="d-flex">
  <p class="mr-auto">Copyright line</p>
  <p class="pr-2">
    <a href="/media/{{ pdf.privacy_policy }}" style="color: white;">Terms and Conditions</a>
  </p>
  <p>
    <a href="/media/{{ pdf.terms_condition }}" style="color: white;">Privacy Policy</a>
  </p>
</div>
      </div>
    </div>
  <!-- End -->    
</section>
<script>
function showMoreshowLess() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("showmore");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show More &#9660;"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show Less &#9650;"; 
    moreText.style.display = "inline";
  }
}
	
/*  Navbar */
    $(window).on('scroll load', function() {
		if ($(".navbar").offset().top > 100) {
			$(".fixed-top").addClass("top-nav-collapse");
		} else {
			$(".fixed-top").removeClass("top-nav-collapse");
		}
    });</script>
</body>	
</html>