{% extends "code2learn_app/base.html" %}
{% load custom_template_tags %}
{% load static %} {% block css %}
<link
  href="{% static 'code2learn_app/css/version7/registerPage/register.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'code2learn_app/css/version7/registerPage/intlTelInputnew.css' %}"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
  rel="stylesheet"
/>
{% endblock css %} {% block js_up %}
<script src="{% static 'code2learn_app/js/version7/navbar/script.js' %}"></script>
{% endblock js_up %}

{% block title %} Enroll {% endblock title %}

{% block content %}

<section id="registration-form">
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-5 col-sm-12 pt-5">
        <div class="card" style="border: none">
          <img
            id="registerimg"
            src="{% static 'code2learn_app/images/version7/registerPage/enroll.png' %}"
            class="card-img-top"
            alt="Register"
            width="100%"
            height="auto"
          />
        </div>
      </div>
      <div class="col-md-7 col-sm-12 form">
        <h1 class="heading1">Enroll</h1>

        {% if error %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        
        <form action="{% url 'enroll_course' course.id %}" method="POST" id="enroll_form" style="margin-top:30px;">
          {% csrf_token %}
            
          <div class="form-group">
            <label for="category">Course Category</label>
            <input
              type="text"
              class="form-control"
              name="category"
              placeholder="Category"
              id="category"
              value="{{course.category.category_name}}"
              required disabled
            />
          </div>

          <div class="form-row">
            <div class="form-group col-md-9 col-sm-6">
              <label for="course">Course Name</label>
              <input
              type="text"
              class="form-control"
              name="course"
              placeholder="Course"
              id="course"
              value="{{course.course_name}} ({{course.sub_category.sub_category_name}})"
              required disabled
            />
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <label for="language">Language</label>
              <input
              type="text"
              class="form-control"
              name="language"
              placeholder="Language"
              id="language"
              value="{{course.course_language}}"
              required disabled
            />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6" style="display: flex;">
              <input
              type="text"
              class="form-control"
              name="coupon"
              placeholder="Have Coupon?"
              id="coupon"
            />
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <button
                class="btn btn-block btn-outline-dark btn-sm"
                type="button"
                id="coupon_button"
                style="margin-top: 3px;"
                >Apply Coupon
              </button>
            </div>
            <div class="form-group col-md-3 col-sm-6" style="display: flex;">
              <input
              type="text"
              class="form-control"
              name="price"
              placeholder="Amount"
              id="price"
              value="{{course.actual_price}}"
              readonly required
            />
            </div>
            <span class="badge badge-danger ml-1 d-none" id="span_not_coupon">Coupon Invalid!</span>
            <span class="badge badge-success ml-1 d-none" id="span_coupon">Coupon Applied!</span>
            
          </div>
          <div class="form-group text-center">
            <label for="pmode">Payment Mode</label>
            <br>
            <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment_mode"
                      id="inlineRadio1"
                      value="paytm"
                      checked
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Paytm</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment_mode"
                      id="inlineRadio2"
                      value="razor"
                      
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >RazorPay</label
                    >
                  </div>
          </div>
          <button id="paybtn" class="btn btn-lg btn-block" style="background: #58579E;color: white">Pay Now</button>
        </form>
        <br />
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block js_down %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'code2learn_app/js/version7/registerPage/intlTelInput.js' %}"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"
  defer
></script>
<script src="{% static 'code2learn_app/js/version7/registerPage/register.js' %}"></script>

{% if error %}
<script>
  const payBtn = document.querySelector("#paybtn");
  payBtn.disabled = true;
</script>  
{% endif %}

<script>
  $("#paybtn").click(function () {
    /* when the submit button in the modal is clicked, submit the form */

    $("#enroll_form").submit();
  });
</script>

<script>
  // apply coupon
  $("#coupon_button").click(function () {
    $.ajax({
      type: "POST",
      data: {
        coupon: $("#coupon").val(),
        price: $("#price").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function (data) {
        var amount = data.amount;
        if (amount) {
          $("#price").val(amount);
          $("#span_coupon").removeClass("d-none");
          $("#span_not_coupon").addClass("d-none");
        } else {
          $("#span_not_coupon").removeClass("d-none");
          $("#span_coupon").addClass("d-none");
        }
        $("#coupon").val("");
      },
    });
  });
</script>
{% endblock js_down%}
