{% extends "code2learn_app/base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'code2learn_app/css/version7/navbar/style.css' %}" rel="stylesheet">
  <link href="{% static 'code2learn_app/css/version7/landPage/explore-programmes.css' %}" rel="stylesheet">
  <link href="{% static 'code2learn_app/css/version7/landPage/why-us.css' %}" rel="stylesheet">
  <link href="{% static 'code2learn_app/css/version7/registerPage/intlTelInputnew.css' %}" rel="stylesheet" >
  <link href="{% static 'code2learn_app/css/version7/landPage/experts.css' %}" rel="stylesheet" >    
  <link href="{% static 'code2learn_app/css/version7/landPage/faq.css' %}" rel="stylesheet" >    
{% endblock css %}

{% block title %} Home {% endblock title %}



{% block content %}
  
  <div class="container" id="banner">
        <div class="row">
          <div class="col-md-7 order-md-1 order-2">
            <h1 class="banner-heading">Code2Learn</h1>
            <p class="banner-subtitle">Quality courses at affordable pricing.</p>
            <p><a href="{% url 'explore_courses' %}" class="btn explore-btn Poppins">Explore our Courses <i class="fa fa-long-arrow-right ml-4"></i>
            </a></p>
          </div>

          <div class="col-md-5 order-md-2 order-1">
            <div id="banner-form">
              <h2 class="banner-form-heading">Enquiry</h2>
              <form action="/" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                      <input type="text" class="form-control formborder" id="name" name="fullname" placeholder="Full Name" required>
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control formborder" id="email" name="email" placeholder="E-mail" required>
                  </div>
                  <div class="form-group">
                      <input type="tel" id="phone" class="form-control formborder" placeholder="Phone Number" name="phonenum" required>
                   </div>
                  <button id="enquirysave" type="submit" class="btn btn-block">Send</button>
              </form>
          </div>
          </div>
        </div>
      </div>
</header><!-- End Header -->
</section><!-- End Banner -->
	
<section class="container" id="communication">
  <div class="row">
    <div class="col-md-6 align-self-center p-2">
      <img src="{% static 'code2learn_app/images/version7/landPage/Telecommuting.png' %}" width="100%"  alt="Telecommuting"/>
    </div>
    <div class="col-md-6 align-self-center p-3">
      <p class="heading1">Get Latest Tech Course + Easy to understand video Lecture</p>
  </div>
    </div>
</section>
<section id="explore-programmes">
  <div>
    <h1 class="heading1">Explore & Find Your Perfect Program</h1>
  </div>
  <div class="tabs-navigation py-2">
    <ul class="nav nav-pills justify-content-center">
      {% for category in categories %}

        {% if forloop.first %}
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">{{category}}</a>
          </li>
        {% else %}  
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab{{forloop.counter}}">{{category}}</a>
          </li>
        {% endif %}
      
      {% endfor %}
    </ul>

    <div class="tab-content mt-3">
      <!-- start category 1 -->
      <div class="container tab-pane fade show active" id="tab1" role="tabpanel">
 <!-- for desktop-view ---> 
     <div class="card-deck justify-content-between">
      
      {% for course in course_1 %}
        <div class="card">
          <div class="card img-fluid">
            <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
            <div class="card-img-overlay text-left">
              {% if course.tag_name.tag_name == "New" %}
                <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
              {% else %}
                <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body text-left">
            <div class="d-inline mb-1">
              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
            </div>
            <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
            <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
            <p class="card-text mb-1">Online Class Start From:-</p>
            {% if course.sub_category.sub_category_name == "Weekday" %}
            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
            {% elif course.sub_category.sub_category_name == "Weekend" %}
            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
            {% endif %}
            
            <div class="d-flex justify-content-between">
              <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

              <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Courses Coming Soon</p>
        </div>  
      {% endfor %}

    </div>          
			
        <!-- for mobile-view -->
        <div id="carouselForTab1" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
          {% for course in course_1 %}
            {% if forloop.first %}
              <div class="carousel-item active">
                <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            <div class="carousel-item"> 
              <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Courses Coming Soon</p>
        </div>
          {% endfor %}
        </div> 
			  </div>
      </div>
      <!-- end category 1 -->
      <!-- start category 2 -->
      <div class="container tab-pane fade" id="tab2" role="tabpanel">
       <!-- for desktop-view --->  
        <div class="card-deck justify-content-between">
        {% for course in course_2 %}
        <div class="card">
          <div class="card img-fluid">
            <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
            <div class="card-img-overlay text-left">
              {% if course.tag_name.tag_name == "New" %}
                <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
              {% else %}
                <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body text-left">
            <div class="d-inline mb-1">
              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
            </div>
            <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
            <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
            <p class="card-text mb-1">Online Class Start From:-</p>
            {% if course.sub_category.sub_category_name == "Weekday" %}
            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
            {% elif course.sub_category.sub_category_name == "Weekend" %}
            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
            {% endif %}
            
            <div class="d-flex justify-content-between">
              <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

              <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
      {% endfor %}
        </div>     
     			
			
			
			
     <!-- for mobile-view ---> 
        <div id="carouselForTab1" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
          {% for course in course_2 %}
            {% if forloop.first %}
              <div class="carousel-item active">
                <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            <div class="carousel-item"> 
              <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
          {% endfor %}
        </div> 
			  </div>     
            
      </div>
      <!-- end category 2 -->
      <!-- start category 3 -->
      <div class="container tab-pane fade" id="tab3" role="tabpanel">
       <!-- for desktop-view --->  
        <div class="card-deck justify-content-between">
        {% for course in course_3 %}
        <div class="card">
          <div class="card img-fluid">
            <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
            <div class="card-img-overlay text-left">
              {% if course.tag_name.tag_name == "New" %}
                <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
              {% else %}
                <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body text-left">
            <div class="d-inline mb-1">
              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
            </div>
            <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
            <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
            <p class="card-text mb-1">Online Class Start From:-</p>
            {% if course.sub_category.sub_category_name == "Weekday" %}
            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
            {% elif course.sub_category.sub_category_name == "Weekend" %}
            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
            {% endif %}
            
            <div class="d-flex justify-content-between">
              <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

              <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
      {% endfor %}
        </div>     
     			
			
			
			
     <!-- for mobile-view ---> 
        <div id="carouselForTab1" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
          {% for course in course_3 %}
            {% if forloop.first %}
              <div class="carousel-item active">
                <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            <div class="carousel-item"> 
              <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
          {% endfor %}
        </div> 
			  </div>     
            
      </div>
      <!-- end category 3 -->
      <!-- start category 4 -->
      <div class="container tab-pane fade" id="tab4" role="tabpanel">
       <!-- for desktop-view --->  
        <div class="card-deck justify-content-between">
        {% for course in course_4 %}
        <div class="card">
          <div class="card img-fluid">
            <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
            <div class="card-img-overlay text-left">
              {% if course.tag_name.tag_name == "New" %}
                <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
              {% else %}
                <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body text-left">
            <div class="d-inline mb-1">
              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
            </div>
            <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
            <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
            <p class="card-text mb-1">Online Class Start From:-</p>
            {% if course.sub_category.sub_category_name == "Weekday" %}
            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
            {% elif course.sub_category.sub_category_name == "Weekend" %}
            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
            {% endif %}
            
            <div class="d-flex justify-content-between">
              <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

              <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
      {% endfor %}
        </div>     
     			
			
			
			
     <!-- for mobile-view ---> 
        <div id="carouselForTab1" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
          {% for course in course_4 %}
            {% if forloop.first %}
              <div class="carousel-item active">
                <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            <div class="carousel-item"> 
              <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
          {% endfor %}
        </div> 
			  </div>     
            
      </div>
      <!-- end category 4 -->
      <!-- start category 5 -->
      <div class="container tab-pane fade" id="tab5" role="tabpanel">
       <!-- for desktop-view --->  
        <div class="card-deck justify-content-between">
        {% for course in course_5 %}
        <div class="card">
          <div class="card img-fluid">
            <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
            <div class="card-img-overlay text-left">
              {% if course.tag_name.tag_name == "New" %}
                <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
              {% else %}
                <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
              {% endif %}
            </div>
          </div>
          <div class="card-body text-left">
            <div class="d-inline mb-1">
              <p class="Poppins"> {{course.course_language}} : <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
            </div>
            <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
            <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
            <p class="card-text mb-1">Online Class Start From:-</p>
            {% if course.sub_category.sub_category_name == "Weekday" %}
            <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
            {% elif course.sub_category.sub_category_name == "Weekend" %}
            <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
            {% endif %}
            
            <div class="d-flex justify-content-between">
              <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

              <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
      {% endfor %}
        </div>     
     <!-- for mobile-view ---> 
        <div id="carouselForTab1" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
          {% for course in course_5 %}
            {% if forloop.first %}
              <div class="carousel-item active">
                <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
            <div class="carousel-item"> 
              <div class="card">
                  <div class="card img-fluid">
                    <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap" style="width:100%">
                    <div class="card-img-overlay text-left">
                      {% if course.tag_name.tag_name == "New" %}
                        <a href="#" class="btn" style="background: #7D90D4;color: white">{{course.tag_name|upper}}</a>
                      {% else %}
                        <a href="#" class="btn" style="background: #D4827D;color: white">{{course.tag_name|upper}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="card-body text-left">
                    <div class="d-inline mb-1">
                        <p class="Poppins"> {{course.course_language}}: <i class="fa fa-inr" aria-hidden="true"></i>  {{course.actual_price}}</p>
                    </div>
                    <h6 class="Poppins card-title mb-1"><a href="machinepage.html">{{course.course_name}}</a></h6>
                    <p class="card-text mb-1"><small class="text-muted">{{course.sub_heading}}</small></p>
                    <p class="card-text mb-1">Online Class Start From:-</p>
                    {% if course.sub_category.sub_category_name == "Weekday" %}
                    <p class="card-text mb-2"><small class="text-muted">MON-FRI, {{course.course_timing}}</small></p>
                    {% elif course.sub_category.sub_category_name == "Weekend" %}
                    <p class="card-text mb-2"><small class="text-muted">SAT-SUN, {{course.course_timing}}</small></p>  
                    {% endif %}
                    <div class="d-flex justify-content-between">
                      <a href="{% url 'explore_courses' %}?course_id={{course.id}}" class="btn" style="background: transparent;color: #58579E;border: 1px solid #58579E">Details</a>

                      <a href="{% url 'enroll_course' course.id %}" class="btn" style="background: #58579E;color: white">Enroll Now</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
        <div class="container" style="display: flex;justify-content: center;">
          <p class="banner-subtitle text-center">Sorry, No Courses Available.</p>
        </div>
          {% endfor %}
        </div> 
			  </div>     
            
      </div>
      <!-- end category 5 -->
    </div>

</div>
</section>
<section id="whyUs" class="py-5">
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center p-2">
	  <h1 class="heading1">Why Code2learn</h1>
      <p class="paragraph1">Most ML Programs don’t take you much farther than a beginner and certainly don’t make you ready for employment. as you need to be competent to land a job only certificate doesn't impress anyone anymore, the key things that matter is knowledge, project and experience in the field.</p>
  </div>
  <div class="col-md-6 align-self-center p-2">
      <img src="{% static 'code2learn_app/images/version7/landPage/Kids-Studying.png' %}" width="100%"  alt="Kids Studying"/>
    </div>
    </div>
</div>

    <div class="container">
	<h1 class="heading2">WHY US?</h1>
    <div class="card-deck justify-content-between">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/certificate.png' %}" alt="Certificate">
          <div class="card-body">
            <p class="card-title">Certificate</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Internship.png' %}" alt="Internship Opportunity">
          <div class="card-body">
            <p class="card-title">Internship Opportunity</p>
          </div>
      </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/language.png' %}" alt="Language">
          <div class="card-body">
            <p class="card-title">Language</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Practical-and-Case.png' %}" alt="Practical and Case Study Driven">
          <div class="card-body">
            <p class="card-title">Practical and Case Study Driven</p>
          </div>
        </div>
    </div>
    <div class="card-deck justify-content-between">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Online-Class.png' %}" alt="Online Class(Weekdays, Weekend Session)">
          <div class="card-body">
            <p class="card-title">
              Online Class<br><small>(Weekdays, Weekend Session)</small>
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Career-Growth.png' %}" alt="Career Growth">
          <div class="card-body">
            <p class="card-title">Career Growth</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Job-Assistance.png' %}" alt="Job Assistance Program">
          <div class="card-body">
            <p class="card-title">Job Assistance Program</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Real-time-Project.png' %}" alt="10 + Real time Industry Project">
          <div class="card-body">
            <p class="card-title">10 + Real time Industry Project</p>
          </div>
        </div>
      </div> 
		
		
			<!--- for mobile-view-->
<div id="whyUsCarousel">
<div class="carousel slide" data-ride="carousel" data-interval="1400">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/certificate.png' %}" alt="Certificate">
          <div class="card-body">
            <p class="card-title">Certificate</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Practical-and-Case.png' %}" alt="Practical and Case Study Driven">
          <div class="card-body">
            <p class="card-title">Practical and Case Study Driven</p>
          </div>
        </div>
      </div>
	 <div class="carousel-item">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/language.png' %}" alt="Language">
          <div class="card-body">
            <p class="card-title">Language</p>
          </div>
        </div>
      </div>
		<div class="carousel-item">
         <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Practical-and-Case.png' %}" alt="Practical and Case Study Driven">
          <div class="card-body">
            <p class="card-title">Practical and Case Study Driven</p>
          </div>
        </div>
      </div>
		<div class="carousel-item">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Online-Class.png' %}" alt="Online Class(Weekdays, Weekend Session)">
          <div class="card-body">
            <p class="card-title">
              Online Class<br><small>(Weekdays, Weekend Session)</small>
            </p>
          </div>
        </div>
      </div>
		<div class="carousel-item">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Career-Growth.png' %}" alt="Career Growth">
          <div class="card-body">
            <p class="card-title">Career Growth</p>
          </div>
        </div>
      </div>
		<div class="carousel-item">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Job-Assistance.png' %}" alt="Job Assistance Program">
          <div class="card-body">
            <p class="card-title">Job Assistance Program</p>
          </div>
        </div>
      </div>
		<div class="carousel-item">
        <div class="card">
          <img class="card-img-top" src="{% static 'code2learn_app/images/version7/landPage/Real-time-Project.png' %}" alt="10 + Real time Industry Project">
          <div class="card-body">
            <p class="card-title">10 + Real time Industry Project</p>
          </div>
        </div>
      </div>
    </div>
    </div>	
</div>	
		
		
		
		
    </div>
</section>
<section id="training">
    <div class="container">
        <h1>Classes Taught By Real Expert</h1>
        <p>Our Teachers are icons, experts and industry rock Stars.</p>
        <p>Excited to share their experience, wisdom and trusted tools with you.</p>
    <div class="card-deck justify-content-center">
  <div class="card">
    <img class="card-img-top my-3" src="{% static 'code2learn_app/images/version7/landPage/Ellipse-4.svg' %}" alt="Card image cap" width="126px" height="126px">
    <div class="card-body">
      <h5 class="card-title">Dr. Krantee Jamdaade</h5>
      <p class="card-text">Assistant professor and researcher || Trainer & Mentor || Artificial Intelligence || Expert System Developer || Soft Computing || Machine Learning
     </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top my-3" src="{% static 'code2learn_app/images/version7/landPage/Ellipse-6.svg' %}" alt="Card image cap" width="126px" height="126px">
    <div class="card-body">
      <h5 class="card-title">Laika Satish</h5>
      <p class="card-text">Trainer& mentor || data science || Machine Learning || skilled Leader and Mentor
      </p>
    </div>
  </div>
</div>

		<!--- for mobile-view-->
<div id="trainingCarousel">
<div class="carousel slide" data-ride="carousel" data-interval="2400">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="card">
    <img class="card-img-top my-3" src="{% static 'code2learn_app/images/version7/landPage/Ellipse-4.svg' %}" alt="Card image cap" width="100px" height="100px">
    <div class="card-body">
      <h5 class="card-title">Dr. Krantee Jamdaade</h5>
      <p class="card-text">Assistant professor and researcher || Trainer & Mentor || Artificial Intelligence || Expert System Developer || Soft Computing || Machine Learning
     </p>
    </div>
  </div>
      </div>
      <div class="carousel-item">
          <div class="card">
    <img class="card-img-top my-3" src="{% static 'code2learn_app/images/version7/landPage/Ellipse-6.svg' %}" alt="Card image cap" width="100px" height="100px">
    <div class="card-body">
      <h5 class="card-title">Laika Satish</h5>
      <p class="card-text">Trainer& mentor || data science || Machine Learning || skilled Leader and Mentor
      </p>
    </div>
  </div>
      </div>
    </div>
    </div>	
</div>		
		
</div>
</section>
  <section id="testimonials">
    <h1>Testimonial</h1>
      <p>What Our Student are Saying?</p>
      <div class="container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2400">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="card">
            <img class="card-img-top mt-5" src="{% static 'code2learn_app/images/version7/landPage/review1.svg' %}" alt="Amitosh Sharma" width="99px" height="99px">
            <div class="card-body">
            <h2 class="card-title mb-3">Amitosh Sharma</h2>
            <p class="card-text">
            <i class="fa fa-quote-left mr-2" style="font-size:32px;color: black"></i>
            Far far away,behind the word mountains,far from the countries,Vokalia and Consonantia,there live the blind texts,Separated they live in Bookmarksgrove right at the coast of the Semantics,a large language ocean.
            <i class="fa fa-quote-right ml-2" style="font-size:32px;color: black"></i></p>
          </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="card">
            <img class="card-img-top mt-5" src="{% static 'code2learn_app/images/version7/landPage/review2.svg' %}" alt="Elham Makki" width="99px" height="99px">
            <div class="card-body">
            <h2 class="card-title mb-3">Elham Makki</h2>
            <p class="card-text">
            <i class="fa fa-quote-left mr-2" style="font-size:32px;color: black"></i>
            Far far away,behind the word mountains,far from the countries,Vokalia and Consonantia,there live the blind texts,Separated they live in Bookmarksgrove right at the coast of the Semantics,a large language ocean.
            <i class="fa fa-quote-right ml-2" style="font-size:32px;color: black"></i></p>
          </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <i class="fa fa-angle-right" style="font-size:48px;color:black"></i>
      <span class="sr-only">Next</span>
    </a>
    </div>
   </div>
  </section>
  <section id="FAQ" class="jumbotron jumbotron-fluid faq2 mb-0 ">
    <div class="container" style="background: white;border-radius: 25px;padding: 30px;">
      <h1 class="poppins aligncenter font-weight-bold mt-4">FAQ’S</h1>
      <div class="accordion mt-3 poppins" id="accordionExample">
        <div class="card faqborder">
          <div class="card-header collapsed" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><b>1. </b>Who is eligible for this course?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body text-justify">
              This training is suitable for fresher, graduates as well as post graduates. If you are a professional who want to polish their skills and is coding enthusiastic.
            </div>
          </div>
        </div>
        <hr class="faq_hr">

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><b>2. </b>How do I enrol and make payment for the course?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

            <div class="card-body text-justify">
              You can enroll for the course through (
              <a href="/register">
                <i class="fa fa-link" aria-hidden="true"></i>
              </a> ). The payment can be done through online, international cards are also accepted.

            </div>
          </div>
        </div>
          <hr class="faq_hr">
        <div class="card">
          <div class="card-header" id="headingTwo2">
            <h2 class="mb-0">
              <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"><b>3. </b>Does all the student get internship opportunity?
              </button>
            </h2>
          </div>
          <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample">

            <div class="card-body text-justify">Yes, based on your assessment result, duration of internship will be varied.
            </div>
          </div>
        </div>
        <hr class="faq_hr">

        <div class="card">
          <div class="card-header" id="headingTwo3">
            <h2 class="mb-0">
              <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3"><b>4. </b>What will be the Timing of course?
              </button>
            </h2>
          </div>
          <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordionExample">
            

            <div class="card-body text-justify">
              As soon as you enrol for a course, our counsellor will speak to you regarding your time preferences, skills, and career objectives. You will be assigned to a batch that best suits your profile with an instructor. <br>
              For weekday class will be of 1.5hr. <br>For weekend class will be of 6hr.

            </div>
          </div>
        </div>
          <hr class="faq_hr">
        <div class="card">
          <div class="card-header" id="headingThree1">
            <h2 class="mb-0">
              <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1"><b>5. </b>Why Code2Learn?
              </button>
            </h2>
          </div>
          <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">

            <div class="card-body text-justify">Most ML Programs don’t take you much farther than a beginner and certainly don’t make you ready for employment. as you need to be competent to land a job only certificate doesn't impress anyone anymore,
              the key things that matter is knowledge, project and experience in the field.
            </div>
          </div>
        </div>
        <hr class="faq_hr">

        <div class="card  faqborder">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><b>6. </b>How can I contact you?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

            <div class="card-body text-justify">You can write to us at emailed with your contact details. Our representatives generally respond to requests within 24 hours.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
{% endblock content %}

{% block js_down %}
  <script src="{% static 'code2learn_app/js/version7/registerPage/intlTelInput.js' %}"></script>
  <script>
    var input = document.querySelector("#phone")
    window.intlTelInput(input, {


      autoPlaceholder: "off",

      //initialCountry: "auto",
      //geoIpLookup: function (callback) {
      //    $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
      //        var countryCode = (resp && resp.country) ? resp.country : "";
      //        callback(countryCode);
      //    });
      //},
      initialCountry: "in",


      separateDialCode: true,
      utilsScript: "{% static 'code2learn_app/js/version7/utils.js' %}",
    });

    $('#enquirysave').click(function() {
      // Storing Field Values In Variables
      var name = document.getElementById("name").value;
      var email = document.getElementById("email").value;
      var phone = document.getElementById("phone").value;


      // Regular Expression For Email
      var emailReg = /.+@[^@]+\.[^@]{2,}$/;
      // Conditions
      if (name != '' && email != '' && phone != '') {
        if (email.match(emailReg)) {

          if (phone.length == 10) {
            $('#confirm-submit').modal('show');
          } else {
            // alert("The Phone No. must be 10 digit long!");
            Swal.fire("Error", "Phone Number must be 10 digits long!", "error");
            return false;
          }
        } else {
          // alert("Invalid Email Address...!!!");
          Swal.fire("Error", "Invalid Email Address!", "error");
          return false;
        }
      } else {
        // alert("All fields are required.....!");
        Swal.fire("Error", "All fields are required!", "error");
        return false;
      }
    });
  </script>
{% endblock js_down %}