<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="{% static 'code2learn_app/images/version7/navbar/Favicon.png' %}" rel="icon">
    <style>
        @media print {
            #printPageButton {
                display: none;
            }
        }
    </style>

</head>

<body>

    <div class="container mt-3">

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" id="printPageButton" onclick="window.print();">Print</button>
        </div>

    </div>



    <div class="container mt-3">

        <div class="row">
            <div class="col">
                <img src="{% static 'code2learn_app/images/version7/footer/footerlogo.svg' %}" alt="" style="width: 350px;
                height: 100px;">
            </div>
            <div class="col text-right">
                <p class="mb-0">Address : B-8, Sector-2 Next To<br>Sector 15<br>Metro Station Noida (UP), India</p>
                <p class="mb-0">Pin - 201301</p>
                <p class="mb-0">Tel. : 9560895119</p>
                <p class="mb-0">Email : hs@l2linternational.co</p>
            </div>
        </div>

    </div>

    <div class="container mt-5">

        <div class="row">
            <div class="col">
                <h4>Billing Address:</h4>
                <h5>{{name}}</h5>
                <p class="mb-0">{{college}}</p>
                <p class="mb-0">Tel: {{phone}}</p>
                <p class="mb-9">Email : {{email}}</p>
            </div>
            <div class="col text-right">
                <h1>Invoice</h1>
                <p class="mb-0 font-weight-bold">Invoice No.</p>
                <p class="mb-0">{{orderid}}</p>
                <p class="mb-0 font-weight-bold">Invoice Details</p>
                <p class="mb-0">In123456789</p>
                <p class="mb-0 font-weight-bold">Invoice Date</p>
                <p class="mb-0">{{date}}</p>
            </div>
        </div>

    </div>


    <div class="container mt-5" style="overflow-x: scroll">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Description</th>
                    <th scope="col">Unit Amount</th>
                    <th scope="col">Qty</th>
                    <th scope="col">GST</th>
                    <th scope="col">Net Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{course}} in {{language}} ({{sub_category}})</td>
                    <td>{{amount}}</td>
                    <td>1</td>
                    <td>0%</td>
                    <td>{{amount}}</td>
                </tr>
            </tbody>
        </table>

    </div>



    <div class="container pt-3 pb-3 mb-5" style="border-top: 1px solid grey; border-bottom: 1px solid grey;">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h4 class="text-center">Total Amount: ₹ {{amount}}</h4>
            </div>

        </div>

    </div>


    <div style="position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(188, 210, 235);
    color: black;
    text-align: center;">
        © 2020 Copyright:<a href="#"> Code2Learn.com</a>
    </div>







</body>

</html>