{% extends "code2learn_app/base.html" %}
{% load custom_template_tags %}
{% load static %} {% block css %}
<link
  href="{% static 'code2learn_app/css/version7/registerPage/register.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'code2learn_app/css/version7/registerPage/intlTelInputnew.css' %}"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
  rel="stylesheet"
/>
{% endblock css %} {% block js_up %}
<script src="{% static 'code2learn_app/js/version7/navbar/script.js' %}"></script>
{% endblock js_up %}

{% block title %} Register {% endblock title %}

{% block content %}

<section id="registration-form">
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-5 col-sm-12 pt-5">
        <div class="card" style="border: none">
          <img
            id="registerimg"
            src="{% static 'code2learn_app/images/version7/registerPage/registration.png' %}"
            class="card-img-top"
            alt="Register"
            width="100%"
            height="auto"
          />
        </div>
      </div>
      <div class="col-md-7 col-sm-12 form">
        <h1 class="heading1">Register</h1>

        {% if error %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        
        <form action="/register" method="POST">
          {% csrf_token %}
            <div class="form-group">
            <label for="name">Full Name</label>
            <input
              type="text"
              class="form-control"
              name="fullname"
              placeholder="Full Name"
              id="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              id="email"
              required
            />
          </div>
           <div class="emailFeedBackArea invalid-feedback" style="display:none">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              id="password"
              required
            />
          </div>
          <div class="passwordFeedBackArea invalid-feedback" style="display:none">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              <label for="phone">Phone Number</label>
              <input
                type="tel"
                id="phone"
                class="form-control"
                placeholder="Phone Number"
                required
              />
            </div>

            <div class="form-group col-md-6 col-sm-6">
              <label for="youare">You Are</label>
              <select class="form-control" name="youare" id="youare" required>
                <option disabled value selected>You Are</option>
                <option>Working Professional</option>
                <option>College Student</option>
              </select>
            </div>
          </div>

          <!-- <div class="form-group">
                    <input type="tel" id="altphone" class="form-control "
                        placeholder="Alternate Phone No(10 digits)" name="last" pattern="[1-9]{1}[0-9]{9}" required>

                </div> -->

          <div class="form-group">
            <label for="college">College/Company Name</label>
            <input
              type="text"
              class="form-control"
              name="collegename"
              placeholder="College/Company Name"
              id="college"
              required
            />
          </div>

          <div class="form-group">
            <label for="category">Course Category</label>
            <select class="form-control" name="category" id="category" required>
              <option disabled value selected>Select</option>
              {% for category in categories %}
              <option value="{{category.id}}">
                {{category.category_name}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="form-row">
            <div class="form-group col-md-9 col-sm-6">
              <label for="course">Course Name</label>
              <select class="form-control" name="course" id="course" required>
                <option disabled value selected>Select a Course</option>
              </select>
            </div>
            <div class="form-group col-md-3 col-sm-6">
              <label for="language">Language</label>
              <select
                class="form-control"
                name="language"
                id="language"
                required
              >
                <option disabled value selected>Select</option>
              </select>
            </div>
          </div>

          <input
            type="button"
            name="btn"
            value="Submit"
            id="submitBtn"
            class="btn btn-lg btn-block"
          />

          <!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button> -->
        </form>
        <br />
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="confirm-submit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Pay</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/register" method="POST" id="registerform">
            {% csrf_token %}
            <table class="table mb-0 border-0">
              <tr>
                <th>Full Name</th>
                <td>
                  <input class="bnone" name="fullname" id="cname" readonly />
                </td>
              </tr>
              <tr>
                <th>Email</th>
                <td>
                  <input class="bnone" name="email" id="cemail" readonly />
                </td>
              </tr>
              {% if not request.session.user %}
                <tr>
                <th>Password</th>
                <td>
                  <input type="password" class="bnone" name="password" id="cpassword" readonly />
                </td>
              </tr>
              {% endif %}
              <tr>
                <th>Phone Number</th>
                <td>
                  <input class="bnone" id="cphone" name="phone" readonly />
                </td>
              </tr>
              <input type="hidden" id="cyouare" name="youare" value="">
              <tr>
                <th>College</th>
                <td>
                  <input
                    class="bnone"
                    name="collegename"
                    id="ccollege"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <th>Course</th>
                <td>
                  <input class="bnone" name="course" id="ccourse" readonly />
                </td>
              </tr>
              <tr>
                <th>Language</th>
                <td>
                  <input
                    class="bnone"
                    name="language"
                    id="clanguage"
                    readonly
                  />
                </td>
              </tr>
              <tr>
                <th>Amount</th>
                <td>
                  <input class="bnone" name="amount" id="camount" readonly />
                </td>
              </tr>
              <tr>
                <th>Have a coupon code?</th>
                <td class="row">
                  <input class="col-6 form-control" name="coupen" id="coupen" />

                  <span class="col-6">
                    <button
                      class="btn btn-block btn-outline-dark btn-sm"
                      type="button"
                      id="coupen_button"
                    >
                      Apply Coupon
                    </button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="badge badge-primary d-none" id="span_not_coupen"
                    >Coupon Invalid!</span
                  >

                  <span class="badge badge-success d-none" id="span_coupen"
                    >Coupon Applied!</span
                  >
                </td>
              </tr>
              <tr>
                <th>Payment method</th>
                <td class="row">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment_mode"
                      id="inlineRadio1"
                      value="paytm"
                      checked
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Paytm</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="payment_mode"
                      id="inlineRadio2"
                      value="razor"
                      
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Razorpay</label
                    >
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <a href="#" id="cnfsubmit" class="btn btn-success success"
            >Confirm & Pay</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block js_down %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'code2learn_app/js/version7/registerPage/intlTelInput.js' %}"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"
  defer
></script>
<script src="{% static 'code2learn_app/js/version7/registerPage/register.js' %}"></script>


  <script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input, {
    autoPlaceholder: "off",

    //initialCountry: "auto",
    //geoIpLookup: function (callback) {
    //    $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
    //        var countryCode = (resp && resp.country) ? resp.country : "";
    //        callback(countryCode);
    //    });
    //},
    initialCountry: "in",

    separateDialCode: true,
    utilsScript: "{% static 'code2learn_app/js/version7/utils.js' %}",
  });

  //var input2 = document.querySelector("#altphone")
  //window.intlTelInput(input2, {

  //    autoPlaceholder: "off",

  //initialCountry: "auto",
  //geoIpLookup: function (callback) {
  //    $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
  //        var countryCode = (resp && resp.country) ? resp.country : "";
  //        callback(countryCode);
  //    });
  //},
  //    initialCountry: "in",
  //    hiddenInput: "last",

  //    separateDialCode: true,
  //    utilsScript: "{% static 'code2learn_app/js/utils.js' %}",
  //});

  $("#submitBtn").click(function () {
    // Storing Field Values In Variables
    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var phone = document.getElementById("phone").value;
    var password = "{{ request.session.password }}"
    var password = document.getElementById("password").value;
    var college = document.getElementById("college").value;
    var youare = document.getElementById("youare").value;
    // var course = document.getElementById("course");
    // var language = document.getElementById("language").value;
    var course = $("#course option:selected").text();
    var language = $("#language option:selected").text();

    //console.log(name + email + phone + college + course + language)

    // Regular Expression For Email
    var emailReg = /.+@[^@]+\.[^@]{2,}$/;
    // Conditions
    if (
      name != "" &&
      email != "" &&
      password != "" &&
      phone != "" &&
      college != "" &&
      youare != "" &&
      course != "" &&
      language != ""
    ) {
      if (email.match(emailReg)) {
        if (phone.length == 10) {
          var country_code = $("div.iti__selected-dial-code").text();
          var serializedPhone = country_code.concat(phone);

          $("#cname").val(name);
          $("#cemail").val(email);
          $("#cpassword").val(password);
          $("#cphone").val(serializedPhone);
          $("#ccollege").val(college);
          $("#ccourse").val(course);
          $("#clanguage").val(language);
          $("#cyouare").val(youare);

          $.ajax({
            url: "{% url 'load_amount' %}",
            data: {
              course: course,
              language: language,
            },
            success: function (data) {
              $("#camount").val(data.amount);
            },
          });

          $("#confirm-submit").modal("show");
        } else {
          // alert("The Phone No. must be 10 digit long!");
          Swal.fire("Error", "Phone Number must be 10 digits long!", "error");
          return false;
        }
      } else {
        // alert("Invalid Email Address...!!!");
        Swal.fire("Error", "Invalid Email Address!", "error");
        return false;
      }
    } else {
      // alert("All fields are required.....!");
      Swal.fire("Error", "All fields are required!", "error");
      return false;
    }
  });

  $("#cnfsubmit").click(function () {
    /* when the submit button in the modal is clicked, submit the form */

    $("#registerform").submit();
  });

  // apply coupen
  $("#coupen_button").click(function () {
    $.ajax({
      type: "POST",
      data: {
        coupen: $("#coupen").val(),
        price: $("#camount").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function (data) {
        var amount = data.amount;
        if (amount) {
          $("#camount").val(amount);
          $("#span_coupen").removeClass("d-none");
          $("#span_not_coupen").addClass("d-none");
        } else {
          $("#span_not_coupen").removeClass("d-none");
          $("#span_coupen").addClass("d-none");
        }
        $("#coupen").val("");
      },
    });
  });
</script>


<script>
  $(document).ready(function () {
    $(".js-example-basic-single").select2({
      placeholder: "Select a Category",
    });

    // On Category Change
    $("#category").change(function () {
      var selected = $(this).children("option:selected").val();
      if (selected != "") {
        $.ajax({
          url: "{% url 'load_courses' %}",
          data: {
            category_id: selected,
          },
          success: function (data) {
            var courses = data.courses;

            $("#course").empty().trigger("change");
            $("#course").append(newOption).trigger("change");

            for (i = 0; i < courses.length; i++) {
              var newOption = new Option(
                courses[i].text,
                courses[i].value,
                false,
                false
              );
              $("#course").append(newOption).trigger("change");
            }
          },
        });
      }
    });

    // On Course Change
    $("#course").change(function () {
      var selected = $(this).children("option:selected").text();
      if (selected != "") {
        $.ajax({
          url: "{% url 'load_languages' %}",
          data: {
            course_name: selected,
          },
          success: function (data) {
            var languages = data.languages;

            $("#language").empty().trigger("change");
            $("#language").append(newOption).trigger("change");

            for (i = 0; i < languages.length; i++) {
              var newOption = new Option(
                languages[i].text,
                languages[i].value,
                false,
                false
              );
              $("#language").append(newOption).trigger("change");
            }
          },
        });
      }
    });
  });
</script>
{% endblock js_down%}
