{% extends template %}
{% load static %}

{% block main-content %}
<div class="mt-4">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5
                    style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
                    Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="col-xl-12 col-md-12 col-12 mt-5">
        <div class="card statbox widget box box-shadow">
            <div class="accordion" id="accordionExample">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 style="color:black;">Revenue Earned</h2>
                    </div>
                    <div class="col-sm-4 form-inline justify-content-end">
                    <button class="year-btn btn btn-dark m-1" data-toggle="collapse"
                    data-target="#day" aria-expanded="true" aria-controls="day">Daily</button>
                    <button class="mon-btn btn btn-dark m-1" data-toggle="collapse"
                    data-target="#mon" aria-expanded="true" aria-controls="mon">Monthy</button>
                    <button class="day-btn btn btn-dark m-1" data-toggle="collapse"
                    data-target="#year" aria-expanded="true" aria-controls="year">Yearly</button>
                </div>
                </div>
            </div>

            {% if daily_earnings %}
            <div class="widget-content widget-content-area px-5">

                <!-- Yearly -->
                <div id="year" class="collapse" data-parent="#accordionExample">
                    <div class="row d-flex justify-content-center">
                        <div class="table-responsive">
                            <table id="htmlgrid" class="testgrid table table-striped table-bordered table-hover mb-4">
                                <tr>
                                    <th>S.No</th>
                                    <th>Year</th>
                                    <th>Revenue</th>
                                </tr>
                                {% for date,price in yearly_earnings %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{date|date:"Y"}}</td>
                                    <td>{{price.price__sum}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Monthly -->
                <div id="mon" class="collapse" data-parent="#accordionExample">
                    <div class="row d-flex justify-content-center">
                        <div class="table-responsive">
                            <table id="htmlgrid" class="testgrid table table-striped table-bordered table-hover mb-4">
                                <tr>
                                    <th>S.No</th>
                                    <th>Month</th>
                                    <th>Revenue</th>
                                </tr>
                                {% for date,price in monthly_earnings %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{date|date:"F Y"}}</td>
                                    <td>{{price.price__sum}}</td>
                                    </t>
                                    {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Daily -->
                <div id="day" class="collapse show" data-parent="#accordionExample">
                    <div class="row d-flex justify-content-center">
                        <div class="table-responsive">
                            <table id="htmlgrid" class="testgrid table table-striped table-bordered table-hover mb-4">
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Product Category</th>
                                    <th>Product</th>
                                    <th>Revenue</th>
                                </tr>
                                {% for i in daily_earnings %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.date|date:"F d, Y"}}</td>
                                    <td>{{i.customer}}</td>
                                    <td>{{i.category}}</td>
                                    <td>{{i.product}}</td>
                                    <td>{{i.price}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            {% else %}
        <div class="card-header" style="background: none;">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-12">
                    <h2>No Revenue Earned</h2>
                </div>
            </div>
        </div>
    {% endif %}
        </div>
        </div>
    </div>

</div>
{% endblock main-content %}