/* Navigation bar*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
    background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.bg-navbar{
    background-color: black;
    padding: 5px 100px;
    color: white;
    clear: both;
    margin-bottom: 20px;
}
.navbar-nav .nav-item a{
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.register-btn{
    padding: 8px 34px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
	border-radius: 0px;
}

@media only screen and (max-width: 565px) {
    .navbar{
        padding: 10px 20px;
        position: fixed;
        background: #000000;
    }
    .navbar-nav .nav-item{
        padding:5px 0px;
        color: white;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-nav .nav-item{
        padding: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-nav .nav-item{
        padding: 0px 30px;
    }
   
}

/* blog content*/

#blog{
    margin: 150px 0;
}

.blog_post{
    display: flex;
}

#blog_img{
    max-height: 256px;
    max-width: 449px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog_info{
    display: flex;
    padding: 0 30px;
}
.blog_info>div{
    align-self: center;
}
.blog_links li{
    display: inline-block;
    text-decoration: none;
    margin-right: 5px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}


.blog_links li+li:before {
  color: black;
  content: ' \203A';
  font-size: 20px;
} 
.blog_info p{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}
.blog_info .fa{ 
   font-size: 36px;
   background: rgba(0, 115, 196, 0.2);
   border-radius: 15px;
   padding: 14px 20px;
   color: #0073C4;
   cursor: pointer;
}

	/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 46%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #E63D4F;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color: #E63D4F;
  text-decoration: none;
}

@media only screen and (max-width: 565px) {
   .blog_post{
    display: flex;
	flex-direction: column;
	}
	.blog_info{
    display: flex;
	flex-direction: row;
    padding:20px 10px;
	}
	.blog_info>div{
    align-self: center;
}
	.blog_links li{
    display: inline-block;
    text-decoration: none;
    margin:0px 5px;
	font-size: 20px;
}
.blog_links li a{
    font-family: Quicksand;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

.blog_links li+li:before {
  color: black;
  content: ' \203A';
  font-size: 20px;
} 
.blog_info p{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}
.blog_info .fa{ 
   font-size: 24px;
   background: rgba(0, 115, 196, 0.2);
   border-radius: 7px;
   padding: 7px 10px;
   color: #0073C4;
   cursor: pointer;
}
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 46%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #E63D4F;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color: #E63D4F;
  text-decoration: none;
}

}
@media only screen and (min-width: 768px) {
    .blog_post{
    display: flex;
	flex-direction: column;
	}
}
@media only screen and (min-width: 1200px) {
    .blog_post{
    display: flex;
	flex-direction: row;
	}
}


.section-title {
  color: #000;
  margin-bottom: 50px;
 }
.section-title h2 {
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #222;
    position: relative;
    display: inline-block; 
}
.section-title h2:before {
      position: absolute;
      content: "";
      height: 1px;
      background: #777; 
}
.section-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    position: relative;
    display: inline-block; 
}
.section-title h3:before {
      position: absolute;
      content: "";
      height: 1px;
      background: #777; 
}