body{
    box-sizing: border-box;
}
.poppins {
    font-family: Poppins;
}

*:focus {
    outline: none;
    background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.bg-navbar{
    background-color: black !important;
    padding:10px 5px;
    clear: both;
}
.register-btn{
    /* margin-right: 50px; */
}
#topUpButton{
  display: none;
  position: fixed;
  bottom: 100px;
  right: 50%;
  z-index: 99;
  font-size: 32px;
  border: none;
  outline: none;
  background-color:transparent;
  color:#58579E;
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 50%;
}
#header {
    background: url("images/newsection1.gif");
}
.header-content{
    padding: 120px 30px 50px 40px;
 }

#section1p {
    font-size: 24px;
    font-family: 'Roboto';
    color: white;
    text-align: justify;
}
#seepricing-btn {
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    color: white;
    margin-right: 30px;
    background-color: #58579E;
}
#knowmore-btn {
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #58579E;
}

#form1 {
    border-radius: 25px;
    border: 2px solid black;
    padding: 30px;
    margin: auto 20px;
    width: auto;
    height: auto;
    background-color: #E5E5E5
}

#form1 .btn {
    color: white;
    background-color: #58579E;
}
.card1 {
    height: 280px;
    border-radius: 25px;
 }
.image1 {
    width: 150px;
    height: 150px;
    margin: auto;
}

.faq_hr{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 0 !important;
}

#Machine+learning+training {
    background: url("images/section3.png");
}
#trainingpara {
    font-size: 1.2rem;
}
#languages{
    padding: 30px;
}
.image3 {
    width: 570px;
    height: 100px;
    margin: auto;
}
#pricing {
    background-color: #E4E5FB;
}
.image2{
    width: 180px;
    height: 180px;
    margin: auto;
}

#form2 {
    border-radius: 25px;
    padding: 20px;
    height: 475px;
    background-color: white;
}

#form2 .form-control {
    background-color: #F0EEEE;
}

#getcontentbutton {
    border: none;
    padding: 12px;
    margin: 6px 3px;
    width: 250px;
    font-size: 18px;
    background-color: #58579E;
    color: white;
}

.background1 {
    background-color: #FFB8B8;
}

.background2 {
    background-color: #FFF8B8;
}

.background3 {
    background-color: #BEFFB8;
}

.background4 {
    background-color: #B8C7FF;
}

.aligncenter {
    text-align: center;
}

.bg-cover {
    background-size: cover !important;
}

.montserrat {
    font-family: 'Montserrat';
}

.pridi {
    font-family: 'Pridi';
}

.table1 {
    background-color: white;
    color: black;
    border-radius: 25px;
}
.card2 {
    width: 400px;
    height: 520px;
    border-radius: 25px;
}

.checked {
    color: orange;
}

.review {
    background-color: white;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
}

.faq2 {
    background-color: #E4E5FB;
}

.faqborder {
    border-radius: 25px;
}

.accordion .btn:after {
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: 400;
    content: "\f068";
    float: right;
}
.accordion .btn.collapsed:after {
    content: "\f067";
}

.accordion .card{
    border: none;
}
.accordion .card-header{
    background: white;
    border: none;
}
.accordion .card-body{
   padding: 10px 30px;
}

#aboutus {
    background: url("images/section4.png");
}

.section7 {
    background-image: linear-gradient(to right, #010101, #57679E, #9053BE);
}

.formborder {
    border-radius: .80rem;
}

textarea {
    max-height: 84px;
    min-height: 38px;
}

.carousel .carousel-item {
    transition-duration: 1s;
}
.section7 a {
    color: white;
}

.hide {
    display: none;
}

#phone2 {
    padding-left: 100px !important;
}

#section4p {
    color: black;
    font-size: 20px;
}

.bnone {
    width: 100%;
    border: none;
}

#registerimg {
    width: 350px;
    height: 475px;
    margin: auto;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2.5px solid;
    border-color: inherit;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}



@media only screen and (max-width: 565px) {
   .register-btn{
      /* margin-left: 45px; */
      clear: both;
    }
    .header-content{
        padding:100px 20px 0 20px;
    }
    #header h1{
      font-size: 34px;
      color: white;
      line-height: inherit;
      margin-top: 30px;
    }
    #section1p{
      font-size:22px;
      color: white;
      margin-top: 20px;
      line-height: inherit;
      text-align: justify;
    }
    #seepricing-btn{
      display: none;
    }
    #knowmore-btn{
      display: none;
    }
    #header-contentbutton{
      border: none;
      padding: 12px;
      margin-bottom: 30px;
      width: 220px;
      font-size: 18px;
      background-color: #58579E;
      color: white;
    }
    #form1 {
        border-radius: 20px;
        border: none;
        padding: 25px;
        margin: auto;
        width: auto;
        height: auto;
        background-color: #E5E5E5
    }

    #form1 .btn {
        color: white;
        background-color: #58579E;
    }
    #topUpButton {
      display: none;
      position: fixed;
      bottom: 100px;
      right: 50%;
      z-index: 99;
      font-size: 20px;
      border: none;
      outline: none;
      background-color: transparent;
      color:#58579E;
      cursor: pointer;
      padding: 4px 11px;
      border-radius: 50%;
    }
    #section2 h1 {
      font-size: 26px;
    }
    .programs {
        display: none;
    }
    .card1 {
        height: 200px;
        width: 280px;
     }
     .card1 p{
       font-size: 11px;
     }
    .image1 {
        width: 90px;
        height: 90px;
    }
    #programs-carousel .carousel-item-right.active,
    #programs-carousel .carousel-item-next {
        transform: translateX(33%);
    }
    #programs-carousel .carousel-item-left.active,
    #programs-carousel .carousel-item-prev {
       transform: translateX(-33%);
    }
    #Machine+learning+training h1{
      font-size: 32px;
    }
    #trainingpara p{
      font-size: 16px;
    }
    #languages h1{
      font-size: 32px;
    }
    .image3{
        width: 155px;
        background-color: #fff;
        background-clip: border-box;

    }
    #recipeCarousel .carousel-item-right.active,
    #recipeCarousel .carousel-item-next {
        transform: translateX(100px);
    }

    #recipeCarousel .carousel-item-left.active,
    #recipeCarousel .carousel-item-prev {
       transform: translateX(-100px);
    }

    #pricing h1{
      font-size: 32px;
      margin-bottom: 30px;
    }
    .mobile-faculty-image{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .card-faculty{
        height: 470px;
        border-radius: 15px;
     }
    .card-faculty p{
        text-align: justify
     }
     #faculty-members{
        display: none;
    }
    #aboutus h1{
      font-size: 32px;
    }
    #aboutus p{
      font-size: 16px;
    }
    .course-pricing{
        display: none;
    }
    #carouselExampleControls h1{
      font-size: 32px
    }
    #carouselExampleControls .review {
        width: 300px;
        height: 550px;
        text-align: center;
     }
    #carouselExampleControls .review p{
        text-align: justify
     }
    #faq h1{
      font-size: 32px
    }
   .section7  p{
    font-size: 16px;
    color: white;
   }
    .img-thumbnail{
        display: none;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

}


@media only screen and (min-width: 768px){
    #header-contentbutton{
        display: none;
    }
    #programs-carousel{
        display: none;
    }
    #faculty-members-carousel{
        display: none;
    }

    #pricing-carousel{
        display: none;
    }
    #carouselExampleControls .jumbotron{
       width: auto;
       height: 288px;
    }
    .section7  p{
        font-size: 16px;
        color: white;
    }
}


@media only screen and (min-width: 1200px) {
    #header h1 {
        font-weight: bold;
        font-size: 62px;
        font-family: 'Roboto';
        color: white;
    }
    .header-content .col-lg-8{
        padding-right: 100px
     }
    #header-contentbutton{
        display: none;
    }
    #programs-carousel{
        display: none;
    }
    #faculty-members-carousel{
        display: none;
    }
    #pricing-carousel{
        display: none;
    }
    #recipeCarousel .carousel-item-right.active,
    #recipeCarousel .carousel-item-next {
       transform: translateX(33%);
    }
    #recipeCarousel .carousel-item-left.active,
    #recipeCarousel .carousel-item-prev {
      transform: translateX(-33%);
    }
    .section7  p{
        font-size: 16px;
        color: white;
    }
}

   #programs-carousel .carousel-item.active,
   #programs-carousel .carousel-item-next,
   #programs-carousel .carousel-item-prev {
     display: flex;
   }

   #programs-carousel .carousel-item-right,
   #programs-carousel .carousel-item-left {
    transform: translateX(0);
   }



   #recipeCarousel .carousel-item.active,
   #recipeCarousel .carousel-item-next,
   #recipeCarousel .carousel-item-prev {
     display: flex;
   }

   #recipeCarousel .carousel-item-right,
   #recipeCarousel .carousel-item-left {
    transform: translateX(0);
   }
