*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
    background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.navbar-custom{
    padding: 5px 100px;
	background: #000;
	transition: all 0.2s;
}
.logo-image img{
	width: 100%;
	height: 100%;
	max-width: 85px;
	max-height: 59px;
}
.navbar-nav .nav-item .nav-link{
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; 
	min-width: auto;
	animation: fadeDropdown 0.2s; 
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus {
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #113448;
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #113448;
}

.navbar-custom .dropdown-item .item-text {
	font-family: Inter;
	font-weight: normal;
	font-size: 15px;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #A7DFFF;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.75rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}
/* end of dropdown menu */
.login-btn{
	font-family: Inter;
	font-weight: normal;
	font-size: 20px;
	color: #FFFFFF;
	padding-right: 15px;
}
.login-btn:hover{
	font-family: Inter;
	font-weight: normal;
	font-size: 20px;
	color: #FFFFFF;
	padding-right: 15px;
}
.signup-btn{
	background: #A7DFFF;
    border-radius: 8px;
	font-family: Inter;
	font-weight: 500;
	font-size: 20px;
	color: #03316E;

}

@media only screen and (max-width: 565px) {
    header{
        height:135vh
    }
	.navbar-custom {
		padding: 10px 20px;
        position: fixed;
		background-color: #000000;
	}
    .navbar-nav .nav-item{
        padding:5px 0px;
        color: white;
    }
	.navbar-nav{
    border-right:none;
	}
	.navbar-custom.top-nav-collapse {
		background-color: #000000;
	}
	.signup-btn{
	margin-right: 25px;
	
	}
}
@media only screen and (min-width: 768px) {

	.navbar-custom {
		box-shadow: none;
        background: transparent;
	}
	.navbar-custom.top-nav-collapse {
		background-color: #000000;
	}
	.navbar-nav .nav-item{
        padding: 0px;
    }
	.navbar-nav{
        border-right: none;
}
}

@media only screen and (min-width: 1200px) {

   .navbar-nav .nav-item{
        padding: 0px 15px;
    }
	.navbar-nav{
    border-right: 2px solid #fff;
}
}