/* Navigation Bar*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
    background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.bg-navbar{
    background-color: black;
    padding: 5px 100px;
    color: white;
    clear: both;
    margin-bottom: 20px;
}
.navbar-nav .nav-item a{
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.register-btn{
    padding: 8px 34px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
	border-radius: 0px;
}


@media only screen and (max-width: 565px) {
    .navbar{
        padding: 10px 20px;
        position: fixed;
        background: #000000;
    }
    .navbar-nav .nav-item{
        padding:5px 0px;
        color: white;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-nav .nav-item{
        padding: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-nav .nav-item{
        padding: 0px 30px;
    }
   
}
/* career page */

#career-section{
    margin-top: 120px;
}

#career-section img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#career-section .image-overlay{
  position: absolute; 
  top: 50%;
  text-align: center;
}

#career-section .heading1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

#career-section .paragraph1{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 30px;
}

#campus-benefits{
    margin: 30px 0;
}

#campus-benefits .heading2{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    transform: rotate(0.05deg);
}

#campus-benefits .heading3{
   font-family: Quicksand;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    transform: rotate(0.05deg);
}

#campus-benefits .card{
    height: 220px;
    width: 220px;
    border-radius: 25px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: #DED0FF;
}

#campus-benefits .card img{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    max-width: 100px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;

}
#campus-benefits .card-title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
#campus-benefits .card .card-body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#todo-programmes{
    margin: 30px 0;
}

#todo-programmes .heading2{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    transform: rotate(0.05deg);
}

#todo-programmes .heading3{
   font-family: Quicksand;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
    transform: rotate(0.05deg);
}

#todo-programmes .card{
    height: 220px;
    width: 220px;
    border-radius: 25px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: #DED0FF;
}

#todo-programmes .card img{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    max-width: 100px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;

}
#todo-programmes .card-title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
#todo-programmes .card .card-body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
	/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 46%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #E63D4F;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color: #E63D4F;
  text-decoration: none;
}

@media only screen and (max-width: 565px) {
    #career-section img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#career-section .image-overlay{
  position: absolute; 
  top: 20%;
  left: -1%;
  margin: auto 0;
}

#career-section .heading1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

#career-section .paragraph1{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    padding: 2px;
}

#campus-benefits .card-deck{
   display: none;
}
	#campusBenifitCarousel{
		margin: auto;
	}

#campus-benefits{
    margin: 40px 0;
}

#campus-benefits .heading2{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
	margin-bottom: 20px;
}


#campusBenifitCarousel .carousel-item .card{
    height: 190px;
    width: 260px;
    border-radius: 25px;
    padding: 10px;
	margin: auto;
    border: none;
    box-sizing: border-box;
    background: #DED0FF;
}

#campusBenifitCarousel .card img{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;

}
#campusBenifitCarousel .card-title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
#campusBenifitCarousel .card .card-body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
	
#todo-programmes{
    margin: 40px 0;
}	
	
#todo-programmes .heading3{
   font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
	margin-bottom: 20px;
}	
#todo-programmes .card-deck{
   display: none;
}	
	#toDoCarousel{
		margin: auto;
	}
	#toDoCarousel .carousel-item .card{
	    height: 190px;
    width: 260px;
    border-radius: 25px;
    padding: 10px;
	margin: auto;
    border: none;
    box-sizing: border-box;
    background: #DED0FF;
}

#toDoCarousel .card img{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;

}
#toDoCarousel .card-title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
#toDoCarousel .card .card-body{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 46%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #E63D4F;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color: #E63D4F;
  text-decoration: none;
}
}








@media only screen and (min-width: 768px) {
	#campusBenifitCarousel{
		display: none;
	}
	#toDoCarousel{
		display: none;
	} 
}

