{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block main-content %}
<style>
    #card {
        background-color: white;
        padding-bottom: 3rem;
        padding-top: 3rem;
        color: black;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<div class="mt-5">
    {% if messages %}
    {% for k in messages%}
    <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
        <b>{{ k }} !</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="card" style="color: black;">
        <div class="card-header">
            <h3 style="align-items: center;text-align: center;">Archieve Teaching Type</h3>
        </div>

    </div>

    <br>
    <br>

    <div class="card mb-4">
        <div class="card-header">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-8">
                    <h2 style="color: rgb(0, 0, 0 );">List of Teaching Type</h2>
                </div>

                <div class="col-md-4">
                    <input id="searchbox" type="text" class="form-control" name='srh'
                        placeholder="Search Exam or Course" required>
                </div>

                <!-- Grid column -->
            </div>
        </div>
        {% if teach %}
        <div class="card-body">
            <!-- Grid row -->
            <form action="" method="post">{% csrf_token %}
                <!--Table-->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <!--Table head-->

                        <tr>
                            <th>Sr No</th>
                            <th>Course Name</th>
                            <th>Class</th>
                            <th>Teaching Type</th>
                            <th>Duration</th>
                            <th>Time Period</th>
                            <th class='text-center'>Action</th>
                        </tr>

                        <!--Table head-->
                        <!--Table body-->

                        {% for i in teach %}
                        <tr id="{{ i.pk }}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{i.course.courseName}}</td>
                            <td>{{ i.course.forclass }}</td>
                            <td>{{i.teachType}}</td>
                            <td>{{i.duration}}</td>
                            <td>{{i.timePeriod}}</td>

                            <td class="text-center">

                                <a class="btn btn-dark" href="{% url 'teachingArchive' i.id %}"><i
                                        class="flaticon-delete-fill" style="font-size:medium;"></i></a>

                            </td>


                            <!-- <div class="btn-group">
                                <button type="button" data-toggle="modal" data-target="#edit-{{i.pk}}"
                                    href="#edit-{{i.pk}}" class="btn btn-secondary btn-sm"><i
                                        class="flaticon-edit  bg-success p-1 text-white br-6 mb-1"></i>Edit</button>
                                <button type="button"
                                    class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
                                    id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" data-reference="parent">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">
                                    <button class="btn btn-secondary btn-sm dropdown-item" data-toggle="modal"
                                        data-target="#delete-{{i.pk}}" href="#delete-{{i.pk}}" title="Delete"><i
                                            class="flaticon-delete  bg-danger p-1 text-white br-6 mb-1"></i>Delete</button>

                                </div>
                            </div> -->
                            
                        </tr>



                        {% endfor %}


                        <!--Table body-->
                    </table>
                </div>
                <!--Table-->
            </form>
            <br>
        </div>
        {% else %}
        <div class="card-header" style="background: none;">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-12">
                    <h2>No Exams to show</h2>
                </div>
            </div>
        </div>
        {% endif %}
    </div>




    <script>
        function checkbox() {
            var value = $("#negativecheck").is(":checked");
            negative = document.getElementById("negative");
            var output;
            if (value) {
                output = `<input
      type="number"
      class="mt-2 form-control"
      placeholder="Enter Negative Marks"
      name="negative_marks"
      value="0"
      required
    />
    <div class="invalid-feedback">
      Enter a valid No.
    </div>`;
            } else {
                output = "";
            }
            negative.innerHTML = output;
        }
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        function selectclass() {
            var selected = $("#forclass").val();
            $.ajax({
                url: "{% url 'findbatch' %}",
                data: {
                    forclass: selected,
                },
                success: function (data) {
                    courses = data.courses;
                    $("#courseName").empty().trigger("change");
                    for (i = 0; i < courses.length; i++) {
                        var newOption = new Option(
                            courses[i][1],
                            courses[i][0],
                            false,
                            false
                        );
                        $("#courseName").append(newOption).trigger("change");
                    }
                },
            });
        }

        $(window).on('pageshow', () => {
            var frm = $('#frm');
            frm[0].reset();
        });
    </script>

</div>
{% endblock %}