{% extends 'tutor/dashboard.html' %} {% load static %} {% block css %} @import
url('https://fonts.googleapis.com/css?family=Numans'); .container{ height: 100%;
align-content: center; } .card{ height: 700px; margin-top: auto; margin-bottom:
auto; width: 800px; background-color: white; } .social_icon span{ font-size:
60px; margin-left: 10px; color: #FFC312; } .social_icon span:hover{ color:
white; cursor: pointer; } .card-header h3{ color: white; } .social_icon{
position: absolute; right: 20px; top: -45px; } .input-group-prepend span{ width:
50px; background-color: #FFC312; color: black; border:0 !important; }
input:focus{ outline: 0 0 0 0 !important; box-shadow: 0 0 0 0 !important; }
.remember{ color: white; } .remember input { width: 19px; height: 19px;
margin-left: 15px; margin-right: 5px; } .signup_btn{ color: black;
background-color: #FFC312; width: 150px; } .signup_btn:hover{ background-color:
#2a2b3d; color:white; } .links{ color: white; } .links a{ margin-left: 4px; }
.control-label { color: rgb(66, 8, 8); font-size: 20px; } {% endblock %} {%
block body %}
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h2 style="color: rgb(66, 8, 8)">Update Tutor</h2>
      </div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="input-group form-group">
            <label class="control-label col-sm-4">Tutor name</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              id="tutorName"
              name="tutorName"
              value="{{ trname }}"
              readonly
            />
          </div>
          <div class="input-group form-group">
            <label class="control-label col-sm-4"
              >Email Id<span class="text-danger">*</span></label
            >
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-envelope"></i
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="{{ tremail }}"
              readonly
            />
          </div>
          <div class="input-group form-group">
            <label class="control-label col-sm-4"
              >Set Password<span class="text-danger">*</span></label
            >
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              value="{{ trpassword }}"
              readonly
            />
          </div>
          <div class="input-group form-group">
            <label class="control-label col-sm-4"
              >Phone Number<span class="text-danger">*</span></label
            >
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              value="{{ trphone }}"
              readonly
            />
          </div>
          <div>
            <label class="control-label col-sm-4"
              >Course Taught<span class="text-danger">*</span></label
            >
            <select
              class="form-control col-sm-6"
              id="courseName"
              name="courseName"
              style="display: inline-block"
              required
            >
              {% for i in courses %}
              <option value="{{ i.courseName }}">{{ i.courseName }}</option>
              {% endfor %}
            </select>
          </div>
          <br />
          <div class="">
            <label class="control-label col-sm-4"
              >Select Class<span class="text-danger">*</span></label
            >
            <select
              id="multiple-checkboxes"
              id="forclass"
              name="forclass"
              multiple="multiple"
            >
              <option>nursery</option>
              <option>I</option>
              <option>II</option>
              <option>III</option>
              <option>IV</option>
              <option>V</option>
              <option>VI</option>
              <option>VII</option>
              <option>VIII</option>
              <option>IX</option>
              <option>X</option>
              <option>XI</option>
              <option>XII</option>
            </select>
          </div>
          <br />
          <div>
            <label class="control-label col-sm-4"
              >Availability<span class="text-danger">*</span></label
            >
            <div
              class="row align-items-center remember"
              style="display: inline-block"
            >
              <input
                type="radio"
                class="bigcheckbox"
                name="radio"
                value="weekday"
              /><label class="control-label">Weekday</label>
              <input
                type="radio"
                class="bigcheckbox"
                name="radio"
                value="weekend"
              /><label class="control-label">weekend</label>
            </div>
          </div>
          <br />
          <div>
            <label class="control-label col-sm-4"
              >Teaching Type<span class="text-danger">*</span></label
            >
            <div
              class="row align-items-center remember"
              style="display: inline-block"
            >
              <input
                type="checkbox"
                class="bigcheckbox"
                name="check"
                value="Online"
              /><label class="control-label">Online</label>
              <input
                type="checkbox"
                class="bigcheckbox"
                name="check"
                value="Home Tutors"
              /><label class="control-label">Home Tutor</label>
              <input
                type="checkbox"
                class="bigcheckbox"
                name="check"
                value="Classroom"
              /><label class="control-label">Classroom</label>
            </div>
          </div>
          <br />
          <div class="form-group text-center">
            <input type="submit" value="UPDATE TUTOR" class="btn signup_btn" />
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#multiple-checkboxes").multiselect({
      includeSelectAllOption: true,
    });
  });
</script>
{% endblock %}
