<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <input type="text" id="userName" name="userName" required />
      <input type="hidden" value="studentSearch" name="userAction" />
      <input type="submit" value="Search" />
    </form>
    {% if userData %} {{ userData.0.snum }}
    <!-- {{ userData.0.AddStudentDetail.all }} -->
    {% endif %}
    <br /><br />

    <form method="post">
      {% csrf_token %}
      <input type="text" id="userId" name="userId" required />
      <input type="hidden" value="subjectSearch" name="userAction" />
      <input type="submit" value="Search" />
    </form>
    {% if subjectData %} {{ subjectData.0.courseName }} {% endif %}
  </body>
</html>
