<select
  class="custom-select"
  name="timezone_offset"
  id="timezone-offset"
  class="span5"
>
  <option value="Kwajalein">(GMT -12:00) Eniwetok, Kwajalein</option>
  <option value=" Samoa">(GMT -11:00) Midway Island, Samoa</option>
  <option value="Hawaii">(GMT -10:00) Hawaii</option>
  <option value="Taiohae">(GMT -9:30) Taiohae</option>
  <option value="Alaska">(GMT -9:00) Alaska</option>
  <option value="Pacific Time">
    (GMT -8:00) Pacific Time (US &amp; Canada)
  </option>
  <option value="Mountain Time">
    (GMT -7:00) Mountain Time (US &amp; Canada)
  </option>
  <option value="Mexico City">
    (GMT -6:00) Central Time (US &amp; Canada), Mexico City
  </option>
  <option value="Lima">
    (GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima
  </option>
  <option value="Caracas">(GMT -4:30) Caracas</option>
  <option value="La Paz">
    (GMT -4:00) Atlantic Time (Canada), Caracas, La Paz
  </option>
  <option value="Newfoundland">(GMT -3:30) Newfoundland</option>
  <option value="Georgetown">
    (GMT -3:00) Brazil, Buenos Aires, Georgetown
  </option>
  <option value="Atlantic">(GMT -2:00) Mid-Atlantic</option>
  <option value="Azores">(GMT -1:00) Azores, Cape Verde Islands</option>
  <option value="Casablanca">
    (GMT) Western Europe Time, London, Lisbon, Casablanca
  </option>
  <option value="Paris">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
  <option value="South Africa">(GMT +2:00) Kaliningrad, South Africa</option>
  <option value="Baghdad">
    (GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg
  </option>
  <option value="Tehran">(GMT +3:30) Tehran</option>
  <option value="Tbilisi">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
  <option value="Kabul">(GMT +4:30) Kabul</option>
  <option value="Islamabad">
    (GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent
  </option>
  <option selected value="Bombay">
    (GMT +5:30) Bombay, Calcutta, Madras, New Delhi
  </option>
  <option value="Pokhara">(GMT +5:45) Kathmandu, Pokhara</option>
  <option value="Colombo">(GMT +6:00) Almaty, Dhaka, Colombo</option>
  <option value="Mandalay">(GMT +6:30) Yangon, Mandalay</option>
  <option value="Jakarta">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
  <option value="Singapore">
    (GMT +8:00) Beijing, Perth, Singapore, Hong Kong
  </option>
  <option value="Eucla">(GMT +8:45) Eucla</option>
  <option value="Yakutsk">
    (GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk
  </option>
  <option value="Darwin">(GMT +9:30) Adelaide, Darwin</option>
  <option value="Vladivostok">
    (GMT +10:00) Eastern Australia, Guam, Vladivostok
  </option>
  <option value="Lord Howe Island">(GMT +10:30) Lord Howe Island</option>
  <option value="Magadan">
    (GMT +11:00) Magadan, Solomon Islands, New Caledonia
  </option>
  <option value=" Norfolk Island">(GMT +11:30) Norfolk Island</option>
  <option value="Auckland">
    (GMT +12:00) Auckland, Wellington, Fiji, Kamchatka
  </option>
  <option value="Chatham Islands">(GMT +12:45) Chatham Islands</option>
  <option value="Apia, Nukualofa">(GMT +13:00) Apia, Nukualofa</option>
  <option value="Tokelau">(GMT +14:00) Line Islands, Tokelau</option>
</select>
