{% extends 'tutor/dashboard.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block body %}
<style>
    #card{
        background-color:white;
        padding-bottom:3rem;
        padding-top:3rem;
        color:black;
    }
</style>
<div class="container">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5 style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        {% endif %}

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.0.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.0.0/main.min.js'></script>

    <div class="container" id="card">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-10">
                <div id='calendar'></div>
            </div>
        </div>
    </div>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar: {
                          left: 'prev,next today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
        });
        calendar.render();
      });
      // document.addEventListener('DOMContentLoaded', function() {
      //   var calendarEl = document.getElementById('calendar');
      //   var calendar = new FullCalendar.Calendar(calendarEl, {
      //     initialView: 'dayGridMonth'
      //   });
      //   calendar.render();
      // });

    </script>

</div>
{% endblock %}
