{% extends 'tutor/dashboardStudent.html' %}
{% load static %}
{% load semicolontohtml %}
{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Numans');

    .container{
        align-content: center;
    }

    .btn{
        font-size: small;
    }

    .card-width{
        width:100%;
        margin-top: auto;
        margin-bottom: auto;
        background-color: white;
    }

    .card-header h3{
        color: white;
    }
    .inputDemo{
          width:5vw;
    height:5vh;
    }
    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember{
        color: white;
    }

    .remember input
    {
        width: 19px;
        height: 19px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .links{
        color: white;
    }

    .links a{
        margin-left: 4px;
    }

    .control-label {
        color: rgb(66, 8, 8);
        font-size: 20px;
    }

    .social_icon span{
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

    .social_icon span:hover{
        color: white;
        cursor: pointer;
    }

    .card-header h3{
        color: white;
    }

    .social_icon{
        position: absolute;
        right: 20px;
        top: -45px;
    }

    .input-group-prepend span{
        width: 50px;
        background-color: #FFC312;
        color: black;
        border:0 !important;
    }

    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember{
        color: white;
    }

    .remember input
    {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .signup_btn{
        color: black;
        background-color: #FFC312;
        width: 300px;
    }

    .signup_btn:hover{
        background-color: #2a2b3d;
        color:white;
    }

    .links{
        color: white;
    }

    .links a{
        margin-left: 4px;
    }

    .control-label {
        color: rgb(66, 8, 8);
        font-size: 20px;
    }
    .avatar {
        border: 0.3rem solid rgba(#fff, 0.3);
        margin-bottom: 1rem;
        max-width: 9rem;
        max-height: 9rem;
    }
    .profile-cards .card{
        margin-bottom: 5rem;
    }
    .profile-container{
        margin-top: 5rem;
        color:black;
    }
    .btn-group{
        width:100%;
    }
    .multiselect{
        width:100%;
    }
    .avatar{
        margin-top: -5rem;
    }
    .card{
        height: auto;
    }
    #map {
        height: 100%;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-weight: 300;
    }

    #pac-input {
        text-overflow: ellipsis;
        font-size: small;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }
    .pac-container {
        z-index: 1100 !important;
    }
    body{
        font-size: small;
    }
    .form-control{
        font-size: small;
    }
    .imageBlock{
        border-left: 1px #8080804a solid;
    }
    .imageBlock .avatar{
        margin-top: 0px;
    }
    .headi{
        font-weight:bold;
    }
    .filters{
        color:black;
    }
    .bold{
        font-weight:bold;
    }
    .reccBox{
        background-color: #e9f4f4ad;
        display:none;
    }
    .spacing{
        margin-top:1rem;
    }
    .dropdown-menu > li > a{
        padding-right:0px !important;
    }
    .multiselect-container > li > a > label{
    	height:auto;
    }
    .multiselect-container{
    	height:1rem;
    	overflow-y:scroll;
    	width:max-content;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5 style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-center h-100 row">
        <div class="card card-width col-sm-12">
            <div class="card-body container">
             Chat
            </div>
        </div>

<script>

    document.addEventListener("DOMContentLoaded", function(){
        $("#reccPattern").val("W");
        $("#reccPattern")[0].disabled = true;
        $("#recurrenceCheck")[0].checked = false;


        var docs = {{jsonLocalData|safe}}
        classes = Object.keys(docs);
        for(i=0;i<classes.length;i++){
            $('#className').append(`<option value="${classes[i]}">
                ${classes[i]}
            </option>`);
        }
        $(".multiselect1").multiselect();
        $("#className").on("change",function(){
            $("#courseName").empty();
            courses = docs[this.value];
            alert(courses);
            for(i=0;i<courses.length;i++){
                $('#courseName').append(`<option value="${courses[i]}">
                    ${courses[i]}
                </option>`);
            }
            $(".multiselect1").multiselect('rebuild');

        });

        // $(".modal").modal();
        $(".filterInputs").on("change",function(){
            distance = $("#filterDistance").val();
            experience = $("#filterExperience").val();
            demo = $("#filterDemo")[0].checked;
            budget = $("#filterBudget").val();
            $("#sliderval").text(budget);
            alldata = $(".cardWrapper");
            alldata.show();

            for(i=0;i<alldata.length;i++){
                if (alldata[i].dataset["distance"]>distance){
                    $(alldata[i]).hide();
                }else{
                    if (demo){
                        if (alldata[i].dataset["demo"] == 0 ){
                            $(alldata[i]).hide();
                        }
                    }
                    if (alldata[i].dataset["budget"]>budget){
                        $(alldata[i]).hide();
                    }else{

                    }
                }
            }

        });

        $(".createAppointment").on("click",function(){
            $("#tutorId").val(this.id);
            $(".modal").modal("hide");
            $("#ErrorList").html("")
            $("#appointmentModal").modal("show");
        });

        $("#recurrenceCheck").on("change",function(){
            if(this.checked){
                $(".reccBox .reccEntry").removeAttr("disabled");
                $(".reccBox .reccEntry").attr("required","required");
                $(".reccBox").show();
            }else{
                $(".reccBox .reccEntry").attr("disabled","disabled");
                $(".reccBox .reccEntry").removeAttr("required");
                $(".reccBox").hide();
            }
            $(".reccWeek").multiselect('destroy');
            $(".reccWeek").multiselect();
        });
        $(".reccPattern").on("change",function(){
            if(this.value=="D"){
                $(".reccWeek").attr("disabled","disabled");
                $(".reccWeek").removeAttr("required");
                $(".reccWeek").hide();
            }else{
                $(".reccWeek").removeAttr("disabled");
                $(".reccWeek").attr("required","required");
                $(".reccWeek").show();
            }
            $(".reccWeek").multiselect('destroy');
            $(".reccWeek").multiselect();
        });

        var csrftoken = "{{csrf_token}}";
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        //csrf config ends

        //config ajax with csrf
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //ajax config ends

        $("#submitAppointment").on("click",function(){
            form = $('#createAppointmentForm')[0];
            if(! form.checkValidity()) {
                console.log("form error")
                form.reportValidity();
                return 0;
            }
            $.ajax({
                url: '/makeAppointment/',
                type: 'POST',
                data: $(form).serialize(),
                success: function(response) {
                    if(response.status==1){
                        console.log(response.msg)
                        alert("Appointment Created Successfully !!");
                        window.location.href("/enrolledTutors/");
                    }else{
                        options = "";
                        for(i=0;i<response.errors.length;i++){
                            options+="<li>"+response.errors[i]+"</li>";
                        }
                        console.log(options);
                        $("#ErrorList").html(options);
                    }

                },
                error: function(response) {}
            });

        });
    });

    $(".multiselect1").multiselect();
</script>
<script type="text/javascript">
    $('#className').on("change",function(){
        var name = $(this).val();
    $.ajax({
      url: "{% url 'subjects' %}",
      data: {
        "class": name,
      },
      success: function (data) {
        categories = data.categories;
        $("#courseName").empty().trigger("change");
        for (i = 0; i < categories.length; i++) {
          var newOption = new Option(
            categories[i],
          );
          $("#courseName").append(newOption).trigger("change");
        }
      },
    });
    });
</script>
<script type="text/javascript">
       $("#pac-input").on("input",function(){
            var input = document.getElementById('pac-input');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('cityLat').value = place.geometry.location.lat();
                document.getElementById('cityLng').value = place.geometry.location.lng();
            });
        });

</script>
{% endblock %}
