{% extends 'tutor/dashboardTutor.html' %}
{% load static %}
{% block css %}
@import url('https://fonts.googleapis.com/css?family=Numans');
.container{
    height: 100%;
    align-content: center;
}
.card{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: 900px;
    background-color: white;
}
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
.card-header h3{
    color: white;
}
.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}
.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
.login_btn:hover{
    background-color: #2a2b3d;
    color:white;
}

.bigcheckbox{
    width: 20px;
    height: 20px;
}
.color-pattern-3 {
    text-align: center;
}
/* General button style (reset) */
.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 350px;
    padding: 25px 50px;
    display: inline-block;
    margin: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.control-label {
    color: rgb(66, 8, 8);

}

{% endblock %}
{% block body %}
<div>
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        <ul class="messages">
            {% for k in messages %}
            <li style="color: darkred;">{{ k }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        <h2 style="color: rgb(66, 8, 8);">Add Course Tutorials</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <br>
                   <div class="input-group form-group">
                    <label class="control-label col-sm-4">Course Title<span class="text-danger">*</span></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="firstName " name='title' placeholder="Course Title" required="" value="{{tutorial.Title}}">
                </div>
                    <br>
                     <div class="input-group form-group">
                    <label class="control-label col-sm-4">Course Description<span class="text-danger">*</span></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <textarea type="text" class="form-control" id="firstName " name='description' placeholder="Course Description" rows="1" required="">{{tutorial.Description}}</textarea>
                </div>
                    <br>
                    <br>
                      <div class="input-group form-group">
                    <label class="control-label col-sm-4">Course Fess<span class="text-danger">*</span></label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="number" class="form-control" id="firstName " name='fees' placeholder="Course Fees" required="" value="{{tutorial.Fees}}">
                </div>
                    <br>
                        <div class="form-group">
                        <label class="control-label col-sm-4">Course Duration<br>( In Months )<span class="text-danger">*</span></label>
                        <div class="col-sm-8" style="display: inline-block;margin-left:-2%;">
                            <select id="no_of_installment" class="text-center form-control form-control-md col-lg-3" name='duration'>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Discount (in %)</label>
                        <input type="number" step="0.01" class="form-control col-sm-2" id="discount" name='feeDisc' placeholder="Discount (%)" required="" value="{{tutorial.Discount}}">

                        <label class="control-label col-sm-2 ml-sm-4">Validity</label>
                        <input type="Date" class="form-control col-sm-3" id="validity" name='discValidity' placeholder="Val" value="{{tutorial.Validity}}">
                    </div>
                    <br><br>
                    <div class="form-group text-center">
                        <input type="submit" value="Save Data" class="btn login_btn form-control">
                    </div>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
