{% extends 'tutor/dashboardTutor.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block body %}
<style>
    #card{
        background-color:white;
        padding-bottom:3rem;
        padding-top:3rem;
        color:black;
    }
    #pills-home-tab,#pills-profile-tab{
      color: black;

    }
    p,h1,h3,h4,h5,h6,body{
      color: black !important;
    }
</style>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<div class="container">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5 style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        {% endif %}
    <div class="container" id="card">
        <div class="col ml-2 mt-0">
          <div class="row">
            <div class="col">
            <h4 class="text-center font-weight-bold text-uppercase" style="font-size:30px;">{{exam.Name}}</h4> 
            </div>
          </div>
          <div class="row">
            <div class="col">
            <p class="text-left mt-2 text-dark font-weight-bold">Time : {{exam.exam_duration}}</p> 
            </div>
            <div class="col">
            <p class="text-right mt-2 text-dark font-weight-bold">MM : 100</p> 
            </div>
          </div>
          {% if SectionA %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark font-weight-bold">Section A</p>
            </div>
          </div>
          {% for i in SectionA%}
          <div class="row pl-2" >
            Q{{i.question_no}}.
            <div class="col p-0 m-0 pl-2">
            {{i.question|safe}} 
            </div>
            <a href="{{i.Edit_Tutor}}" class="text-right text-dark ml-0 pr-1"><i class="fas fa-edit"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{i.Delete_url}}" class="text-right text-dark ml-0 pr-1 mr-2"><i class="far fa-trash-alt"></i></a>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
          <div class="col">
             {{ forloop.counter }}. {{option.option|safe}}
          </div>
        </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% if SectionB %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark font-weight-bold">Section B</p>
            </div>
          </div>
          {% for i in SectionB %}
          <div class="row pl-2">
            Q{{i.question_no}}. 
            <div class="col p-0 m-0 pl-2">
            {{i.question|safe}} 
            </div>
            <a href="{{i.Edit_Tutor}}" class="text-right text-dark ml-0 pr-1"><i class="fas fa-edit"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{i.Delete_url}}" class="text-right text-dark ml-0 pr-1 mr-2"><i class="far fa-trash-alt"></i></a>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
          <div class="col">
             {{ forloop.counter }}. {{option.option|safe}}
          </div>
        </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if SectionC %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark font-weight-bold">Section C</p>
            </div>
          </div>
          {% for i in SectionC %}
          <div class="row pl-2">
            Q{{i.question_no}}. 
            <div class="col p-0 m-0 pl-2">
            {{i.question|safe}} 
            </div>
            <a href="{{i.Edit_Tutor}}" class="text-right text-dark ml-0 pr-1"><i class="fas fa-edit"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{i.Delete_url}}" class="text-right text-dark ml-0 pr-1 mr-2"><i class="far fa-trash-alt"></i></a>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
          <div class="col">
            {{ forloop.counter }}. {{option.option|safe}}
          </div>
        </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% if SectionD %}
          <div class="row">
            <div class="col">
              <p class="text-center text-dark font-weight-bold">Section D</p>
            </div>
          </div>
          {% for i in SectionD %}
          <div class="row pl-2">
            Q{{i.question_no}}.
            <div class="col p-0 m-0 pl-2">
            {{i.question|safe}} 
            </div>
            <a href="{{i.Edit_Tutor}}" class="text-right text-dark ml-0 pr-1"><i class="fas fa-edit"></i></a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{i.Delete_url}}" class="text-right text-dark ml-0 pr-1 mr-2"><i class="far fa-trash-alt"></i></a>
          </div>
          {% if i.options.all %}
          {% for option in i.options.all %}
          <div class="row">
          <div class="col">
             {{ forloop.counter }}. {{option.option|safe}}
          </div>
        </div>
          {% endfor %}
          {% endif %}
          {% if i.option1 %}
          <div class="row mb-2 mt-0">
            <div class="col">
              1. {{i.option1}}
            </div>
            <div class="col">
              2. {{i.option2}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
    <script>
  function addtext(){
  var tags = '<div class="row mb-3" id="multipleinput">'
      tags += '<div class="col-9 pr-4 mr-3">'
      tags += '<input type="text" class="form-control" placeholder="Enter Value" name="options" required>'
      tags += '</div>'
      tags +='</div>'
      $('#solutionbox').append(tags);
}
tinymce.init({
          selector: "#exampleFormControlTextarea1",
          height: 200,
          theme: "modern",
          setup: function (editor) {
            editor.on("init", function (e) {
              editor.setContent("<p>Type Question</p>");
            });
          },
          plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools codesample toc FMathEditor",
          ],
          toolbar1:
            "undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
          toolbar2:
            "print preview media | forecolor backcolor emoticons | codesample | FMathEditor",
        });

tinymce.init({
          selector: "#exampleFormControlTextarea2",
          height: 200,
          theme: "modern",
          setup: function (editor) {
            editor.on("init", function (e) {
              editor.setContent("<p>Type Solution</p>");
            });
          },
          plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools codesample toc FMathEditor",
          ],
          toolbar1:
            "undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
          toolbar2:
            "print preview media | forecolor backcolor emoticons | codesample | FMathEditor",
        });

        function checkbox() {
    var value = $("#negativecheck").is(":checked");
    negative = document.getElementById("negative");
    var output;
    if (value) {
      output = `<input
      type="number"
      class="mt-2 form-control"
      placeholder="Enter Negative Marks"
      name="negative_marks"
      value="0"
      required
    />
    <div class="invalid-feedback">
      Enter a valid No.
    </div>`;
    } else {
      output = "";
    }
    negative.innerHTML = output;
  }
      // In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});

  $("#select_course").change(function () {
    var selected = $(this).val();
    $.ajax({
      url: "{% url 'classes' %}",
      data: {
        course_id: selected,
      },
      success: function (data) {
        categories = data.sub_categories;
        $("#class_select").empty().trigger("change");
        for (i = 0; i < categories.length; i++) {
          var newOption = new Option(
            categories[i].text,
            categories[i].value,
            false,
            false
          );
          $("#class_select").append(newOption).trigger("change");
        }
      },
    });
  });

$(document).ready(function() {
    $('#question_type_select').change(function(){
        var type = $(this).val();
        if(type=='mc'){
          var optioninput = '<div class="row mb-2" id="multipleinput">'
              optioninput += '<div class="col">'
        optioninput += '<input type="text" class="form-control" placeholder="Enter Value" name="options">'
              optioninput += '</div>'
              optioninput += '<div class="col-auto">'
optioninput += '<a onclick="addtext()" class="btn btn-primary mb-2" style="color:white;">Add Option</a>'
              optioninput += '</div>'
              optioninput += '</div>'
          $('#solutionbox').append(optioninput);
        }
        else{
          $('#multipleinput').remove();
          $('#multipleinput').remove();
          $('#multipleinput').remove();
          $('#multipleinput').remove();
        }
    });
});

$(document).ready(function() {
    $('#question_type_select').change(function(){
        var type = $(this).val();
        if(type=='tf'){
          var optioninput = '<div class="row mb-2" id="multipleinput">'
        optioninput += '<div class="col">'
        optioninput += '<input type="text" class="form-control" placeholder="First Value" name="options">'
        optioninput += '</div>'
        optioninput += '</div>'
        var anotherinput = '<div class="row mb-2" id="multipleinput">'
        anotherinput += '<div class="col">'
        anotherinput += '<input type="text" class="form-control" placeholder="Second Value" name="options">'
        anotherinput += '</div>'
        anotherinput += '</div>'
          $('#solutionbox').append(optioninput);
          $('#solutionbox').append(anotherinput);
        }
    });
});

    </script>

</div>
{% endblock %}
