<!DOCTYPE html>
<html>
<head>
	<meta name="google-signin-client_id" content="1016598982512-u656rprh5a0f0j1jl0h00eq454kl1sla.apps.googleusercontent.com">
	<title>Login</title>
	<!--Bootsrap 4 CDN-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/stylesloginCoachingCentre.css' %}" type="text/css">
</head>
<style>
	.input-group.form-inline{
		align-items: center;
	}

	.card{
		height: auto;
	}
</style>
<body>
	<div class="container">
		<div class="alertdiv">
			{% if messages %}
			<div class="alert alert-warning" role="alert">
				<ul class="messages">
					{% for k in messages %}
					<li style="color: darkred;">{{ k }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<ul class="nav nav-tabs text-center" id="myTab" role="tablist">
					<li class="nav-item col-sm-4">
						<a class="nav-link active" id="coaching-tab" data-toggle="tab" href="#coaching" role="tab" aria-controls="coaching" aria-selected="true">Coaching Center</a>
					</li>
					<li class="nav-item col-sm-4">
						<a class="nav-link" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="false">Tutor</a>
					</li>
					<li class="nav-item col-sm-4">
						<a class="nav-link" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="false">Student</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

					<div class="tab-pane fade active show" id="coaching" role="tabpanel" aria-labelledby="coaching-tab">

						<div class="card-header">
							<h2 style="color: rgb(66, 8, 8);">LogIn As Coaching Centre</h2>
						</div>
						<div class="card-body">
							<!-- Nav tabs -->
							<form action="/loginCoachingCentre/" method="post">{% csrf_token %}

								<div class="d-flex row justify-content-center">

									<div class="input-group form-group col-sm-7">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-user"></i></span>
										</div>
										<input type="text" class="form-control" id="username" name='username' placeholder="Institute Name" required>
									</div>
									<div class="input-group form-group col-sm-7">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-key"></i></span>
										</div>
										<input type="password" class="form-control" id="password1" name='password1' placeholder="Password" required>
									</div>
									<div class="input-group form-group form-inline col-sm-7">
										Remember me
										<input type="checkbox" class="form-control" id="remember" name='remember'>
									</div>
									<br>
									<div class="form-group form-inline col-sm-7">
										<a href="/forgotpass">Forgot Password ?</a>
									</div>
									<div class="form-group form-inline col-sm-12">
										<div class="g-signin2" style="margin-left: auto;" data-onsuccess="onSignInC"></div>
										<input type="submit" value="Login" class="btn login_btn">
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">

							<div class="d-flex justify-content-center links">
								<h5 style="color: rgb(66, 8, 8);">Don't have an account?</h5><a href="/signupCoachingCentre/">Sign Up</a>
							</div>
						</div>

					</div>
					<div class="tab-pane fade" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
						<div class="card-header">
							<h2 style="color: rgb(66, 8, 8);">LogIn As Tutor</h2>
						</div>
						<div class="card-body">
							<form action="/loginTutor/" method="post">{% csrf_token %}
								<div class="d-flex row justify-content-center">

									<div class="input-group form-group col-sm-7">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-user"></i></span>
										</div>
										<input type="text" class="form-control" id="username" name='username' placeholder="username" required>

									</div>
									<div class="input-group form-group col-sm-7">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-key"></i></span>
										</div>
										<input type="password" class="form-control" id="password1" name='password1' placeholder="Password" required>
									</div>
									<div class="input-group form-group form-inline col-sm-7">
										Remember me
										<input type="checkbox" class="form-control" id="remember" name='remember'>
									</div>
									<br>
									<div class="form-group form-inline col-sm-7">
										<a href="/forgotpass">Forgot Password ?</a>
									</div>
									<div class="form-group form-inline col-sm-12">
										<div class="g-signin2" style="margin-left: auto;" data-onsuccess="onSignInT"></div>
										<input type="submit" value="Login" class="btn login_btn">
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
							<div class="d-flex justify-content-center links">
								<h5 style="color: rgb(66, 8, 8);">Don't have an account?</h5><a href="/signupTutor/">Sign Up</a>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">
						<div class="card-header">
							<h2 style="color: rgb(66, 8, 8);">LogIn As Student</h2>
						</div>
						<div class="card-body">
							<form action="/loginStudent/" method="post">{% csrf_token %}
								<div class="d-flex row justify-content-center">

									<div class="input-group form-group col-sm-7">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-user"></i></span>
										</div>
										<input type="text" class="form-control" id="username" name='username' placeholder="Firstname" required>

									</div>
									<div class="input-group form-group col-sm-7">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-key"></i></span>
										</div>
										<input type="password" class="form-control" id="password1" name='password1' placeholder="Password" required>
									</div>
									<div class="input-group form-group form-inline col-sm-7">
										Remember me
										<input type="checkbox" class="form-control" id="remember" name='remember'>
									</div>
									<br>
									<div class="form-group form-inline col-sm-7">
										<a href="/forgotpass">Forgot Password ?</a>
									</div>
									<div class="form-group form-inline col-sm-12">
										<div class="g-signin2" style="margin-left: auto;" data-onsuccess="onSignInS"></div>
										<input type="submit" value="Login" class="btn login_btn">
									</div>
								</div>
							</form>
						</div>
						<div class="card-footer">
							<div class="d-flex justify-content-center links">
								<h5 style="color: rgb(66, 8, 8);">Don't have an account?</h5><a href="/signupStudent/">Sign Up</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
<script type="text/javascript">
	var url = document.location.toString();
	if (url.match('#')) {
	    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
	}
	var csrftoken = "{{csrf_token}}";
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	//csrf config ends

	//config ajax with csrf
	$.ajaxSetup({
		beforeSend: function (xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});

	function onSignInC(googleUser) {
		var id_token = googleUser.getAuthResponse().id_token;
		$.ajax({
		  type: "POST",
		  url: "/loginCoachingCentre/",
		  contentType: 'application/json',
		  data: {
			"ajax": 'coaching',
			'token': id_token
		  },
			success: function(response) {
				if(response.status==1){
					console.log("Logged In");
				}
			},
		});
	}
	function onSignInT(googleUser) {
		var id_token = googleUser.getAuthResponse().id_token;
		$.ajax({
		  type: "POST",
		  url: "/loginTutor/",
		  contentType: 'application/json',
		  data: {
			"ajax": 'tutor',
			'token': id_token
		  },
			success: function(response) {
				if(response.status==1){
					console.log("Logged In");
				}
			},
		});
	}
	function onSignInS(googleUser) {
		var id_token = googleUser.getAuthResponse().id_token;
		$.ajax({
		  type: "POST",
		  url: "/loginStudent/",
		  contentType: 'application/json',
		  data: {
			"ajax": 'student',
			'token': id_token
		  },
			success: function(response) {
				if(response.status==1){
					console.log("Logged In");
				}
			},
		});
	}
	// Change hash for page-reload
	// $('.nav-tabs a').on('shown.bs.tab', function (e) {
	//     window.location.hash = e.target.hash;
	// })s

</script>
</body>
</html>
