{% extends 'tutor/dashboardStudent.html' %}
{% load static %}
{% block css %}
.checked {
  color: orange;
}
.darken-grey-text {
    color: #2E2E2E;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.purple-border {
    border: 1px solid #9e9e9e;
}
.input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
    border: 1px solid #ba68c8;
    box-shadow: none;
}
.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}
.danger-text {
    color: #ff3547;
}
.success-text {
    color: #00C851;
}
.table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
    border: 1px solid #ff3547!important;
}
.table.table-bordered th {
    text-align: center;
}
.table td{
    border-bottom:1px solid #dee2e6;
}
.bigcheckbox{
    width: 25px;
    height: 25px;
}
.arcinput {
    background-color:transparent;
    border: 0;
}
.container{
    max-width:1250px;
    width:100%;
  }
  .color-pattern-3 {
    text-align: center;
}

/* General button style (reset) */
.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 350px;
    padding: 25px 50px;
    display: inline-block;
    margin: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 3 */
.button-3 {
    background: #fcad26;
    color: #fff;
}
.button-3:hover {
    background: #f29e0d;
}
.button-3:active {
    background: #f58500;
    top: 2px;
}
.button-3>.fa {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 140%;
    width: 60px;
}
.button-3>.fa:before {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* Button 3a */
.button-3a {
    padding: 25px 60px 25px 120px;
}
.button-3a>.fa {
    background: rgba(0, 0, 0, 0.05);
}
/* Button 3b */
.button-3b {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}
.button-3b>.fa {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
}
/* Button 3c */
.button-3c {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #da9622;
}
.button-3c>.fa:before {
    position: static;
}
.button-3c:active {
    box-shadow: 0 3px #dc7801;
}
.button-3c>.fa {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #fff;
    color: #f29e0d;
    border-radius: 10px 10px 0 0;
}
.button-3c:active:before {
    color: #f58500;
}
/* Button 3d */
.button-3d {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}
.button-3d>.fa {
    background: #fff;
    color: #fcad26;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}
.button-3d:after {
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-3d:active:before {
    color: #f58500;
}
.button-3d:active {
    top: 0;
}
.button-3d:active:after {
    left: 60px;
}
/* Button 3e */
.button-3e {
    padding: 25px 120px 25px 60px;
    overflow: hidden;
}
.button-3e>.fa {
    left: auto;
    right: 10px;
    z-index: 2;
}
.button-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}
.button-3e:hover:after {
    width: 35%;
}
   .darken-grey-text {
        color: #2E2E2E;
    }
    .input-group.md-form.form-sm.form-2 input {
        border: 1px solid #bdbdbd;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .input-group.md-form.form-sm.form-2 input.purple-border {
        border: 1px solid #9e9e9e;
    }
    .input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
        border: 1px solid #ba68c8;
        box-shadow: none;
    }
    .form-2 .input-group-addon {
        border: 1px solid #ba68c8;
    }
    .danger-text {
        color: #ff3547;
    }
    .success-text {
        color: #00C851;
    }
    .table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
        border: 1px solid #ff3547!important;
    }
    .table.table-bordered th {
        text-align: center;
    }
    .bigcheckbox{
        width: 25px;
        height: 25px;
    }
    .arcinput {
        background-color:transparent;
        border: 0;
    }
    .container{
        max-width:1250px;
        width:100%;
    }
    .color-pattern-3 {
        text-align: center;
    }

    /* General button style (reset) */
    .button {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        width: 350px;
        padding: 25px 50px;
        display: inline-block;
        margin: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .button:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    /* Button 3 */
    .button-3 {
        background: #fcad26;
        color: #fff;
    }
    .button-3:hover {
        background: #f29e0d;
    }
    .button-3:active {
        background: #f58500;
        top: 2px;
    }
    .button-3>.fa {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        font-size: 140%;
        width: 60px;
    }
    .button-3>.fa:before {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    /* Button 3a */
    .button-3a {
        padding: 25px 60px 25px 120px;
    }
    .button-3a>.fa {
        background: rgba(0, 0, 0, 0.05);
    }
    /* Button 3b */
    .button-3b {
        padding: 25px 60px 25px 120px;
        border-radius: 10px;
    }
    .button-3b>.fa {
        border-right: 2px solid rgba(255, 255, 255, 0.75);
    }
    /* Button 3c */
    .button-3c {
        padding: 80px 20px 20px 20px;
        border-radius: 10px;
        box-shadow: 0 3px #da9622;
    }
    .button-3c>.fa:before {
        position: static;
    }
    .button-3c:active {
        box-shadow: 0 3px #dc7801;
    }
    .button-3c>.fa {
        height: 60px;
        width: 100%;
        line-height: 60px;
        background: #fff;
        color: #f29e0d;
        border-radius: 10px 10px 0 0;
    }
    .button-3c:active:before {
        color: #f58500;
    }
    /* Button 3d */
    .button-3d {
        padding: 25px 60px 25px 120px;
        border-radius: 10px;
    }
    .button-3d>.fa {
        background: #fff;
        color: #fcad26;
        z-index: 2;
        border-radius: 10px 0 0 10px;
    }
    .button-3d:after {
        width: 20px;
        height: 20px;
        background: #fff;
        z-index: 1;
        left: 55px;
        top: 50%;
        margin: -10px 0 0 -10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .button-3d:active:before {
        color: #f58500;
    }
    .button-3d:active {
        top: 0;
    }
    .button-3d:active:after {
        left: 60px;
    }
    /* Button 3e */
    .button-3e {
        padding: 25px 120px 25px 60px;
        overflow: hidden;
    }
    .button-3e>.fa {
        left: auto;
        right: 10px;
        z-index: 2;
    }
    .button-3e:after {
        width: 30%;
        height: 200%;
        background: rgba(255, 255, 255, 0.1);
        z-index: 1;
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotate(-20deg);
        -moz-transform-origin: 0 0;
        -moz-transform: rotate(-20deg);
        -ms-transform-origin: 0 0;
        -ms-transform: rotate(-20deg);
        transform-origin: 0 0;
        transform: rotate(-20deg);
    }
    .button-3e:hover:after {
        width: 35%;
    }
    .profileCards{
        margin-top: 3rem;
        color:black;
    }
    .borderLeft{
        border-left: 1px #8080804a solid;
    }
    .form-control{
        font-size: small;
    }
    .imageBlock{
        border-left: 1px #8080804a solid;
    }
    .imageBlock .avatar{
        margin-top: 0px;
    }
    .headi{
        font-weight:bold;
    }
    .filters{
        color:black;
    }
    .bold{
        font-weight:bold;
    }
    .reccBox{
        background-color: #e9f4f4ad;
        display:none;
    }
    .spacing{
        margin-top:1rem;
    }
    .dropdown-menu > li > a{
        padding-right:0px !important;
    }
    .multiselect-container > li > a > label{
        height:auto;
    }
    .multiselect-container{
        height:10rem;
        overflow-y:scroll;
        width:max-content;
    }
    .avatar {
        border: 0.3rem solid rgba(#fff, 0.3);
        margin-bottom: 1rem;
        max-width: 9rem;
        max-height: 9rem;
    }
    .profile-cards .card{
        margin-bottom: 5rem;
    }
    .profile-container{
        margin-top: 5rem;
        color:black;
    }
.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}
.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
    font-size: 17px;
}

.restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
}
.restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
}
.offer-dedicated-nav .nav-link.active,
.offer-dedicated-nav .nav-link:hover,
.offer-dedicated-nav .nav-link:focus {
    border-color: #3868fb;
    color: #3868fb;
}
.offer-dedicated-nav .nav-link {
    border-bottom: 2px solid #fff;
    color: #000000;
    padding: 16px 0;
    font-weight: 600;
}
.offer-dedicated-nav .nav-item {
    margin: 0 37px 0 0;
}
.restaurant-detailed-action-btn {
    margin-top: 12px;
}
.restaurant-detailed-header-right .btn-success {
    border-radius: 3px;
    height: 45px;
    margin: -18px 0 18px;
    min-width: 130px;
    padding: 7px;
}
.text-black {
    color: #000000;
}
.icon-overlap {
    bottom: -23px;
    font-size: 74px;
    opacity: 0.23;
    position: absolute;
    right: -32px;
}

.restaurant-detailed-header-left img {
    width: 88px;
    height: 88px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}
.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.total-like-user {
    border: 2px solid #fff;
    height: 34px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    width: 34px;
}
.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}
.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
    font-size: 17px;
}

.rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}
.rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
}
.rating-list-center {
    width: 80%;
}
.rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
}


.review{
  display: none;
}
{% endblock %}
{% block body %}
    <main>
    <div class="col-12 profileCards">
        <div class="card">
            <div class="card-header d-flex row">
                <h4 class="card-title col-sm-8">{{i.instituteName}}</h4>
                <span class="col-sm-4" style="margin-left: auto;">Phone : {{i.phone}}</span>
                <span class="col-sm-12">{{i.location}}</span>
                <h6 class="ml-3 mt-1 mr-2">Avg Rating : </h6>
                {% for i in i.Rating %}
                 <span class="fa fa-star checked mt-1"></span>
                {% endfor %}
            </div>
            <div class="card-body row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2">Email : </div><div class="col-sm-4">{{i.email}}</div>
                    </div>
                    <br>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-3">
                            Courses Available :
                        </div>
                        <div class="col-sm-9">
                                <ul style="height:100%">
                                {% for course in i.AddCourses.all %}
                                    <li>
                    <div class="col-sm-10">{{course.courseName}} &nbsp;:&nbsp; {{course.forclass}}</div>
                                        <div class="col-sm-6">
                                            {% for fee in course.AddFeesC.all %}
                                                <br>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{fee.forclass}} - {{fee.teachType}} - {{fee.final_amount}}
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <br>
                                {% empty %}
                                None
                                {% endfor %}
                                </ul>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 borderLeft">
                    <br>
                    <div class="row d-flex justify-content-center ">
                        {% if i.photo %}
                            <img class="avatar rounded-circle" src="{{i.photo.url}}" alt="Not Found"/>
                        {% else %}
                        {% if i.avatar != 0 %}
                            <img id="preview" class="avatar rounded-circle" src="{% static 'avatars/' %}{{i.avatar}}.jpg" alt="Not Found">
                        {% else %}

                        {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    <br>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
        <div class="container mt-4">
            <div class="card mb-4 m-0">
                <div class="card-body m-0">
                    <!-- Grid row -->
                   <div class="jumbotron m-0">
                                <h5 class="mb-2 text-dark">All Ratings and Reviews</h5>
        {% for review in reviews %}
                <div class="bg-white rounded shadow-sm p-2 mb-2 restaurant-detailed-ratings-and-reviews review">
                    <div class="reviews-members pt-2 pb-2">
                           <div class="media">
                          {% if review.Student.photo %}
                              <img alt="Generic placeholder image" src="{{review.Student.photo}}" class="mr-3 rounded-pill">
                              {% else %}
                              <img alt="Generic placeholder image" src="https://i.stack.imgur.com/l60Hf.png" class="mr-3 rounded-pill">
                              {% endif %}
                          
                            <div class="media-body">
                                <div class="reviews-members-header">
                                    <h6 class="mb-1 text-dark">{{review.Student.Full_name}}</h6>
                                    {% for i in review.Range %}
                                    <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                    <p class="mb-1" style="font-size: 12px;">{{review.Posted_On}}</p>
                                </div>
                                <div class="reviews-members-body mt-0 text-black">
                                    <p class="text-dark">{{review.Review}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              {% endfor %}
              <div>
                <button class="btn btn-primary load-more" style="align-items: center;">Load More</button>
              </div>
                  <form method="post">
                    {% csrf_token %}  
                    <div class="form-group m-0">
                  <h3 for="exampleFormControlTextarea1" class="text-dark m-0 mt-5">Write A Review</h3>
                  <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3" placeholder="Write Your Review" required="This Field Cannot be Empty" name="comment"></textarea>
                </div>
                  <select id="inputState" class="form-control mt-2" style="float: left;width:30%;" name="rating">
                  <option value="5">Five Stars</option>
                  <option value="4">Four Stars</option>
                  <option value="3">Three Stars</option>
                  <option value="2">Two Stars</option>
                  <option value="1">One Stars</option>
                </select>
                <button  class="btn btn-primary mt-2" style="float: right;">Post Review</button>
                </form>
              </div>   
            
                </div>
            </div>
    </main>
    <script type="text/javascript">
         $(".review").slice(0,2).show();
         $(".load-more").on("click",function(){
          $(".review:hidden").slice(0,10).show();
          if($(".review:hidden").length == 0){
            $(".load-more").fadeOut();
          }
         });
    </script>
    {% endblock %}
