{% extends 'tutor/dashboardStudent.html' %}
{% load static %}
{% load splitspace %}
{% block css %}

<style>
    h5,p{color: black;}
    .footer{
        padding-left: 20px;
        padding-bottom: 10px
    }
    #my-video{
        width: 100%;
        height: 200px;
        border: 1px solid;
    }
    .course-duration{
        display: none;
    }
</style>
{% endblock %}
{% block body %}
<main>
    <div class="container">
         <div class="card card-width col-sm-12">
            <div class="card-body container">
                <form method="post" action="{% url 'searchtutorial' %}">{% csrf_token %}
                    <div class="row d-flex justify-content-end">
                        <div class="col-sm-11 justify-content-center d-flex">
                            <input type="text" class="controls form-control" name='course' placeholder="Search Course">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-warning btn-md">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
         <div class="card card-width col-sm-12" style="padding-top:1rem;padding-bottom:2rem;">
            <h4 class="text-dark">Filters</h4>
            <form method="post">{% csrf_token %}
            <div class="card-body container filters">
                <div class="row d-flex justify-content-end">
                    <div class="col-sm-4 input-group form-group justify-content-center d-flex">
                        <label class="control-label text-dark" style="padding-top: 5px;">Course Type &nbsp;&nbsp;</label>
                        <select class="form-control" name="type">
                            <option></option>
                            {% for course in courses%}
                          <option value="{{course.Course.s_num}}">{{course.Course.courseName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 input-group form-group justify-content-center d-flex">
                        <label class="control-label text-dark" style="padding-top: 5px;">Course Duration&nbsp;&nbsp;</label>
                         <select class="form-control" name="duration" id="duration">
                            <option></option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                    </div>
                    <div class="col-sm-3 input-group form-group justify-content-center d-flex">
                        <label class="control-label text-dark" style="padding-top: 5px;"> Fees  &nbsp;</label>
                        <select class="form-control" name="fees">
                            <option></option>
                          <option value="0-1000">less than 1000</option>
                          <option value="1000-2000">1000-2000</option>
                          <option value="2000-5000">2000-5000</option>
                          <option value="5000-7000">5000-70000</option>
                          <option value="7000-50000">7000 and above</option>
                        </select>
                    </div>
            <button type="submit" class="btn btn-primary" style="height: 38px;">Apply Filters</button>

                </div>
            </div>
             </form>
        </div>
        {% if tutorials %}
        <div class="card-columns mt-4">
            {% for i in tutorials %}
              <div class="card">
                <div class="showcase">
                    <video id="my-video" playsinline style="pointer-events: none;" controls="">
                        <source src="{{i.First}}" type="">
                    </video>
                </div>
                <div class="card-body">
                  <h6 class="card-title text-dark">{{i.Title}}</h6>
                  {% if i.Discount_Validity %}
                  <p>{{i.Discounted_price}}&nbsp;<del>{{i.Fees}}</del></p>
                  {% else %}
                  <p>{{i.Fees}}</p>
                  {% endif %}
                  <p class="course-duration">{{i.Duration}}</p>
                </div>
                {% if i.Tutor %}
                <div class="footer" style="border: none;color: white;background-color: white;">
                    <a href="{% url 'watchTutorcourse' i.id %}" class="btn btn-primary">Watch</a>
                </div>
                {% else %}
                <div class="footer" style="border: none;color: white;background-color: white;">
                    <a href="{% url 'watchInstitutecourse' i.id %}" class="btn btn-primary">Watch</a>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            {% else %}

            <div class="container mt-4 " style="background-color: white;">
                <div class="card mt-2">
                    <h3 class="text-dark">No results Found.....</h3>
                </div>
            </div>
            {% endif %}
    </main>
    <script type="text/javascript">
    $(document).ready(function(){
            $('#duration').change(function(){
                var selected = $('#duration').val();
                var i;
                var cards = document.getElementByClassName('card');
                var items = document.getElementsByClassName('course-duration');
                var i,text="";
                for (i = 0; i < items.length; i++) {
                    if (items[i]==selected){
                    }
                    }
            });
    });
    </script>
    {% endblock %}
