<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBJybI10-Xa43-F5GSad1i0Y9W3yqlW6Q&libraries=places&v=3" defer></script>

  <!--Custom styles-->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/stylessignupTutor.css' %}" type="text/css">
</head>
<style type="text/css">
	body{
		overflow: auto;
	}
	.card{
		height: auto;
	}
      #map {
        height: 100%;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-weight: 300;
      }

      #pac-input {
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
      .pac-container {
        z-index: 1100 !important;
      }
</style>
<body>
<div class="container">
		{% if errors %}
	<div class="alert alert-danger" role="alert">
		<div id='errorsBox'>
			<div>
				<h5 style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">Error !</h5>
				<ul>
					{% for x in errors %}
					<li>{{ x }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
		{% endif %}<br>
	<div class="d-flex justify-content-center h-200">
		<div class="card">
			<div class="card-header">
				<h2 style="color: rgb(66, 8, 8);display: inline">Sign Up As Tutor</h2>
			</div>
			<div class="card-body">
				<form action="" method="post">{% csrf_token %}
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">First name<span class="text-danger">*</span></label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" id="firstName " name='firstName' placeholder="First name" required value = "{{ prefil.firstName }}">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Last name</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" id="lastName " name='lastName' placeholder="Last name" value = "{{ prefil.lastName }}">
					</div>
					<div class="input-group form-group">
                        <label class="control-label col-sm-4">Email Id<span class="text-danger">*</span></label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="email" class="form-control" id="email" name='email' placeholder="Email Address" required value = "{{ prefil.email }}">
					</div>
					<div class="input-group form-group">
                        <label class="control-label col-sm-4">Set Password<span class="text-danger">*</span></label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
                    </div>

					<div class="input-group form-group">
                        <label class="control-label col-sm-4">Phone Number<span class="text-danger">*</span></label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone"></i></span>
						</div>
						<input  type="number" class="form-control" id="phone" name='phone' placeholder="Phone Number" required value = "{{ prefil.phone }}" type="number">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Location<span class="text-danger">*</span></label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
						</div>
  						<input id="pac-input" type="text" class="controls form-control" name='loc' placeholder="Search" required><button class="btn btn-info btn-sm" id="getUserLocation" type="button" name="getUserLocation">Get</button>
						<input type="hidden" id="cityLat" name="cityLat" />
						<input type="hidden" id="cityLng" name="cityLng" />
					</div>
					<div class="input-group form-group">
                        <label class="control-label col-sm-4">Distance<span class="text-danger">*</span></label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
						</div>
						<input  type="number" class="form-control" id="distance" name='distance' placeholder="Distance(Km)" required  value = "{{ prefil.distance }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"><span class="text-danger">Note :</span></label>
                        <div class="col-md-12">
                            <span class="text-muted">
                            By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Policy</a>, including our <a href="#">Cookie Use</a>.
                            </span>
                        </div>
                    </div>
					<div class="form-group text-center">
						<input type="submit" value="Sign Up" class="btn signup_btn">
					</div>
				</form>
            </div>
		</div>
	</div>
</div>
</body>
</html>
<script>
	function clear_all(){
		var x = document.getElementsByClassName("form-control");
		for(var i=0;i<x.length;i++){
			x[i].value='';
		}
	}

	$(document).on("DOMContentLoaded",function(){
		function showPosition(position) {
				document.getElementById('pac-input').value = "processing...";
			   document.getElementById('cityLat').value = position.coords.latitude;
			   document.getElementById('cityLng').value = position.coords.longitude;

 $.ajax({
         type: "POST",
         url: "/ajaxLocation/",
         data: {
             'cityLat': position.coords.latitude,
             'cityLng': position.coords.longitude,
             'ajax': 1
         },
         success: function (response) {
             if (response.status == 'success') {
       document.getElementById('pac-input').value = response.result;
             }
             else {
                 document.getElementById('pac-input').value = response.error;
             }
         },
         error: function () {
             document.getElementById('pac-input').value = "";
         }
     });

			}
		function getLocation() {
			  if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(showPosition);
			  } else {
				//  "Geolocation is not supported by this browser.";
			  }
			}
		$("#getUserLocation").on("click", getLocation);

		function initialize() {
		   var input = document.getElementById('pac-input');
		   var autocomplete = new google.maps.places.Autocomplete(input);
google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('cityLat').value = place.geometry.location.lat();
        document.getElementById('cityLng').value = place.geometry.location.lng();
});
		 }
		 initialize();

	});
</script>
