{% extends 'tutor/dashboard.html' %}
{% load static %}
{% block css %}
.table-bordered.red-border, .table-bordered.red-border th, .table-bordered.red-border td {
    border: 1px solid #ff3547!important;
}
.table.table-bordered th {
    text-align: center;
}
.darken-grey-text {
    color: #2E2E2E;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.purple-border {
    border: 1px solid #9e9e9e;
}
.input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
    border: 1px solid #ba68c8;
    box-shadow: none;
}
.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}
.danger-text {
    color: #ff3547;
}
.success-text {
    color: #00C851;
}
.detailscol{
    text-align: center;
}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-body">
            <div>
                <h2 style="color: rgb(66, 8, 8);">Search Student</h2>
                <br>
                <form method="POST">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name='userName' placeholder="Enter Student Name" required>
                        </div>
                        <br>
                        <label class="col-lg-2">
                            <button name="userAction" value="studentSearch" type="submit" class="btn btn-warning">Search</button>
                        </label>
                    </div>
                </form><br>
                <div>
                    {% if messages %}
                        <ul class="messages">
                            {% for k in messages %}
                                <li style="color: darkred;">{{ k }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div><br>
                <div>
                    {% if userData %}
                            <table class="table table-striped">
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Institute Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
                                <!--Table body-->
                                {% for k in userData %}
                                                <form method="post">{% csrf_token %}

                                    <tbody>
                                            <tr>
                                                <td>{{k.username}}</td>
                                                <td>{{k.instituteName}}</td>
                                                <td><input type="hidden" name="userAction" value="subjectSearch"><button class="btn btn-danger" name="userId" value="{{k.snum}}" type="submit" name="button">Submit</button></td>
                                            </tr>
                                    </tbody>
                                                </form>
                                    
                                {% endfor %}
                                <!--Table body-->
                            </table>
                            <!--Table-->
                            <hr>
                    {% endif %}
                    {% if subjectData %}
                                <div class="studentnames row" style="color:black;">
                                        <div class="col-sm-6 d-flex justify-content-start"><b>Name : {{username.username}}</b></div>
                                        <div class="col-sm-6 d-flex justify-content-end"><b>Phone: {{username.conector.phone}}</b></div>
                                </div>
                                <table class="table table-striped">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th>Course Name</th>
                                            <th>Teaching type</th>
                                            <th>Classes</th>
                                            <th>Batch</th>
                                            <th>Instalments</th>
                                            <th>Total Fees</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody>
                                    {% for k in subjectData %}
                                    <form method="post">{% csrf_token %}
                                                <tr>
                                                    <td>{{k.courseName}}</td>
                                                    <td>{{k.teachType}}</td>
                                                    <td>{{k.forclass}}</td>
                                                    <td>{{k.batch}}</td>
                                                    <td>{{k.instalment}}</td>
                                                    <td>{{k.feeDisc}}</td>
                                                    <td><input type="hidden" name="userAction" value="studentFee"><button class="btn btn-danger" name="subjectId" value="{{k.snum}}" type="submit" name="button">Submit</button></td>
                                                </tr>
                                    </form>
                                    {% endfor %}
                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Table-->
                                <hr>
                    {% endif %}
                    {% if inputData %}
                            <div class="row d-flex justify-content-center" style="color:black;">
                                <div class="col-sm-8">
                                    <table class="table table-striped">
                                        <tr>
                                            <td> Name : </td>
                                            <td>{{feeObj.username.username.username}}</td>
                                        </tr>                                   
                                        <tr>
                                            <td>
                                                Teaching Type : 
                                            </td>
                                            <td>
                                             {{feeObj.username.teachType}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Subject : 
                                            </td>
                                            <td>
                                                {{feeObj.subject}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Total Fee :
                                            </td>
                                            <td>
                                                {{feeObj.totalFee}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>      
                            </div>
                            {% if inputData.installmentNumber > 1 %}
                                <div class="d-flex justify-content-center" style="color:black;">
                                    <h2>Previous Payments</h2>
                                </div>
                            {% endif %}
                                <table class="table table-striped">
                                    <!--Table head-->
                            {% if inputData.installmentNumber > 1 %} 
                                    <thead>
                                        <tr>
                                            <th>Instalment No.</th>
                                            <th>Expected Amount</th>
                                            <th>Recieved Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->
                                    <!--Table body-->
                                    <tbody>    
                                    {% for k in installmentsDone %}
                                                <tr>
                                                    <td>{{k.instalmentNum}}</td>
                                                    <td>{{k.paymentExp}}</td>
                                                    <td>{{k.paymentDone}}</td>
                                                    <td>{{k.timeStamp}}</td>
                                                </tr>
                                    {% endfor %}
                                    <!--Table body-->
                            {% endif %}
                            {% if installmentnotcomplete %}
                                    <thead>
                                        <tr>
                                            <th>Instalment No.</th>
                                            <th>Expected Amount</th>
                                            <th>Submission Amount</th>
                                            <th>Submit</th>
                                        </tr>
                                    </thead><form method="POST"> {% csrf_token %}
                                            <tr>
                                                <td>{{inputData.installmentNumber}}</td>
                                                <td>{{inputData.payment}}</td>
                                                <td><input type="decimal" class="form-control" name="payed"></td>
                                                <td><input type="hidden" value="{{inputData.installmentNumber}}" name="iNum">
                                                    <input type="hidden" value="{{inputData.payment}}" name="fees">
                                                    <input type="hidden" value="{{inputData.feeId}}" name="feeId">
                                                    <button class="btn btn-danger" value="submitFee" name="userAction" type="submit">Pay</button></td>
                                            </tr>
                                            </form>
                                    </tbody>
                                {% else %}
                                    <tr><td>All installments Completed</td></tr>
                                {% endif %}
                                </table>
                                <!--Table-->
                                <hr>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
