{% extends 'tutor/dashboardTutor.html' %}
{% load static %}
{% block css %}
<style>
@import url('https://fonts.googleapis.com/css?family=Numans');

.container{
align-content: center;
}

.btn{
  font-size: small;
}

.card-width{
width:100%;
margin-top: auto;
margin-bottom: auto;
background-color: white;
}

.card-header h3{
color: white;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 19px;
height: 19px;
margin-left: 15px;
margin-right: 5px;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.control-label {
color: rgb(66, 8, 8);
font-size: 20px;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.signup_btn{
color: black;
background-color: #FFC312;
width: 300px;
}

.signup_btn:hover{
background-color: #2a2b3d;
color:white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.control-label {
    color: rgb(66, 8, 8);
    font-size: 20px;
}
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-bottom: 1rem;
  max-width: 9rem;
}
.profile-cards .card{
    margin-bottom: 5rem;
}
.profile-container{
  margin-top: 5rem;
  color:black;
}
.btn-group{
  width:100%;
}
.multiselect{
  width:100%;
}
.avatar{
  margin-top: -5rem;
}
.card{
    height: auto;
  }
      #map {
        height: 100%;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-weight: 300;
      }

      #pac-input {
        text-overflow: ellipsis;
        font-size: small;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
      .pac-container {
        z-index: 1100 !important;
      }
      body{
        font-size: small;
      }
      .form-control{
        font-size: small;
      }
      .multiselect-container > li > a > label{
      	height:auto;
      }
      .multiselect-container{
      	height:10rem;
      	overflow-y:scroll;
      	width:max-content;
      }
</style>
{% endblock %}
{% block body %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBJybI10-Xa43-F5GSad1i0Y9W3yqlW6Q&libraries=places&v=3" async defer></script>
<div class="container">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5 style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        {% endif %}
    <div class="d-flex justify-content-center h-100 row">
        <div class="card card-width col-sm-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center"><h2 style="color: rgb(66, 8, 8);">Search Students</h2></div>
                </div>
            </div>
            <div class="card-body container">
              <form method="post">
                {% csrf_token %}
                <div class="row d-flex justify-content-end">
                    <div class="col-sm-3 input-group form-group justify-content-center d-flex">
                       <input id="pac-input" type="text" class="controls form-control" name='loc' placeholder="Search Location">
                       <input type="hidden" id="cityLat" name="cityLat" />
                       <input type="hidden" id="cityLng" name="cityLng" />
                    </div>
                    <div class="col-sm-2 input-group form-group justify-content-center d-flex">
                        <select id="className" name="className" class="custom-select form-control" required>
                            <option disabled selected>Class</option>
                        </select>
                    </div>
                    <div class="col-sm-3 input-group form-group justify-content-center d-flex">
                        <select id="courseName" name="courseName" class="custom-select form-control multiselect1" required multiple>
                            <option disabled selected>Courses</option>
                        </select>
                    </div>
                    <div class="col-sm-3 input-group form-group justify-content-center d-flex">
                        <input type="number" step="0.01" class="form-control" name='budget' placeholder="Budget">
                    </div>
                    <div class="col-sm-1">
                    <button type="submit" class="btn btn-warning btn-md">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

<!-- search bar ends -->


                    <div class="container col-sm-12 profile-container">
                      <div class="row profile-cards">

                {% for i in allData %}

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 cardWrapper" data-distance="{{i.distance}}" data-experience="{{i.experience}}" data-demo="{{i.freeDemo}}" data-budget="{{i.fees}}">
                          <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <h4 class="card-title col-sm-12 text-center">{{i.courseName}}</h4>
                                        <p class="col-sm-12">Created: {{i.timestamp}}</p>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                {% if i.forclass %}
                                  <div class="card-text row"><div class="col-sm-6"> Class :</div><div class="col-sm-6"> {{i.forclass}}</div></div>
                                {% endif %}
                                {% if i.requirement %}
                                  <div class="card-text row"><div class="col-sm-6">Requirement :</div><div class="col-sm-6"> {{i.requirement}}</div></div>
                                {% endif %}
                                {% if i.budget %}
                                  <div class="card-text row"><div class="col-sm-6">Budget :</div><div class="col-sm-6"> {{i.budget}}</div></div>
                                {% endif %}
                                <hr>
                                <div class="card-text row">
                                        Description : {{i.description}}
                                        <br>
                                </div>

                                  <br>
                                  <!-- <button type="button" data-toggle="modal" data-target="#tutorModal{{i.snum}}" class="btn btn-info">View</</button> -->
                                  <!-- <a href="#" class="btn btn-outline-info">Message</a> -->
                                </div>
                          </div>
                        </div>

                {% endfor %}

</div>

<script>

    document.addEventListener("DOMContentLoaded", function(){


                var docs = {{jsonLocalData|safe}}
                classes = Object.keys(docs);
                for(i=0;i<classes.length;i++){
                    $('#className').append(`<option value="${classes[i]}">
                                               ${classes[i]}
                                           </option>`);
                }
                $(".multiselect1").multiselect();
                $("#className").on("change",function(){
                    $("#courseName").empty();
                    courses = docs[this.value];
                    for(i=0;i<courses.length;i++){
                        $('#courseName').append(`<option value="${courses[i]}">
                                               ${courses[i]}
                                           </option>`);
                                       }
                    $(".multiselect1").multiselect('rebuild');

                });

          showAsideBtn = $('.show-side-btn');
          setTimeout(function(){
            showAsideBtn.click();
          }, 0);

});

    $(".multiselect1").multiselect();
    $(".multiselect2").multiselect();
    $(".multiselect3").multiselect();


</script>
<script type="text/javascript">
  $(document).on("DOMContentLoaded",function(){
    function showPosition(position) {
        document.getElementById('pac-input').value = "processing...";
         document.getElementById('cityLat').value = position.coords.latitude;
         document.getElementById('cityLng').value = position.coords.longitude;

 $.ajax({
         type: "POST",
         url: "/ajaxLocation/",
         data: {
             'cityLat': position.coords.latitude,
             'cityLng': position.coords.longitude,
             'ajax': 1
         },
         success: function (response) {
             if (response.status == 'success') {
       document.getElementById('pac-input').value = response.result;
             }
             else {
                 document.getElementById('pac-input').value = response.error;
             }
         },
         error: function () {
             document.getElementById('pac-input').value = "";
         }
     });

      }

    function initialize() {
       var input = document.getElementById('pac-input');
       var autocomplete = new google.maps.places.Autocomplete(input);
google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('cityLat').value = place.geometry.location.lat();
        document.getElementById('cityLng').value = place.geometry.location.lng();
});
     }
     initialize();

  });
</script>
{% endblock %}
