{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block main-content %}
<style>
    #card {
        background-color: white;
        padding-bottom: 3rem;
        padding-top: 3rem;
        color: black;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="mt-5">
    {% if messages %}
    {% for k in messages%}
    <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
        <b>{{ k }} !</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div style="padding-top: 0;" class="class" id="card">
        <div class="card-header">
            <h2 style="align-items: center;text-align: center;">Update Batch</h2>
        </div>
        <form id="frm" class="mb-4 mt-4" method="post">{% csrf_token %}
            <div class="mx-2 row" id="INSTBATCH">

                <div class="col">
                    <label for="validationCustom01"><strong> Batch Name<span class="red">*</span></strong></label>
                    <input required type="text" class="form-control" id="batchName" name='batchName' placeholder="Batch Name"
                        value="{{batchObj.batchName}}">

                </div>


                <div class="col">
                    <label for="validationCustom01"><strong>Select Class<span class="red">*</span></strong></label>
                   
                    <select required id="forclass" name="forclass" style="width: 100%"
                        class="js-example-basic-single form-control">
                        <option class="form-control" selected disabled value="">Select Class</option>
                        {% for i in classes %}
                        <option class="form-control form-control-lg" value="{{ i.0 }}">{{i.0}} </option>
                        {% endfor %}
                    </select>
                   

                </div>


                

                <div class="col">
                    <label for="validationCustom01"><strong>Select Course<span class="red">*</span></strong></label>
                    <select required id="courseName" name="courseName" style="width: 100%"
                        class="js-example-basic-single form-control" onchange="selectcourse()">
                        <option class="form-control form-control-lg" selected disabled value="">Select Course</option>
                    </select>
                </div>

                <div class="col">
                    <label for="validationCustom01"><strong>Teaching Type <span class="red">*</span></strong></label>           
                     <select required id="teachingtype" name='teaching'  style="width: 100%;"
                        class="js-example-basic-single form-control ">
                        <option selected disabled value="">Teaching Type</option>
                      </select>          
                  </div>

            </div>
            <div class="mx-2 row mt-4">

                <div class="col">
                    <label for="validationCustom01"><strong>Start Date <span class="red">*</span></strong></label>
                    <input type="date" class="form-control w-100 col-sm-8 col-7" name="startDate" value="{{ start|date:'d-m-Y' }}" required><br />
                    <div class="invalid-feedback">
                      Select a valid Date!
                    </div>
                  </div>
          
                  <div class="col">
                    <label for="validationCustom01"><strong>End Date <span class="red">*</span></strong></label>
                    <input type="date" class="form-control w-100 col-sm-8 col-7" name="endDate" value="{{ end|date:'d-m-Y' }}" required><br />
                    <div class="invalid-feedback">
                      Select a valid Date!
                    </div>
                  </div>


                <div class="col">
                    <label for="validationCustom01"><strong>Start Time <span class="red">*</span></strong></label>
                    <input required class="form-control" type="time" placeholder="" name="startTime"
                        value="{{start|date:'H:i'}}" /><br />

                    <div class="invalid-feedback">
                        Select a valid Time!
                    </div>
                </div>

                <div class="col">
                    <label for="validationCustom01"><strong>End Time <span class="red">*</span></strong></label>
                    <input required class="form-control" type="time" placeholder="" name="endTime"
                        value="{{end|date:'H:i'}}" /><br />
                    <div class="invalid-feedback">
                        Select a valid Time!
                    </div>
                </div>

                <div class="col">
                    <label for="validationCustom01"><strong>Select Days <span class="red">*</span></strong></label>

                    <div>
                        <select required class="form-control " data-actions-box="true" id="days" name='fordays' multiple>
                            <option disabled>Day</option>
                            <option {% if "Sunday" in batchObj.days %} selected {% endif %} value="Sunday">Sunday</option>
                            <option {% if "Monday" in batchObj.days %} selected {% endif %} value="Monday">Monday</option>
                            <option {% if "Tuesday" in batchObj.days %} selected {% endif %} value="Tuesday">Tuesday</option>
                            <option {% if "Wednesday" in batchObj.days %} selected {% endif %} value="Wednesday">Wednesday</option>
                            <option {% if "Thursday" in batchObj.days %} selected {% endif %} value="Thursday">Thursday</option>
                            <option {% if "Friday" in batchObj.days %} selected {% endif %} value="Friday">Friday</option>
                            <option {% if "Saturday" in batchObj.days %} selected {% endif %} value="Saturday">Saturday</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
        </form>
    </div>
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });


        function selectclass() {
            var cou = '{{batchObj.course}}'
            var selected = $("#forclass").val();
            $.ajax({
                url: "{% url 'findCourse' %}",
                data: {
                    forclass: selected,
                },
                success: function (data) {
                    courses = data.courses;
                    $("#courseName").empty().trigger("change");
                    var newOption = new Option(
                        "Select Course",
                        '',
                        true,
                        true
                    );
                    newOption.disabled = true
                    $("#courseName").append(newOption).trigger("change");
                    for (i = 0; i < courses.length; i++) {
                        var newOption = new Option(
                            courses[i][1],
                            courses[i][0],
                            false,
                            false
                        );
                        $("#courseName").append(newOption).trigger("change");
                    }
                if(cou){
					$(`#courseName option:contains('${cou}')`).prop('selected',true)
				}
                },
            });
        }

        function selectcourse() {
        var tt = '{{batchObj.teachingtype}}'
        var selected_course = $("#courseName option:selected").text();
        var selected_class = $("#forclass").val();
        $.ajax({
            url: "{% url 'findTeaching' %}",
            data: {
                forclass: selected_class,
                course: selected_course
            },
            success: function (data) {
                teaching = data.teaching;
                $("#teachingtype").empty().trigger("change");

                var newOption = new Option(
                    "Teaching Type",
                    "",
                    false,
                    false
                );
                newOption.disabled = true
                $("#teachingtype").append(newOption).trigger("change");

                for (i = 0; i < teaching.length; i++) {
                    var newOption = new Option(
                        teaching[i],
                        teaching[i],
                        false,
                        false
                    );
                    $("#teachingtype").append(newOption).trigger("change");
                }
                if(tt){
                    $(`#teachingtype option[value='${tt}']`).prop('selected',true)
                }
            },
        });
    }

    var cla = '{{batchObj.forclass}}'
	$(`#forclass option[value='${cla}']`).prop('selected',true)
	selectclass()
    setTimeout(()=>{
        selectcourse()
    },1000)
    </script>
</div>
{% endblock main-content %}