{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block main-content %}
<style>
  #card {
    background-color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: black;
  }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<div class="mt-5">
  {% if messages %}
  {% for k in messages%}
  <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
    <b>{{ k }} !</b>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  <div class="card" style="color: black;">
    <div class="card-header">
      <h3 style="align-items: center;text-align: center;">Add Batch</h3>
    </div>
    <form id="frm" class="mb-4 mt-4" method="post">{% csrf_token %}
      <div class="mx-2 row" id="INSTBATCH">
        <div class="col">
          <label for="validationCustom01"><strong>Select Class <span class="red">*</span></strong></label>


          <select id="forclass" name='forclass' style="width: 100%;" class="js-example-basic-single form-control"
            onchange="selectclass()">
            <option class="form-control" selected disabled value="">Select Class</option>
            {% for i in classes %}
            <option class="form-control form-control-lg" value="{{ i.0 }}">{{i.0}} </option>
            {% endfor %}
          </select>


        </div>
        <div class="col">
          <label for="validationCustom01"><strong>Select Course<span class="red">*</span></strong></label>
          <select id="courseName" name="courseName" style="width: 100%" class="js-example-basic-single form-control">
            <option class="form-control form-control-lg" selected disabled value="">Select Course</option>
          </select>
        </div>
        <div class="col">
          <label for="validationCustom01"><strong> Batch Name<span class="red">*</span></strong></label>
          <input type="text" class="form-control" id="batchName" name='batchName' placeholder="Batch Name" required>
        
        </div>

      </div>
      <div class="mx-2 row mt-4"> 
        
        
        <div class="col">
          <label for="validationCustom01"><strong>Teaching Type <span class="red">*</span></strong></label>           
           <select id="teachingtype" name='teaching'  style="width: 100%;"
              class="js-example-basic-single form-control ">
              <option value="Online">Online</option>
              <option value="ClassRoom">Class Room</option>
            
            </select>          
        </div>


        <div class="col">
          <label for="validationCustom01"><strong>Start Time <span class="red">*</span></strong></label>
          <input class="form-control" type="time" placeholder="" input type="text" name="startTime" required /><br />
          <div class="invalid-feedback">
            Select a valid Time!
          </div>
        </div>

        <div class="col">
          <label for="validationCustom01"><strong>End Time <span class="red">*</span></strong></label>
          <input class="form-control" type="time" placeholder="" type="text" name="endTime" required /><br />
          <div class="invalid-feedback">
            Select a valid Time!
          </div>
        </div>

        <div class="col">
          <label for="validationCustom01"><strong>Select Days <span class="red">*</span></strong></label>

          <div>
            <select class="form-control  selectpicker multiselect multiple-checkboxes" data-actions-box="true"  multiple="multiple" id="days" name='fordays' required>
              
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
            </select>
          </div>
        </div>


        

      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary"> Submit </button>
      </div>
    </form>
  </div>

  <br>
  <br>

  <div class="card mb-4">
    <div class="card-header">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-8">
          <h2 style="color: rgb(0, 0, 0 );">List of Batches</h2>
        </div>

        <div class="col-md-4">
          <input id="searchbox" type="text" class="form-control" name='srh' placeholder="Search Exam or Course"
            required>
        </div>

        <!-- Grid column -->
      </div>
    </div>
    {% if bat %}
    <div class="card-body">
      <!-- Grid row -->
      <form action="" method="post">{% csrf_token %}
        <!--Table-->
        <div class="table-responsive">
          <table class="table table-striped">
            <!--Table head-->
            <tr>
              <th>Batch Name</th>
              <th>Course Name</th>
              <th>Class</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Days</th>
              <th>Teaching Type</th>
              <th class='text-center'>Action</th>
              

            </tr>
            <!--Table head-->
            <!--Table body-->

            {% for i in bat %}
            <tr>
              <td>{{i.batchName}}</td>
              <td>{{i.course}}</td>
              <td>{{i.forclass}}</td>
              <td>{{i.startTime}}</td>
              <td>{{i.endTime}}</td>
              <td>{{i.days}}</td>
              <td>{{i.teachingtype}}</td>

              <td class="text-center">
                <a class="btn btn-warning" href="{% url 'batchTimingEdit' i.id %}"><i class="flaticon-pencil-line"
                    style="font-size:medium;"></i></a>
                <a class="btn btn-danger confirm-inactive"   href="{% url 'batchTimingdelete' i.id %}"><i class="flaticon-delete-fill"
                    style="font-size:medium;"></i></a>              

              </td>
              <!-- <td><a href="{% url 'batchTimingEdit' i.id %}" class="btn btn-danger">EDIT</a></td>
              <td><a href="{% url 'batchTimingdelete' i.id %}" class="btn btn-danger">Delete</a></td>
              -->
            </tr>
            {% endfor %}


            <!--Table body-->
          </table>
        </div>
        <!--Table-->
      </form>
      <br>
    </div>
    {% else %}
    <div class="card-header" style="background: none;">
      <div class="row">
        <div class="col-xl-12 col-md-12 col-12">
          <h2>No Exams to show</h2>
        </div>
      </div>
    </div>
    {% endif %}
  </div>




  <script>
     $(document).on('click', '.confirm-inactive', function(){
    return confirm('Are you sure you want to delete this?');
    })
     
    $(document).on('click', '.confirm-active', function(){
    return confirm('Are you sure you want to active this?');
    })
    
    function checkbox() {
      var value = $("#negativecheck").is(":checked");
      negative = document.getElementById("negative");
      var output;
      if (value) {
        output = `<input
      type="number"
      class="mt-2 form-control"
      placeholder="Enter Negative Marks"
      name="negative_marks"
      value="0"
      required
    />
    <div class="invalid-feedback">
      Enter a valid No.
    </div>`;
      } else {
        output = "";
      }
      negative.innerHTML = output;
    }
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
      $('.js-example-basic-single').select2();
    });

    function selectclass() {
      var selected = $("#forclass").val();
      $.ajax({
        url: "{% url 'findbatch' %}",
        data: {
          forclass: selected,
        },
        success: function (data) {
          courses = data.courses;
          $("#courseName").empty().trigger("change");
          for (i = 0; i < courses.length; i++) {
            var newOption = new Option(
              courses[i][1],
              courses[i][0],
              false,
              false
            );
            $("#courseName").append(newOption).trigger("change");
          }
        },
      });
    }

    $(window).on('pageshow', () => {
      var frm = $('#frm');
      frm[0].reset();
    });
  </script>

</div>
{% endblock %}