{% extends 'dashboard/dashboardTutor.html' %}
{% load static %}
{% load datesplit %}
{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Numans');

    .container {
        align-content: center;
    }

    .card {
        margin-top: auto;
        margin-bottom: auto;
        width: 800px;
        background-color: white;
    }

    .card-header h3 {
        color: white;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember {
        color: white;
    }

    .remember input {
        width: 19px;
        height: 19px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }

    .control-label {
        color: rgb(66, 8, 8);
        font-size: 20px;
    }

    .social_icon span {
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

    .card-header h3 {
        color: white;
    }

    .social_icon {
        position: absolute;
        right: 20px;
        top: -45px;
    }

    .input-group-prepend span {
        width: 50px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember {
        color: white;
    }

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .signup_btn {
        color: black;
        background-color: #FFC312;
        width: 300px;
    }

    .signup_btn:hover {
        background-color: #2a2b3d;
        color: white;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }

    .control-label {
        color: rgb(66, 8, 8);
        font-size: 20px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5
                    style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
                    Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h2 style="color: rgb(66, 8, 8);">Batch Timing</h2>
                    </div>
                </div>
            </div>
            <div class="card-body container">
                <form id='submitForm' method='post' action=''>{% csrf_token %}
                    <select class="form-control" id="courseName" name="courseName" required>
                        <option selected="selected" disabled>Choose Course</option>
						{% for i in courses %}
							<option value="{{ i.id }}">{{ i.courseName }}</option>
						{% endfor %}
					</select>
					<br>
					<div class="">
					  <label class="control-label col-sm-4">Select Class<span class="text-danger">*</span></label>
						<select class="multiselect multiple-checkboxes" id="forclass" name='forclass' multiple="multiple" required>
						  <option>Choose Course</option>
						</select>
					</div>
					<br>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Batch Name<span class="text-danger">*</span></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="batchName " name='batchName'
                            placeholder="Batch Name" required value="{{ data.batchName }}">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Start Time<span class="text-danger">*</span></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>

                        </div>
                        <input type="time" class="form-control" id="startTime" name='startTime' placeholder="Start Time"
                            required value="{{ data.startTime }}">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">End Time<span class="text-danger">*</span></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="time" class="form-control" id="endTime" name='endTime' placeholder="End Time"
                            required value="{{ data.endTime }}">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Start Date<span class="text-danger">*</span></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="Date" class="form-control" id="validity" name='startdate' placeholder="Val"
                            required="" value="{{ data.StartDate }}">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">End Date<span class="text-danger">*</span></label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="Date" class="form-control" id="validity" name='enddate' placeholder="Val"
                            required="" value="{{ data.EndDate }}">
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4" for='forday'>Days<span
                                class="text-danger">*</span></label>
                        <div>
                            <select id="multiple-checkboxes" id="forday" name='forday' multiple required>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </div>
                    </div><br>
                    <hr>
                    <div class="row container d-flex justify-content-end">
                        <div class="col-sm-2 sm-ml-1">
                            <button id='submitBtn' name="submit" type="submit" class="btn btn-warning">SUBMIT</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        var array = "{{prefilObj.days}}".replace(/ /g, "").split(",");

        $("#multiple-checkboxes").val(array);

        $('#multiple-checkboxes').multiselect({
            includeSelectAllOption: true,
            minwidth: 2000
        });
        $("#courseName").on("change",function(){
            var options = {{json|safe}};
            console.log('options--',options)
            var currentops = options[this.value];
            $("#forclass").empty();
            for(i=0;i<currentops.length;i++){
                $("#forclass").append(`<option value="${currentops[i]}">
                    ${currentops[i]}
                </option>`);
            }
            $("#forclass").multiselect('rebuild');
        });
    });
</script>
{% endblock %}