{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Numans');

    .container {
        align-content: center;
    }

    .card {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        background-color: white;
    }

    .card-header h3 {
        color: white;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember {
        color: white;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }

    .control-label {
        color: rgb(66, 8, 8);
        font-size: 20px;
    }

    .social_icon span {
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

    .card-header h3 {
        color: white;
    }


    .input-group-prepend span {
        width: 50px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;

    }



    .signup_btn {
        color: black;
        background-color: #FFC312;
        width: 300px;
    }

    .signup_btn:hover {
        background-color: #2a2b3d;
        color: white;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }

    .control-label {
        color: rgb(66, 8, 8);
        font-size: 20px;
    }

    .buttonLikeLook {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #ffc312;
        color: black;
    }

    .errorSpan {
        color: red;
        font-size: smaller;
        display: none;
    }

    td {
        padding: 10px;
    }
</style>
{% endblock %}
{% block main-content %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBJybI10-Xa43-F5GSad1i0Y9W3yqlW6Q&libraries=places&v=3"
    defer></script>

<div class="mt-5">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
        <div id='errorsBox'>
            <div>
                <h5
                    style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
                    Error !</h5>
                <ul>
                    {% for x in errors %}
                    <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <h2 style="color: rgb(0, 0, 0);">Edit Videos</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id='submitForm' method='post' enctype=multipart/form-data>{% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-12 input-group form-group">
                        <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Add Video<span
                                class="text-danger">*</span></label>
                        <div class="w-100 col-sm-7 col-7">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" onchange="addfile()" required name="video">
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 col-12 input-group form-group">
                        <label class="control-label col-sm-5 col-5 mt-2" style="color:black;">Video Title<span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="title" value="{{tutorial.Title}}">
                    </div>


                    <div class="col-md-12 col-lg-12 col-12 input-group form-group">
                        <textarea type="text" class="form-control my-2 w-100"
                            name="description">{{tutorial.Description}}</textarea>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 text-center">
                        <button id='submitBtn' name="submit" type="submit" class="btn btn-info">Save Video</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#add").click(function () {
            var AddVideo = "<tr>"
            AddVideo += "<td><input class='rounded' type='file' name='video'></td>"
            AddVideo += "<td><input type='text' name='title' class='form-control' id='exampleInputEmail1' aria-describedby='emailHelp' placeholder='Enter Video Title'></td>"
            AddVideo += "<td><textarea type='text' rows='1' name='description' class='form-control' id='exampleInputEmail1' aria-describedby='emailHelp' placeholder='Enter Video Description'></textarea></td>"
            AddVideo += "</tr>";
            $("table tbody").append(AddVideo);
        })
    })

    function addfile(el) {
        var file = $(el).val();
        // first check if file field has any value
        if (file) {
            // split file name at dot
            var get_ext = file.split('.');
            // reverse name to check extension
            get_ext = get_ext.reverse();
            // check file type is valid as given in 'exts' array
            var filename = file.replace(/^.*\\/, "");
            $(".custom-file-label").html(filename);
        }
    }
</script>
{% endblock %}