a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}
/*
#myTimer {
  position: relative;
  top: 50px;
}
*/
/* .question {
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    border-radius: 50px;
    border:solid black 1px;
    padding:17px;
    margin:4px;
} */

.question {
  display: inline-block;
  padding-top: 0;
  line-height: 2.9em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  margin: 8px;
  margin-left: 1em;
  border: orange solid 1px;
  color: orange;
  background-color: papayawhip;
}

.question:hover {
  text-decoration: none;
  color: white;
  background: black;
  transition: 0.2s;
}

.question:hover > a {
  color: white;
}

#qpalette {
  /*
  position: relative;
  right: 130px;
  */
  font-size: 20px;
  bottom: 30px;
}

/* #submitbtn {
    margin: 30px;
    left:1000px;
} */

.myadjust {
  right: 15px;
  bottom: 100px;
}
/*
.vl {
  border-left: 2px solid black;
  height: 1000px;
  position: absolute;
  left: 75.2%;
  margin-left: -3px;
  top: 0;
}
*/
.qbar {
  /*
  position: relative;
  bottom: 150px;
  */
}

#ansframe {
  /*
  margin: 20px;
  */
}

/* #previous {
    position: relative;
    bottom:150px;
    left: 250px;
}

#next {
    position: relative;
    left: 500px;
    bottom: 150px;
}

#clearresponse {
    position: relative;
    left: 10px;
    bottom: 150px;
}

#markforreview{
    position:relative;
    left: 450px;
    bottom: 150px;
} */

#calcheading {
  /*
  position: relative;
  left: 600px;
  top: 5px;
  */
}

#calc {
  /*
  position: relative;
  left: 570px;
  */
}

.calculator {
  /*
  position: relative;
  bottom: 100px;
  */
}

#keyPad {
  /*
  position: relative;
  left: 400px;
  */
}

.modal-open div.modal-backdrop {
  z-index: 0;
}

/* #flagdemo {
    position: relative;
    left: 1150px;
    top: 420px;
} */

/* #flagdesc {
    position: relative;
    left: 1150px;
    top: 420px;
} */

#myqs {
  /* float: right; */
  overflow-y: auto;
  height: 58vh;
}

#questionno {
  /*
  background-color: lightgray;
  
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  */
}

.answered {
  color: green;
}

.unanswered {
  color: red;
}

/* #ansdemo{
    position: relative;
    left:980px;
    top:460px;
}

#unansdemo{
    position: relative;
    left:1100px;
    top:460px;
}

#notvisiteddemo{
    position: relative;
    left: 970px;
    top: 420px;
} */

#currquestion {
  /*
  margin: 10px;
  */
}

.currentquestion {
  text-decoration: underline black;
  text-decoration-thickness: 3px;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: red;
}

.userbtns {
  /*
  position: absolute;
  bottom: 0;
  
 
  text-align: center;
  padding: 2px;
  

   background-color: rgb(226, 234, 243);
  
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  */
}

.questionscroll {
  /*
  position: relative;
  bottom: 100px;
  
  height: 80vh;
  width: 60vw;
  overflow: scroll;
  */
}

.userguide {
  /*
  position: relative;
  left: 100px;
  bottom: 50px;
  */
}

#redtocalc {
  /*
  margin: 20px;
  padding: 15px;
  */
}

#ibtn {
  /*
  margin: 20px;
  padding: 15px;
  */
}

.iandc {
  /*
  position: relative;
  bottom: 280px;
  left: 1200px;
  */
}

#textans {
  min-height: 20vh;
  max-width: 80%;
}

/* rish codes */

.time {
  position: absolute;
  right: 2em;
}

.quiz_ans {
  margin: 1rem;
  height: 73vh;
  overflow-y: scroll;
}

.sec {
  font-size: small;
  color: rgb(70, 137, 238);
  background-color: rgb(226, 234, 243);
  width: fit-content;
  border-radius: 15%;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.4em;
}

.que_num {
  background-color: rgb(238, 235, 235);
}

footer div {
  display: inline;
  font-size: 80%;
}
footer div button {
  display: inline;
}

.fbtn {
  /*
  font-size: 60%;
  */
  display: inline;
}

body {
  overflow-y: hidden;
}

.rbtn {
  justify-content: right;
}

/* media query*/
/*

.ftbn{
  font-size: 60%;
}

*/

/*
footer{
  background-color: rgb(226, 234, 243);
  
}
*/
footer div {
  display: inline;
}
.fbtn {
  font-size: 90%;
}

@media screen and (min-width: 600px) {
  .right_btn {
    float: right;
  }
}

/* to rmemv 
@media screen and (min-width: 450px){
 
 

.sec_col,.sub_nm{
    display: inline-block;
  }
}
*/
/* galaxy */
@media screen and (max-width: 450px) {
  .sidesec {
    padding-left: 0.8em;
  }

  .ftr div {
    font-size: 100%;
  }

  .flscr {
    line-height: 1.4;
    margin-left: 1em;
  }

  .time {
    text-align: right;
    position: absolute;
    top: 1em;
  }

  #ansdemo,
  #notvisiteddemo {
    float: right;
  }

  .icon-flag {
    position: absolute;
    top: 21.5%;
  }

  .sidenav a {
    padding: 0 !important;
  }

  .sec_col,
  .sub_nm {
    display: none;
  }
  footer {
    justify-content: center;
  }
  .fbtn {
    font-size: 50%;
  }

  /*nav*/
  #myqs {
    overflow-y: scroll;
    height: 60vh;
  }
}

/*side nav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(247, 251, 252);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 0 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 6%;
  font-size: 36px;
}

@media screen and (min-width: 550px) {
  .open_btn {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
    padding: 0;
  }
  body {
    color: rebeccapurple;
  }
}

/* side footer*/
.ftr {
  width: 80vw;
}

.ins {
  float: left;
  width: 53%;
}

.allquz {
  float: right;
  width: 45%;
}

/*large device btns */
.ins {
  width: 45%;
}
.vaq {
  left: 4%;
  width: 50%;
}



/*large device 
@media screen and (max-width: 980px){
  body{
    display: none;
    color: red;
  }
}
*/