{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
@import url('https://fonts.googleapis.com/css?family=Numans');

.container{
height: 100%;
align-content: center;
}

.card{
height: 350px;
margin-top: auto;
margin-bottom: auto;
width: 650px;
background-color: white;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0 !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
background-color: #2a2b3d;
color:white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.control-label {
color: rgb(66, 8, 8);
font-size: 20px;
}
{% endblock %}
{% block main-content %}
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h2 style="color: rgb(66, 8, 8);">Update Course</h2>
      </div>
      <div class="card-body">
        <form action="" method="post">{% csrf_token %}
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="cName" name='cName' value="{{ course }}" required>
          </div>
          <div class="">
            <label class="control-label col-sm-4">Select Class<span class="text-danger">*</span></label>
            <select id="multiple-checkboxes" id="forclass" name='forclass' multiple="multiple">
              <option {% for i in class %}{% if i == "None"%}selected="selected" {% endif %}{% endfor %}>None</option>
              <option {% for i in class %}{% if i == "nursery"%}selected="selected" {% endif %}{% endfor %}>nursery
              </option>
              <option {% for i in class %}{% if i == "I"%}selected="selected" {% endif %}{% endfor %}>I </option>
              <option {% for i in class %}{% if i == "II"%}selected="selected" {% endif %}{% endfor %}>II</option>
              <option {% for i in class %}{% if i == "III"%}selected="selected" {% endif %}{% endfor %}>III</option>
              <option {% for i in class %}{% if i == "IV"%}selected="selected" {% endif %}{% endfor %}>IV</option>
              <option {% for i in class %}{% if i == "V"%}selected="selected" {% endif %}{% endfor %}>V</option>
              <option {% for i in class %}{% if i == "VI"%}selected="selected" {% endif %}{% endfor %}>VI</option>
              <option {% for i in class %}{% if i == "VII"%}selected="selected" {% endif %}{% endfor %}}>VII</option>
              <option {% for i in class %}{% if i == "VIII"%}selected="selected" {% endif %}{% endfor %}>VIII</option>
              <option {% for i in class %}{% if i == "IX"%}selected="selected" {% endif %}{% endfor %}>IX</option>
              <option {% for i in class %}{% if i == "X"%}selected="selected" {% endif %}{% endfor %}>X</option>
              <option {% for i in class %}{% if i == "XI"%}selected="selected" {% endif %}{% endfor %}>XI</option>
              <option {% for i in class %}{% if i == "XII"%}selected="selected" {% endif %}{% endfor %}>XII</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <input type="submit" value="UPDATE" class="btn float-right login_btn">
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#multiple-checkboxes').multiselect({
      includeSelectAllOption: true,
    });

    var prefils = {{class|safe}};
    $("#forclass").multiselect("select", prefils);
  });
</script>
{% endblock %}