#footer{
	background: #222222;
	padding: 20px 100px;
}
#footer #details{
   margin-top: 40px;
}
#footer .social-links .fa{
    font-size: 24px;
    color: white;
	margin-top: 20px;
    margin-right: 15px;
}
#footer .heading1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 40px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-bottom: 20px
}

#footer form{
	padding:0 30px;
}
#footer button{
	background: #1DA1F2;
	font-family: Roboto;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.02em;
	color: #FAFAFA;
	padding: 8px 0;
}
#footer .logo-heading{
	font-family: Roboto;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
#footer .footer-term {
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
}
#footer .footer-links a{
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#footer .footer-headings{
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}


@media only screen and (max-width: 565px) {
	#footer{
	padding: 20px;
    }
    #contact-image {
	   display: none;
    }
	.icons{
		float: left;
		font-size: 24px;
	}
	#footer #details{
		margin-left: 20px;
	}
	#footer .address{
		margin-top: -8px;
		margin-left: 35px;
	}
	#footer .address li{
		font-size: 20px;
	}
	#footer .heading1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-bottom: 20px
	}
	#footer form{
	margin-top: 30px;
	padding:0 20px;
	}
}
@media only screen and (min-width: 768px) {
    
	 
}

@media only screen and (min-width: 1024px) {

	#contact-image{
		max-height: 400px;
    	max-width: 400px;
    }
	.icons{
		display: none;
	}
	
}