/* Banner*/

header{
   background: linear-gradient(104.88deg, #04113D 15.34%, #0157A7 110.77%);
      height:auto; 
      opacity: 1;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
      background-position:center;
      background-attachment: fixed;
     
}

#banner{
   padding: 123px 100px 100px 100px;
	
}
.banner-heading{
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
	letter-spacing: 0.05em;

}
.banner-subtitle{
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.095em;
	margin-top: 20px;
}
#find-tutors{
	margin-top: 50px;
}
#find-tutors .card{
	background: #FFFFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
#find-tutors .one{
  border-top: 5px  solid  #EB5E0B;

}

#find-tutors .two{
  border-top: 5px solid  #EC4646;

}

#find-tutors .three{
  border-top: 5px solid  #6C35C4;

}
#find-tutors .tutors-btn{
	font-family: Inter;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01em;
	color: #000000;
	background: #A7DFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
    margin-top: 15px;

}
#WhyChoachizz{
	margin: 50px 0;
	padding: 0 100px;
}
#WhyChoachizz .heading1{
	font-family: Inter;
	font-weight: 600;
	font-size: 45px;
	letter-spacing: 0.01em;
	color: #121212;
	margin-top: -20px;
	margin-bottom: 30px;
}
#WhyChoachizz .paragraph1{
	font-family: Inter;
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 0.03em;
	color: #121212;
}
#WhyChoachizz .try-out-btn{
	font-family: Roboto;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
    background: linear-gradient(90deg, #1DA1F2 0%, #213970 112.76%);
	border: 3px solid #fff;
	border-radius: 18px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 5px 28px;
	margin-top: 20px;
}


/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 48%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 52px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  color:#EA143C;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color:#EA143C;
  text-decoration: none;
}

#slide-wrapper{
	display:inline;
}
#slide-wrapper .container-fluid{
	padding:0;
}

.carousel-inner,.carousel,.carousel-item,.container-fluid,.fill {
    min-height: 600px;
    width:100%;
	background: #fff;
    background-position:center center;
    background-size:cover;
	background-attachment: fixed;
	
}
.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); 
	-webkit-transform: translate3d(0, 100%, 0); 
	-ms-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);  
	top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0);
	-webkit-transform: translate3d(0,-100%, 0);  
	-moz-transform: translate3d(0,-100%, 0);
	-ms-transform: translate3d(0,-100%, 0); 
	-o-transform: translate3d(0,-100%, 0); 
	top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); 
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0); 
	-o-transform:translate3d(0,0,0); 
	top:0;
    
}

.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:10px;
    right:auto; 
	left:20px;
    width:auto;
	color: aqua;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    margin-bottom:5px; 
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border:1px solid #1DA1F2;
	background: #1DA1F2;
}
.carousel-indicators li:active{
	margin-bottom:5px;
}


#slide-wrapper .flex-container {
  display: flex;
  flex-direction: row;
}

#slide-wrapper .flex-item-left {
  padding: 10px;
  flex: 50%;
}

#slide-wrapper .flex-item-right {
  padding: 10px;
  flex: 50%;
  text-align: center
}
#slide-wrapper img{
   width: 100%;
	height: 100%;
   max-height: 450px;
	max-width:  450px;
	border-radius: 0px;

}

#slide-wrapper .heading2{
	font-family: Inter;
	font-weight: 500;
	font-size: 45px;
	letter-spacing: 0.01em;
	color: #121212;	
}

#slide-wrapper .paragraph2{
	font-family: Inter;
	font-weight: normal;
	font-size: 22px;
	letter-spacing: 0.03em;
	color: #828282;	
}

#slide-wrapper .tutor-btn{
	background: #1DA1F2;
    border-radius: 5px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 17px;
	color: #FAFAFA;
	margin-top: 15px;
	padding: 10px 20px;
}

@media only screen and (max-width: 565px) {
	#banner{
		padding:120px 20px 20px 20px;
	}
	#banner .col-md-4{
	  margin-top: 20px;
	}
	.banner-heading {
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
	letter-spacing: 0.05em;
	}
	.banner-subtitle br{
    display: none;
	}
	.banner-subtitle{
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.095em;
	margin-top: 20px;
	}
	#find-tutors .card{
	margin: 30px 20px;
	}
	#WhyChoachizz {
		padding: 20px;
		margin: 30px 0;
	}
	#WhyChoachizz .choachizz-offer{
		padding: 20px;
	} 
	#slide-wrapper{
		display: none;
	}
	#WhyChoachizz .heading1{
	font-family: Inter;
	font-weight: 600;
	font-size: 32px;
	letter-spacing: 0.01em;
	color: #121212;
	margin-top: -20px;
	margin-bottom: 30px;
	}
	#WhyChoachizz .paragraph1{
	font-family: Inter;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 0.03em;
	color: #121212;
	text-align: justify;
	}
	#WhyChoachizz .try-out-btn{
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
    background: linear-gradient(90deg, #1DA1F2 0%, #213970 112.76%);
	border: 3px solid #fff;
	border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 5px 28px;
	margin-top: 20px;
	}
	
	/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 48%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 32px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color:#EA143C;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color:#EA143C;
  text-decoration: none;
}
}

@media only screen and (min-width: 768px) {
    .WhyChoachizz-sub{
		display: none
	}
	 
}

@media only screen and (min-width: 1024px) {

	.WhyChoachizz-sub{
		display: none
	}
}