/* Banner*/

header{
   background: url(../img/Rectangle%2055.png);
      height:105vh; 
      opacity: 1;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
      background-position:center;
     
}

#banner{
   padding: 123px 100px 100px 100px;
}
.banner-heading{
    font-family: Roboto;
	font-weight: 500;
	font-size: 42px;
	color: #FFFFFF;
}
.banner-sub{
	color: #1DA1F2;
	text-decoration: underline;
	text-decoration-color: #FFE275;
}
.banner-subtitle{
    font-family: Roboto;
	font-weight: normal;
	font-size: 28px;
	color: #FFFFFF;
	text-align: justify;
	margin-top: 20px;
}
.getStart-btn{
	background: linear-gradient(90deg, #A7DFFF 0%, #1DA1F2 112.76%);
    border: 3px solid #FFFFFF;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: #000;
	padding: 5px 24px;
	margin-top: 20px;
}

.group53{
	position: absolute;
	right: 0px;
	top:320px;
	max-width: 500px;
	
}

#HowWorks{
	margin: 100px 0;
	padding: 0 100px;
}

#HowWorks h1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 64px;
	color: #213970;
}

#HowWorks .ellipse{
	position: relative;
}

#HowWorks .images{
	position: absolute;
	left: 10px;
	top: 70px;
}

#HowWorks .heading1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	color: #213970;
	margin-top: 70px;
	margin-left: 30px;
}

#HowWorks .group33{
	position: absolute;
	bottom: 10px;
}

#we-offer{
	margin: 50px 0;
	padding: 0 100px;
}

#we-offer{
	background: url(../img/Rectangle%2056.png);
      opacity: 1;
	  width: 100%;
	  height: auto;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}


#offers1{
	background: url(../img/Group%2050.png);
	opacity: 1;
	width: 100%;
	height: 100%;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
}

#offers2{
	background: url(../img/Group%2052.png);
	opacity: 1;
	width: 100%;
	height: 100%;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
}

#we-offer .heading2{
	position: absolute;
	font-family: Roboto;
	font-weight: 500;
	font-size: 64px;
	text-align: right;
	color: #213970;
	right: 30px;
	margin-top: -150px;
}

#we-offer .row{
	box-shadow: 3px 10px 20px #1D98E7;
	margin: 50px 0
}

#we-offer .white-bg{
	background: #FFFFFF;
	padding: 10px;
}

#we-offer .blue-bg{
	background: #014C96;
	padding: 20px 20px 20px 40px;
}

#we-offer .offer-images{
	max-height: 270px;
	max-width: 300px;
	border-radius: 0px;
	width: 100%;
	height: 100%;
} 

#we-offer h1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
}

#we-offer p{
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	text-align: justify;
	color: #A7DFFF;
}

#we-offer .link-btns{
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: #023B7D;
	background: #FFFFFF;
	box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	padding: 5px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}



/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 48%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 52px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  color:#EA143C;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color:#EA143C;
  text-decoration: none;
}

@media only screen and (max-width: 565px) {

header{
   background: url(../img/Rectangle%2055.png);
      height:135vh; 
      opacity: 1;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
      background-position:center;
     
}
#banner{
   padding: 123px 20px 20px 20px;
}
#banner .col-md-6{
	padding: 20px;	
}
.banner-heading{
    font-family: Roboto;
	font-weight: 500;
	font-size: 28px;
	color: #FFFFFF;
}
.banner-sub{
	color:  #204A85;
	text-decoration: underline;
	text-decoration-color: #FFE275;
}
.banner-subtitle{
    font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	color: #FFFFFF;
	text-align: justify;
	margin-top: 20px;
}
.getStart-btn{
	background: linear-gradient(90deg, #1DA1F2 0%, #213970 112.76%);
    border: 3px solid #FFFFFF;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	padding: 5px 24px;
	margin-top: 20px;
}

.group53{
	position: absolute;
	right: 0px;
	top:650px;
	max-width: 500px;
	max-height: 400px
}	
#HowWorks{
	margin: 30px 0;
	padding: 20px;
}
#HowWorks h1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 28px;
	color: #213970;
}

#HowWorks .ellipse{
	position: relative;
}

#HowWorks .images{
	position: absolute;
	left: 20px;
	top: 85px;
}

#HowWorks .col-md-1{
	display: none;
}

#HowWorks .col-md-3{
	padding: 30px 0;
}
	
#HowWorks .heading1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 24px;
	color: #213970;
	margin-top: 70px;
	margin-left: 30px;
}
#we-offer{
	margin: 30px 0;
	padding: 20px;
}

#offers1{
	margin-top: -180px;	
	}
#we-offer .heading2{
	position: absolute;
	font-family: Roboto;
	font-weight: 500;
	font-size: 30px;
	text-align: right;
	color: #213970;
	right: 30px;
	margin-top: -260px;
}

#we-offer .row{
	box-shadow: 3px 10px 20px #1D98E7;
	margin: 50px 0
}

#we-offer .white-bg{
	background: #FFFFFF;
	padding: 10px;
}

#we-offer .blue-bg{
	background: #1DA1F2;
	padding: 20px;
}


#we-offer h1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
}

#we-offer p{
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	text-align: justify;
	color: #A7DFFF;
}

#we-offer .link-btns{
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: #023B7D;
	background: #FFFFFF;
	box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	padding: 5px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 48%;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 32px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color:#EA143C;
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a.back-to-top:hover, a.back-to-top:focus {
  color:#EA143C;
  text-decoration: none;
}	
	
}

	
	
	
	
	
	