/* Navigation bar*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
    background-color: transparent;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.navbar-custom{
    background-color: black;
    padding: 5px 100px;
    color: white;
    clear: both;
    margin-bottom: 20px;
}
.navbar-nav .nav-item a{
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.enquiry-btn{
    padding: 8px 34px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
	border-radius: 0px;
}
#certificate-form{
	padding-top: 150px;
	height:94vh;
}
#certificate-form .heading1{
	font-family: Quicksand;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	letter-spacing: 0.08em;
	color: #000000;
	margin-bottom: 50px;
}

#certificate-form input{
	border: 1px solid #000000;
    border-radius: 0px;
}
#certificate-form .btn{
	font-family: Poppins;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	background: #58579E;
    border-radius: 0px;
}
#certificate-form  input::-webkit-input-placeholder {
    font-family: Poppins;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
}

#certificate-form  input::-moz-placeholder {
    font-family: Poppins;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
}

#certificate-form  input::-ms-placeholder {
    font-family: Poppins;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
}

#certificate-form  input::placeholder {
    font-family: Poppins;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
}
#footer{
	background: linear-gradient(102.67deg, #0E0E0E 0%, #303581 39.9%, #6B43A8 70.26%, #AF41C5 100%);
}
#footer .footer-copyright{
	font-family: Poppins;
	font-weight: normal;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding: 8px 0;
}
#footer a{
	text-decoration: none;
	color: white;
}
@media only screen and (max-width: 565px) {
    .navbar-custom{
        padding: 10px 20px;
        position: fixed;
        background: #000000;
    }
    .navbar-nav .nav-item{
        padding:5px 0px;
        color: white;
    }
	#certificate-form .col-lg-4{
		padding: 20px;
	}
}
@media only screen and (min-width: 768px) {
    .navbar-nav .nav-item{
        padding: 0px;
    }
	#certificate-form .btn{
	font-family: Poppins;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	background: #58579E;
    border-radius: 0px;
   }
}

@media only screen and (min-width: 1200px) {
    .navbar-nav .nav-item{
        padding: 0px 30px;
    }
   	#certificate-form .btn{
	font-family: Poppins;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	background: #58579E;
    border-radius: 0px;
   }
}