{% extends "dashboard/base.html" %}
{% load static %}
{% block head-title %}
Institute Dashboard
{% endblock head-title %}


{% block extra-stylesheets %}

{% endblock extra-stylesheets %}


{% block extra-style %}

{% endblock extra-style %}

{% block notifications %}
{% if errors %}
<div class="alert alert-danger" role="alert">
  <div id='errorsBox'>
    <div>
      <h5
        style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
        Error !</h5>
      <ul>
        {% for x in errors %}
        <li>{{ x }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if messages %}
{% for k in messages%}
<div class="dropdown-item">
  <a href="">
    <div class="media">
      <div class="media-body">
        <span>
          <div class="alert alert-{{k.tags}} alert-dismissible fade show" role="alert">
            <b>{{ k }} !</b>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </span>
      </div>
    </div>
  </a>
</div>
{% endfor %}
{% else %}
<div class="dropdown-item">
  <a href="">
    <div class="media">
      <div class="user-profile">
        <img src="{% static 'assets/img/90x90.jpg' %}" alt="admin-profile" class="img-fluid">
      </div>
      <div class="media-body">
        <span>Irene Collins</span>
      </div>
    </div>
  </a>
</div>
{% endif %}
{% endblock notifications %}

{% block main-content %}
<div class="page-header">
  <div class="page-title">
    <h3>Institute Dashboard</h3>
  </div>
</div>

<div class="row layout-spacing ">

  <div class="col-xl-4 mb-xl-0 col-lg-6 mb-4 col-md-6 col-sm-12">
    <div class="widget-content-area  data-widgets br-4">
      <div class="widget  t-sales-widget">
        <div class="media">
          <div class="icon ml-2">
            <i class="">

              <img src="{% static 'assets/img/teaching-type.png' %}" style="width: 30px; height: 30px;" alt="">
            </i>
          </div>
          <div class="media-body text-right">
            <p class="widget-text mb-0">Courses Count</p>
            <p class="widget-numeric-value">{{course_count}}</p>
          </div>
        </div>
        <p class="widget-total-stats mt-2">94% New Enrollments</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 mb-xl-0 col-lg-6 mb-4 col-md-6 col-sm-12">
    <div class="widget-content-area  data-widgets br-4">
      <div class="widget  t-order-widget">
        <div class="media">
          <div class="icon ml-2">
            <i class="">
              <img src="{% static 'assets/img/student.png' %}" style="width: 30px; height: 30px;" alt="">
            </i>
          </div>
          <div class="media-body text-right">
            <p class="widget-text mb-0">Active Students</p>
            <p class="widget-numeric-value">{{student_count}}</p>
          </div>
        </div>
        <p class="widget-total-stats mt-2">{% widthratio student_count 100 8 %} New Students</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-sm-0 mb-4">
    <div class="widget-content-area  data-widgets br-4">
      <div class="widget  t-customer-widget">
        <div class="media">
          <div class="icon ml-2">
            <i class="">
              <img src="{% static 'assets/img/tutorials.png' %}" style="width: 30px; height: 30px;" alt=""></i>
          </div>
          <div class="media-body text-right">
            <p class="widget-text mb-0">Tutors Count</p>
            <p class="widget-numeric-value">{{tutor_count}}</p>
          </div>
        </div>
        <p class="widget-total-stats mt-2">{% widthratio student_count 100 12 %} New Tutors</p>
      </div>
    </div>
  </div>

</div>

<style>
  #card {
    background-color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: black;
  }
</style>
<div class="mt-4">

  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.0.0/main.min.css' rel='stylesheet' />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.0.0/main.min.js'></script>

  <div class="container" id="card">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-10">
        <div id='calendar'></div>
      </div>
    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: [
          {% for event in events %}
          {
          start: '{{ event.createdAt|date:"Y-m-d" }}',
          title: "{{ event.batchName}}",
          //start: '{{ event.startTime|time:"H:i" }}',
          end: '{{ event.endTime|time:"H:i" }}',
          id: '{{ event.id }}',
          },
          {% endfor %}
        ],
              
      });
    calendar.render();
    });

  </script>

</div>

{% endblock main-content %}

{% block extra-script %}

{% endblock extra-script %}