{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Coachizz</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='{% static "assets/css/loader.css" %}' rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" type="text/css">
    <link href='{% static "assets/css/plugins.css" %}' rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href='{% static "assets/css/ui-kit/tabs-accordian/custom-tabs.css" %}' rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href='{% static "plugins/jqvalidation/custom-jqBootstrapValidation.css" %}'>
    <!-- END PAGE LEVEL STYLES -->

    <script
      data-dapp-detection="">!function () { let e = !1; function n() { if (!e) { const n = document.createElement("meta"); n.name = "dapp-detected", document.head.appendChild(n), e = !0 } } if (window.hasOwnProperty("ethereum")) { if (window.__disableDappDetectionInsertion = !0, void 0 === window.ethereum) return; n() } else { var t = window.ethereum; Object.defineProperty(window, "ethereum", { configurable: !0, enumerable: !1, set: function (e) { window.__disableDappDetectionInsertion || n(), t = e }, get: function () { if (!window.__disableDappDetectionInsertion) { const e = arguments.callee; e && e.caller && e.caller.toString && -1 !== e.caller.toString().indexOf("getOwnPropertyNames") || n() } return t } }) } }();</script>
  </head>

  <title>
    Coaching
  </title>

<body>
  <div class="container">
    {% if errors %}
    <div class="alert alert-danger" role="alert">
      <div id='errorsBox'>
        <div>
          <h5
            style="color: red;text-shadow:-0.5px -0.5px 0 #000,0.5px -0.5px 0 #000,-0.5px 0.5px 0 #000,0.5px 0.5px 0 #000;">
            Error !</h5>
          <ul>
            {% for x in errors %}
            <li>{{ x }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Modal -->
    <div class="card mt-5 mb-3">
      <div class="statbox widget box box-shadow">
        <div class="widget-header border-bottom border-default">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h4>Validation</h4>
            </div>
          </div>
        </div>
        <div class="widget-content widget-content-area">

          <form method="post" id="f-validation" class="underline-content" novalidate="novalidate">
            {% csrf_token %}
            <div id="validation">
              <ul class="nav nav-tabs mb-4 justify-content-between nav-pills" id="vValidation" role="tablist">
                <li class="nav-item">
                  <a class="nav-link nav-item active btn-rounded" id="rounded-pills-home-tab4" data-toggle="tab"
                    href="#simple-ex-2-1" role="tab" aria-selected="false"><i class="flaticon-home-fill-1"></i>
                    Personal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-item btn-rounded" id="rounded-pills-profile-tab4" data-toggle="tab"
                    href="#simple-ex-2-2" role="tab" aria-selected="true"><i class="flaticon-user-7"></i> Details</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link nav-item btn-rounded" id="ronded-pills-contact-tab4" data-toggle="tab"
                    href="#simple-ex-2-3" role="tab" aria-selected="false"><i class="flaticon-telephone"></i> Extra</a>
                </li>
              </ul>
              <div class="progress progress-md">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 33.3333%;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="tab-content form-valid" id="vValidationContent">
                <div class="tab-pane fade show active" id="simple-ex-2-1" role="tabpanel">
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="experience">Experience<span class="text-danger">*</span></label>
                    <div class="controls">
                      <input type="number" min="0" class="form-control" id="experience" name='experience'
                        placeholder="Experience" required>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="qualification">Qualification<span
                        class="text-danger">*</span></label>
                    <div class="controls">
                      <input type="text" class="form-control" id="qualification" name='qualification'
                        placeholder="Qualification" required>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="description">Description<span class="text-danger">*</span></label>
                    <div class="controls">
                      <textarea class="form-control" id="description" name='description' placeholder="About Yourself"
                        rows="3" required></textarea>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="demo">Free Demo Available</label>
                    <div class="controls">
                      <select class="form-control" id="demo" name="demo" required>
                        <option selected value="0">No</option>
                        <option value="1">Yes</option>
                      </select>
                      <p class="help-block"></p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="simple-ex-2-2" role="tabpanel">
                  <div class="outside">
                    <div class="row entry">
                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="class">Class<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <select class="form-control class" name="class" onchange="selectclass(this)" required>
                            <option selected disabled value="">Select an option</option>
                            {% for x,y in data.items %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                            <option style="display: none;">Assignment Solutions</option>
                          </select>
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="course">Course<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <select class="form-control course" name="course" required>
                            <option selected disabled value="">Select an option</option>
                            <option style="display: none;">Assignment Solutions</option>
                          </select>
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="teach">Teaching Type<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <select class="form-control teach" name="teach" required>
                            <option selected disabled value="">Select an option</option>
                            <option value="Online Tutor">Online Tutor</option>
                            <option value="Institute">Group</option>
                            <option value="Home Tutor">Home Tutor</option>
                            <option value="Assignment Solutions">Assignment Solutions</option>
                          </select>
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="fees">Fees<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <input type="number" min="0" class="form-control fees" name="fees" required
                            placeholder="Fees">
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12  col-12 d-flex justify-content-end">
                        <button class="btn btn-success btn-md" type="button" onclick="duplicate(this)">Add
                          Course</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="simple-ex-2-3" role="tabpanel">
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="photo">Picture</label>
                    <div class="controls">
                      <input type="file" class="form-control" id="photo" name="photo">
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="gender">Gender<span class="text-danger">*</span></label>
                    <div class="controls">
                      <select id="gender" name="gender" class="form-control" required>
                        <option disabled selected>Select an option</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="idcard">Select ID<span class="text-danger">*</span></label>
                    <div class="controls">
                      <select id="idcard" name="idcard" class="form-control" required>
                        <option disabled selected>Select an option</option>
                        <option value="PAN">PAN</option>
                        <option value="Aadhar">Aadhar</option>
                        <option value="Passport">Passport</option>
                        <option value="Voter ID">Voter ID</option>
                        <option value="Driving License">Driving License</option>
                      </select>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="idnum">ID Number<span class="text-danger">*</span></label>
                    <div class="controls">
                      <input id="idnum" name="idnum" type="text" placeholder="Enter ID number" class="form-control"
                        required>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="form-group control-group mb-4">
                    <label class="control-label" for="idimg">Upload ID Image<span class="text-danger">*</span></label>
                    <div class="controls">
                      <input type="file" class="form-control" name="idimg" id="idimg" required>
                      <p class="help-block"></p>
                    </div>
                  </div>
                </div>
                <ul class="pagination justify-content-between pager wizard mt-4">
                  <li class="previous mt-3 disabled"><a href="javascript:void(0);"
                      class="btn-rounded bg-primary btn-primary ml-1">Previous</a></li>
                  <li class="next mt-3"><a href="javascript:void(0);"
                      class="btn-rounded bg-primary btn-primary ml-1">Next</a></li>
                </ul>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src='{% static "assets/js/libs/jquery-3.1.1.min.js" %}'></script>
  <script src='{% static "assets/js/loader.js" %}'></script>
  <script src='{% static "bootstrap/js/popper.min.js" %}'></script>
  <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  <script src='{% static "plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}'></script>
  <script src='{% static "assets/js/app.js" %}'></script>

  <script>
    $(document).ready(function () {
      App.init();
    });
  </script>
  <script src='{% static "assets/js/custom.js" %}'></script>
  <!-- END GLOBAL MANDATORY SCRIPTS -->
  
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src='{% static "plugins/bootstrap-wizard/jquery.bootstrap.wizard.js" %}'></script>
  <script src='{% static "plugins/bootstrap-wizard/jquery.validate.min.js" %}'></script>
  <!-- END PAGE LEVEL SCRIPTS -->
  <script>
    $('#simple-1').bootstrapWizard();
    $('#simple-2').bootstrapWizard();
    $('#validation').bootstrapWizard({
      onNext: function (tab, navigation, index) {
        var $valid = $("#f-validation").valid();
        if (!$valid) { $validator.focusInvalid(); return false; }
        if(index==3){ reName(); $('form')[0].submit(); }
      },

      onTabChange: function (tab, navigation, index) {
        var $valid = $("#f-validation").valid();
        if (!$valid) { $validator.focusInvalid(); return false; }
      },

      onTabShow: function (tab, navigation, index) {
        var $total = navigation.find('li').length;
        var $current = index + 1;
        var $percent = ($current / $total) * 100;
        $('#validation .progress-bar').css({ width: $percent + '%' });
        if(index==2){ $('.next>a').text('Submit'); }
        else{ $('.next>a').text('Next'); }
      },
    });

    var $validator = $("#f-validation").validate({
      rules: {
        experience: {
          required: true,
        },
        qualification: {
          required: true,
        },
        description: {
          required: true,
          minlength: 3,
        },
        class: {
          required: true,
        },
        course: {
          required: true,
        },
        teach: {
          required: true,
        },
        fees: {
          required: true,
        },
        gender: {
          required: true,
        },
        idcard: {
          required: true,
        },
        idnum: {
          required: true,
          documentVerify:true,
        },
        idimg: {
          required: true,
        },
      },
    });

    var msg;

    $.validator.addMethod('documentVerify',function(value) {

      var idtype = $("#idcard").val();
      var pattern;

        if (idtype == "PAN") {
          pattern = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/;
        }
        else if (idtype == "Aadhar") {
          pattern = /^[0-9]{12}$/;
        }
        else if (idtype == "Passport") {
          pattern = /^[A-Z][0-9]{8}$/;
        }
        else if (idtype == "Voter ID") {
          pattern = /^([a-zA-Z]){3}([0-9]){7}?$/g;
        }
        else if (idtype == "Driving License") {
          pattern = /^(([A-Z]{2}[0-9]{2})( )|([A-Z]{2}-[0-9]{2}))((19|20)[0-9][0-9])[0-9]{7}$/;
        }
        msg = msg = "Please Enter a valid " + idtype + " Number";
        return pattern.test(value);
    },message)

    function message(){
      return msg;
    }

  </script>
  <script>
    function reName() {
      let classAll = $('.class');
      let courseAll = $('.course');
      let teachAll = $('.teach');
      let feesAll = $('.fees');
      
      for (let index = 0; index < $('.class').length; index++) {
        $(classAll[index]).attr('name','class');
        $(courseAll[index]).attr('name','course');
        $(teachAll[index]).attr('name','teach');
        $(feesAll[index]).attr('name','fees');
      }
    }
    
    function duplicate() {
      let no = $('.course').length;
      $('.outside').append(`<div class="row entry">
                      
                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="class">Class<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <select class="form-control class" name="class${no}" onchange="selectclass(this)" required>
                            <option selected disabled value="">Select an option</option>
                            {% for x,y in data.items %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                            <option style="display: none;">Assignment Solutions</option>
                          </select>
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="course">Course<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <select class="form-control course" name="course${no}" required>
                            <option selected disabled value="">Select an option</option>
                            <option style="display: none;">Assignment Solutions</option>
                          </select>
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="teach">Teaching Type<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <select class="form-control teach" name="teach${no}" required>
                            <option selected disabled value="">Select an option</option>
                            <option value="Online Tutor">Online Tutor</option>
                            <option value="Institute">Group</option>
                            <option value="Home Tutor">Home Tutor</option>
                            <option value="Assignment Solutions">Assignment Solutions</option>
                          </select>
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-5 col-12 input-group form-group control-group">
                        <label class="control-label col-sm-5 col-5 mt-2" for="fees">Fees<span
                            class="text-danger">*</span></label>
                        <div class="controls">
                          <input type="number" min="0" class="form-control fees" name="fees${no}" required
                            placeholder="Fees">
                          <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12  col-12 d-flex justify-content-end">
                            <button class="btn btn-success" type="button" onclick="removeduplicate(this)">Remove</button>
                        </div>
                    </div>`)
    }

    function removeduplicate(el) {
      $(el).closest(".entry").empty().trigger("change");
    }

    function selectclass(el) {
      var data = {{ data| safe }};
      courses = data[el.value];

      $(el).closest(".entry").find(".course").empty().trigger("change");
      var newOption = new Option(
        "Select an option",
        "",
        false,
        false
      );
      $(el).closest(".entry").find(".course").append(newOption).trigger("change");
      $(el).closest(".entry").find(".course").append(`<option style="display: none;">Assignment Solutions</option>`).trigger("change");

      for (i = 0; i < courses.length; i++) {
        var newOption = new Option(
          courses[i],
          courses[i],
          false,
          false
        );
        $(el).closest(".entry").find(".course").append(newOption).trigger("change");
      }
    }
  
    $(document).ready(() => {
      if (performance.navigation.type == 2) {
        location.reload();
      }
    });
    
  </script>
</body>

</html>